<template>
    <div id="page-wrapper">
        <sidebar></sidebar>

        <div class="page-container" v-if="!isInitializing">
            <app-header :page-title="pageTitle"/>

            <div class="page-content">
                <div class="page-content-inner">
                    <div class="page-header">
                        <template v-if="id && model[modelTitleField]">
                            <page-title v-bind:title="model[modelTitleField]" size="big"></page-title>
                        </template>
                        <template v-else>
                            <div></div>
                        </template>

                        <div class="toolbar">
                            <button class="btn hollow" @click="goBack(backRoute)">{{ $i18n.get('actions.back') }}</button>
                            <button class="btn hollow-danger" v-if="id" @click="submitDelete">{{ $i18n.get('actions.remove') }}</button>
                            <button class="btn primary" :disabled="invalid" @click="onSubmit">{{ $i18n.get('actions.save') }}</button>
                        </div>
                    </div>

                    <div>
                        <form @submit.prevent="onSubmit($event)">
                            <model-form
                                :key="$route.path"
                                :definition="definition"
                                :model="model"
                                :errors="errors"
                                v-model:invalid="invalid"
                                v-model:uploading="uploading">
                            </model-form>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import { goBackMixin } from '../../../shared/js/Mixins/goBackMixin';
import { addOrEditMixin } from '../../../shared/js/Mixins/addOrEditMixin';

export default {
    mixins: [addOrEditMixin, goBackMixin],

    components: {
        AppHeader: defineAsyncComponent(() => import('../../../shared/js/Components/Header')),
        Sidebar: defineAsyncComponent(() => import('../Components/Sidebar/Sidebar')),
        PageTitle: defineAsyncComponent(() => import('../../../shared/js/Components/PageTitle')),
        ModelForm: defineAsyncComponent(() => import('../../../shared/js/Components/ModelForm'))
    }
};
</script>

<style scoped lang="scss">
</style>
