<template>
    <div class="app-container patterned-bg">
        <router-view :key="$route.path"></router-view>
        <error-modal></error-modal>
        <success-modal></success-modal>
        <confirm-modal></confirm-modal>
        <toast></toast>
        <loader></loader>
        <notifications-holder></notifications-holder>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import eventBus from '../../../shared/js/Helpers/eventBus';

export default {
    components: {
        NotificationsHolder: defineAsyncComponent(() => import('../Components/Notifications'))
    },

    mounted() {
        eventBus.on('logout', this.onLogout);
    },

    methods: {
        onLogout() {
            if (this.$router.currentRoute && this.$router.currentRoute.name !== 'login') {
                this.$router.push({
                    name: 'login'
                });
            }
        }
    }
};
</script>

<style scoped lang="scss">

</style>
