<template>
    <div id="page-wrapper">
        <sidebar/>

        <div class="page-container">
            <app-header :page-title="$i18n.get('views.dashboard.singular')"/>

            <div class="page-content">
                <vue-cal style="height: 100%;" />
            </div>
        </div>
    </div>
</template>

<script>
import Sidebar from '../Components/Sidebar/Sidebar';
import AppHeader from '../../../shared/js/Components/Header';
import VueCal from 'vue-cal';
import 'vue-cal/dist/vuecal.css';

export default {
    components: {
        AppHeader,
        Sidebar,
        VueCal
    },

    methods: {
    }
};
</script>

<style scoped lang="scss">
</style>
