<template>
    <div id="page-wrapper">
        <sidebar/>

        <div class="page-container">
            <app-header :page-title="pageTitle"/>

            <div class="page-content">
                <div class="page-content-inner">
                    <div class="page-header">
                        <div class="field-wrap search">
                            <input type="text" class="field" v-model="search" :placeholder="$i18n.get('actions.search')">
                        </div>

                        <div class="toolbar">
                            <button class="btn normal" @click="onAdd" v-if="actions.add">
                                {{ $i18n.get('actions.create_attr', {attribute: modelNameSingular.toLowerCase()}) }}
                            </button>
                        </div>
                    </div>

                    <div class="page-content">
                        <model-list
                            ref="modelList"
                            :key="$route.path"
                            :endpoint="endpoint"
                            :custom-params="customParams"
                            :columns="listColumns"
                            :search-query="search"
                            :search-columns="searchColumns">
                            <template v-slot:actions="{row}">
                                <button class="btn action edit" :title="$i18n.get('actions.edit')" @click="onEdit(row)" v-if="actions.edit">
                                    <pencil-icon class="icon-1-5x" :title="$i18n.get('actions.edit')"/>
                                </button>
                                <button class="btn action delete" :title="$i18n.get('actions.remove')" @click="onDelete(row)" v-if="actions.delete">
                                    <delete-icon class="icon-1-5x" :title="$i18n.get('actions.remove')"/>
                                </button>
                            </template>
                        </model-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import i18n from '../../../shared/js/Helpers/i18n';

export default {
    inject: ['$http', '$currentUser', '$i18n'],

    components: {
        AppHeader: defineAsyncComponent(() => import('../../../shared/js/Components/Header')),
        Sidebar: defineAsyncComponent(() => import('../Components/Sidebar/Sidebar')),
        ModelList: defineAsyncComponent(() => import('../../../shared/js/Components/ModelList')),
        DeleteIcon: defineAsyncComponent(() => import('../../../shared/js/Icons/Delete')),
        PencilIcon: defineAsyncComponent(() => import('../../../shared/js/Icons/Pencil'))
    },

    props: {
        endpoint: String,
        pageTitle: String,
        modelNameSingular: String,
        modelTitleField: {
            type: String,
            default: function() {
                return 'name';
            }
        },
        listColumns: {
            type: Object,
            default: function() {
                return {
                    name: i18n.get('fields.name')
                };
            }
        },
        searchColumns: {
            type: String,
            default: function() {
                return 'name';
            }
        },
        customParams: Object,
        actions: {
            type: Object,
            default: function() {
                return {
                    add: true,
                    edit: true,
                    delete: true
                };
            }
        },
        addRouteName: String,
        editRouteName: String
    },

    data() {
        return {
            search: ''
        };
    },

    methods: {
        onAdd() {
            this.$router.push({
                name: this.addRouteName
            });
        },

        onEdit(row) {
            this.$router.push({
                name: this.editRouteName,
                params: {
                    id: row.id
                }
            });
        },

        onDelete(row) {
            this.$modal.show(
                'confirm',
                null,
                this.$i18n.get('generic.confirm_remove_model_message', {model: row[this.modelTitleField]}),
                null,
                null,
                () => {
                    this.delete(row);
                }
            );
        },

        async delete(row) {
            this.$loading.show();
            await this.$http.delete(this.endpoint + '/' + row.id).then(() => {
                return this.$refs.modelList.load();
            }).catch((err) => {
                console.error(err);
                this.$modal.show('error');
                return true;
            });
            this.$loading.hide();
        }
    }
};
</script>

<style scoped lang="scss">
</style>
