<template>
    <div id="page-wrapper">
        <div id="login-page" class="page-container">
            <div class="content">
                <div class="login-form">
                    <h1 class="gradient">
                        {{ $i18n.get('auth.login') }}
                    </h1>

                    <login-form @onLogin="onLogin"></login-form>
                </div>

                <div class="sign-up">
                    <h3 class="stylized secondary">
                        {{ $i18n.get('auth.no_account') }}
                    </h3>
                    <button class="btn secondary-filled expand drop-shadow" @click="goToRegister">
                        {{ $i18n.get('auth.actions.sign_up') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import LoginForm from '../../../shared/js/Components/Login/LoginForm';
import useAuthStore from '../../../shared/js/Stores/auth';

export default {
    components: {
        LoginForm
    },

    beforeRouteEnter(to, from, next) {
        const auth = useAuthStore();
        auth.isLoggedIn().then(isLoggedIn => {
            if (isLoggedIn) {
                if (to.query.redirect) {
                    next(to.query.redirect);
                } else {
                    next({
                        name: 'home'
                    });
                }
            } else {
                next();
            }
        }).catch(err => {
            next();
        });
    },

    methods: {
        onLogin() {
            return this.$router.push({
                name: 'home'
            });
        },

        goToRegister() {
            this.$router.push({
                name: 'register'
            });
        }
    }
};
</script>

<style scoped lang="scss">
#login-page {
    height: 100%;
    display: flex;
    align-items: center;

    .content {
        width: 350px;
        margin: 0 auto;
        border-radius: calc(var(--global-radius) * 2);
        background: #fff;
        box-shadow: var(--box-shadow);

        .login-form {
            margin: 0 auto;
            padding: 0 var(--global-spacing) var(--global-spacing);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sign-up {
            padding: 0 var(--global-spacing) var(--global-spacing);
            background: var(--color-light);
            background: linear-gradient(180deg, var(--color-light-shade) 0%, var(--color-light) 20%);
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom-left-radius: calc(var(--global-radius) * 2);
            border-bottom-right-radius: calc(var(--global-radius) * 2);

            h3 {
                font-size: var(--font-size-big);
                margin-bottom: var(--global-spacing-quarter);
            }
        }
    }
}
</style>
