<template>
    <div id="not-found-page">
        <div class="page-container">
            <div id="header-logo">
                <img src="/assets/images/logo.svg" :alt="env.APP_NAME">
            </div>

            <div class="content">
                <div class="info">
                    <h1>404</h1>
                    <p>{{ $i18n.get('generic.404') }}</p>

                    <button class="btn primary expand" @click="goHome">
                        {{ $i18n.get('actions.go_home') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {envMixin} from '../../../shared/js/Mixins/envMixin';

export default {
    mixins: [envMixin],

    methods: {
        goHome() {
            this.$router.push({
                name: 'home'
            });
        }
    }
};
</script>

<style scoped lang="scss">
    #header-logo {
        max-width: 400px;
        margin: 0 auto;
    }

    .content {
        margin: 0 auto;
        max-width: 300px;

        h1 {
            text-align: center;
            font-size: 3em;
        }
    }
</style>
