<template>
    <div id="page-wrapper">
        <sidebar-menu/>

        <div class="page-container">
            <h1 class="page-title">{{ $i18n.get('views.profile.singular') }}</h1>

            <div class="page-content">
                <form @submit.prevent="onSubmit">
                    <user-avatar :user="user"></user-avatar>
                    <h2>[Change avatar]</h2>
                    <avatar-field
                        v-if="avatarDefinition"
                        v-model="user.avatar"
                        id="user-avatar"
                        :errors="errors['avatar']"
                        :field="avatarDefinition">
                    </avatar-field>
                    <button class="btn primary">[Save your settings]</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import SidebarMenu from '../Components/Sidebar/Sidebar';
import cloneDeep from 'lodash/cloneDeep';
import useAuthStore from '../../../shared/js/Stores/auth';

export default {
    components: {
        SidebarMenu,
        AvatarField: defineAsyncComponent(() => import('../../../shared/js/Components/Fields/ImageUploadField')),
        UserAvatar: defineAsyncComponent(() => import('../../../shared/js/Components/User/Avatar')),
    },

    setup() {
        const auth = useAuthStore();
        return {
            auth
        };
    },

    data() {
        return {
            user: {
                avatar: {}
            },
            userDefinition: {},
            errors: {}
        };
    },

    computed: {
        avatarDefinition() {
            if(
                this.userDefinition.field_groups &&
                this.userDefinition.field_groups.general &&
                this.userDefinition.field_groups.general.fields
            ) {
                return this.userDefinition.field_groups.general.fields.find((item) => {
                    if (item.name === 'avatar') {
                        return item;
                    }
                });
            }

            return null;
        }
    },

    mounted() {
        this.getUserDefinition();
        this.user = cloneDeep(this.auth.user);
    },

    methods: {
        async getUserDefinition() {
            this.userDefinition = await this.$http.get('users/definition').then((response) => {
                return response.data.data;
            }).catch((err) => {
                this.$modal.show('error', '[Could not load settings]', '[Contact support]');
            });
        },

        onSubmit() {
            const data = cloneDeep(this.user);
            this.$loading.show();

            this.$http.patch('users/me', {
                data
            }).then((response) => {
                this.$modal.show('info','[Saved]', '[Your settings has been saved]');
                this.auth.setUser(response.data.data);
                this.user = response.data.data;
            }).catch((err) => {
                this.onSubmitError(err);
            }).finally(() => {
                this.$loading.hide();
            });
        },

        onSubmitError(error) {
            if (
                error.response &&
                error.response.status === 422 &&
                error.response.data.error_info.validation_errors &&
                Object.keys(error.response.data.error_info.validation_errors).length
            ) {
                this.$toast.show(this.$i18n.get('auth.registration_failed_title'), error.response.data.error, 'error');
                this.errors = error.response.data.error_info.validation_errors;
            } else {
                console.error(error);
                this.$modal.show('error');
            }
        }
    }
};
</script>

<style scoped lang="scss">
.page-title {
    color: var(--color-light-txt);
}

.page-content {
    background-color: var(--color-content-bg);
    padding: var(--global-spacing);
    border-radius: var(--global-radius);
}

.products {
    display: flex;
    gap: var(--global-spacing);
    align-items: flex-end;
    flex-wrap: wrap;
}
</style>
