<template>
    <div id="page-wrapper">
        <div id="register-page" class="page-container">
            <div class="content">
                <div class="register-form">
                    <h1>
                        {{ $i18n.get('auth.sign_up') }}
                    </h1>

                    <register-form @onRegister="goToLogin"></register-form>
                </div>

                <div class="go-to-login">
                    <h3 class="stylized secondary">
                        {{ $i18n.get('auth.already_have_account') }}
                    </h3>
                    <button class="btn secondary-filled expand" @click="goToLogin">{{ $i18n.get('auth.actions.login') }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RegisterForm from '../../../shared/js/Components/Login/RegisterForm';

export default {
    components: {
        RegisterForm
    },

    methods: {
        goToLogin() {
            this.$router.push({
                name: 'login'
            });
        }
    }
};
</script>

<style scoped lang="scss">
#register-page {
    height: 100%;
    display: flex;
    align-items: center;

    .content {
        width: 350px;
        margin: 0 auto;
        border-radius: calc(var(--global-radius) * 2);
        background: #fff;
        box-shadow: var(--box-shadow);

        .register-form {
            margin: 0 auto;
            padding: 0 var(--global-spacing) var(--global-spacing);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .go-to-login {
            padding: 0 var(--global-spacing) var(--global-spacing);
            background: var(--color-light);
            background: linear-gradient(180deg, var(--color-light-shade) 0%, var(--color-light) 20%);
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom-left-radius: calc(var(--global-radius) * 2);
            border-bottom-right-radius: calc(var(--global-radius) * 2);
        }
    }
}
</style>
