<template>

    <div class="field-wrap" :id="id" :class="['align-'+alignment]">
        <div class="field-wrap-inner">
            <template v-if="stylingFormat === 'toggle'">
                <div class="field-label-wrap">
                    <label v-if="field.label" :for="id + '-input'">
                        {{ field.label }}<span class="required-asterix" v-if="field.required"> *</span>
                    </label>
                </div>

                <div class="toggle">
                    <button type="button" class="btn expand" @click="internalValue = true" :class="[(internalValue) ? 'normal-filled' : 'hollow']">
                        {{ $i18n.get('generic.yes') }}
                    </button>
                    <button type="button" class="btn expand" @click="internalValue = false" :class="[(!internalValue) ? 'normal-filled' : 'hollow']">
                        {{ $i18n.get('generic.no') }}
                    </button>
                </div>
            </template>

            <template v-else-if="stylingFormat === 'switch'">
                    <div class="field-label-wrap">
                        <label v-if="field.label" :for="id + '-input'">
                            {{ field.label }}<span class="required-asterix" v-if="field.required"> *</span>
                        </label>
                    </div>
                    <div class="switch-wrap">
                        <input :name="field.name"
                               :id="id + '-input'"
                               type="checkbox"
                               style="display: none;"
                               :class="{'invalid': (invalid && internalErrors && internalErrors.length)}"
                               v-model="internalValue"
                               />
                        <label :for="id + '-input'"></label>
                    </div>
            </template>

            <template v-else>
                <div class="field-label-wrap">
                    <div class="field">
                        <label v-if="field.label" :for="id + '-input'">
                            <checkbox-marked-icon class="icon-2x" v-if="internalValue"></checkbox-marked-icon>
                            <checkbox-blank-outline-icon class="icon-2x" v-else></checkbox-blank-outline-icon>

                            <input
                                :name="field.name"
                                :id="id + '-input'"
                                type="checkbox"
                                style="display: none;"
                                :class="{'invalid': (invalid && internalErrors && internalErrors.length)}"
                                v-model="internalValue">

                            {{ field.label }}<span class="required-asterix" v-if="field.required"> *</span>
                        </label>
                    </div>
                </div>
            </template>
        </div>

        <div class="field-description" v-if="field.description">{{ field.description }}</div>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>
    </div>

</template>

<script>
import { defineAsyncComponent } from 'vue';

export default {
    props: {
        id: String,
        field: Object,
        modelValue: [Boolean, Number, String],
        errors: Array,
        alignment: {
            type: String,
            default: function() {
                return 'left';
            },
            validator: function(value) {
                return ['left', 'center'].includes(value);
            }
        },
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    components: {
        CheckboxBlankOutlineIcon: defineAsyncComponent(() => import('../../Icons/CheckboxBlankOutline')),
        CheckboxMarkedIcon: defineAsyncComponent(() => import('../../Icons/CheckboxMarked'))
    },

    data() {
        return {
            invalid: null,
            internalValue: false,
            internalErrors: []
        };
    },

    mounted() {
        if (this.modelValue !== null && typeof this.modelValue !== 'undefined') {
            this.internalValue = (!(!this.modelValue || this.modelValue === '0'));
        } else if (this.field.default) {
            this.internalValue = this.field.default;
        }

        this.validate(this.internalValue);
    },

    computed: {
        stylingFormat: function() {
            return (this.field && this.field.hasOwnProperty('extra_data') && this.field.extra_data.styling_format) ? this.field.extra_data.styling_format : '';
        }
    },

    watch: {
        modelValue: function(val) {
            if (val !== this.internalValue) {
                this.internalValue = !!(val);
            }
        },

        internalValue: function(val) {
            this.validate(val);
            this.$emit('update:modelValue', val);
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        validate: function(val) {
            this.invalid = this.field.required && !val;
        }
    }
};
</script>

<style scoped lang="scss">

    .toggle {
        display: flex;
        max-width: var(--max-input-width);

        .btn {
            border-radius: 0;

            &:first-of-type {
                border-bottom-left-radius: var(--global-radius);
                border-top-left-radius: var(--global-radius);
            }
            &:last-of-type {
                border-bottom-right-radius: var(--global-radius);
                border-top-right-radius: var(--global-radius);
            }
        }
    }

    .field {
        line-height: 0;
    }

    .field > label {
        margin-right: var(--global-spacing-third);
        user-select: none;
        cursor: pointer;
        display: inline-flex;
        align-items: center;

        :deep(svg) {
            margin-right: calc(var(--global-spacing) / 2);
        }
    }

    .horizontal-labels {
        .field-wrap-inner {
            align-items: center;
        }
        .field-label-wrap > label {
            margin-right: var(--global-spacing-third);
        }
    }

    .switch-wrap {
        display: inline-flex;
        input[type=checkbox]{
            height: 0;
            width: 0;
            visibility: hidden;
        }

        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 50px;
            height: 30px;
            background: var(--color-medium-tint-500);
            display: block;
            border-radius: 100px;
            position: relative;
            overflow: hidden;
        }

        label:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 26px;
            height: 26px;
            background: #fff;
            border-radius: 90px;
            transition: 0.3s;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        input:checked + label {
            background: var(--color-quarternary-shade-400);
        }

        input:checked + label:after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }

        label:active:after {
            width: 35px;
        }
    }

    .align-center {
        .field-wrap-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

</style>
