<template>

    <div class="field-wrap checkbox" :id="id">
        <div class="field-wrap-inner">
            <div class="field-label-wrap">
                <label v-if="field.label" :for="id + '-input'">
                    {{ field.label }}<span class="required-asterix" v-if="field.required"> *</span>
                </label>
            </div>

            <div class="field">
                <label
                    v-for="(label, optionValue) in allOptions"
                    :key="id + '-' + optionValue + '-radio-input'"
                    :for="id + '-' + optionValue + '-radio-input'">
                    <input
                        :id="id + '-' + optionValue + '-radio-input'"
                        type="checkbox"
                        hidden="true"
                        :value="optionValue"
                        v-model="internalValue">

                    <checkbox-marked-icon class="icon-2x" v-if="internalValue && internalValue.includes(optionValue)"></checkbox-marked-icon>
                    <checkbox-blank-outline-icon class="icon-2x" v-if="!internalValue || !internalValue.includes(optionValue)"></checkbox-blank-outline-icon>

                    {{ label }}
                </label>
            </div>
        </div>

        <div class="field-description" v-if="field.description">{{ field.description }}</div>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>
    </div>

</template>

<script>
import { defineAsyncComponent } from 'vue';

export default {
    props: {
        id: String,
        field: Object,
        modelValue: [Boolean, Number],
        errors: Array
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    components: {
        CheckboxBlankOutlineIcon: defineAsyncComponent(() => import('../../Icons/CheckboxBlankOutline')),
        CheckboxMarkedIcon: defineAsyncComponent(() => import('../../Icons/CheckboxMarked'))
    },

    data() {
        return {
            invalid: null,
            internalValue: [],
            internalErrors: []
        };
    },

    mounted() {
        if (this.modelValue) {
            this.internalValue = (Array.isArray(this.modelValue)) ? this.modelValue : this.modelValue.split(';');
        } else if (this.field.default) {
            this.internalValue = (Array.isArray(this.field.default)) ? this.field.default : this.field.default.split(';');
        }

        this.validate(this.internalValue);
    },

    computed: {
        stylingFormat: function() {
            return (this.field && this.field.hasOwnProperty('extra_data') && this.field.extra_data.styling_format) ? this.field.extra_data.styling_format : '';
        },

        allOptions: function() {
            return (this.field && this.field.hasOwnProperty('extra_data') && this.field.extra_data.options) ? this.field.extra_data.options : {};
        }
    },

    watch: {
        modelValue: {
            handler(val) {
                if (val !== this.internalValue) {
                    this.internalValue = val;
                }
            },
            deep: true
        },

        internalValue: {
            handler(val) {
                this.validate(val);
                this.$emit('update:modelValue', val);
            },
            deep: true
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        validate: function(val) {
            this.invalid = this.field.required && (!val || !val.length);
        }
    }
};
</script>

<style scoped lang="scss">
    .field > label {
        margin-right: var(--global-spacing-third);
        user-select: none;
        cursor: pointer;
        display: inline-flex;
        align-items: center;

        :deep(svg) {
            margin-right: calc(var(--global-spacing) / 2);
        }
    }
</style>
