<template>

    <div class="field-wrap" :id="id">
        <div class="field-wrap-inner">
            <div class="field-label-wrap">
                <label v-if="field.label" :for="id + '-input'">{{ field.label }}<span class="required-asterix" v-if="field.required"> *</span></label>
            </div>

            <input
                :name="field.name"
                :id="id + '-input'"
                :placeholder="field.placeholder"
                type="date" class="field"
                :class="{'invalid': (invalid && internalErrors && internalErrors.length)}"
                :max="formatDate(((field.extra_data && field.extra_data.max) ? field.extra_data.max : null), 'YYYY-MM-DD')"
                :min="formatDate(((field.extra_data && field.extra_data.min) ? field.extra_data.min : null), 'YYYY-MM-DD')"
                v-model="internalValue">
        </div>
        <em class="field-description" v-if="field.description">{{ field.description }}</em>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>
    </div>

</template>

<script>
import { formatDate } from '../../Helpers/formatDate';
import moment from 'moment';

export default {
    props: {
        id: String,
        field: Object,
        modelValue: String,
        errors: Array
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    data() {
        return {
            invalid: null,
            internalValue: '',
            internalErrors: []
        };
    },

    mounted() {
        if (this.modelValue) {
            this.internalValue = moment.utc(this.modelValue).local().format('YYYY-MM-DD');
        } else if (this.field.default) {
            this.internalValue = moment.utc(this.field.default).local().format('YYYY-MM-DD');
        }

        this.validate(this.internalValue);
    },

    watch: {
        modelValue: function(val) {
            if (val !== this.internalValue) {
                this.internalValue = moment.utc(val).local().format('YYYY-MM-DD');
            }
        },

        internalValue: function(val) {
            this.validate(val);
            this.$emit('update:modelValue', val);
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        formatDate,

        validate: function(val) {
            this.invalid = !!(this.field.required && !val);
        }
    }
};
</script>

<style scoped lang="scss">

</style>
