<template>
    <div class="field-wrap" :id="id" :class="{'disabled': (isDisabled)}">
        <div class="field-wrap-inner">
            <div class="field-label-wrap">
                <label v-if="field.label" :for="id + '-input'">{{ field.label }}<span class="required-asterix" v-if="field.required"> *</span></label>
            </div>

            <div class="select" :class="{'multiple': (this.field.extra_data.multiple)}">
                <div class="selected">
                    <template v-if="isLoadingInitial">
                        <div class="label">
                            {{ $i18n.get('generic.loading') }}
                        </div>
                    </template>
                    <template v-else>
                        <div class="label" v-if="selectedOptions.length && !field.extra_data.multiple" @click="toggleOptions">
                            <template v-for="displayField in displayFields">
                                {{ selectedOptions[0][displayField] }}
                            </template>
                        </div>

                        <div class="label placeholder" v-else-if="!selectedOptions.length || field.extra_data.multiple" @click="toggleOptions">
                            <template v-if="field.placeholder">
                                {{ field.placeholder }}
                            </template>
                            <template v-else-if="field.extra_data.multiple">
                                {{ $i18n.get('actions.add') }}
                            </template>
                            <template v-else>
                                {{ $i18n.get('actions.select') }}
                            </template>
                        </div>
                    </template>

                    <div class="toggle-button" v-show="!isLoadingInitial" @click="toggleOptions">
                        <chevron-down-icon v-if="!select.visible"></chevron-down-icon>
                        <chevron-up-icon v-else></chevron-up-icon>
                    </div>
                </div>

                <div class="options" v-if="select.visible">
                    <div class="search" v-if="select.showSearch">
                        <input type="text" :placeholder="$i18n.get('actions.search')" v-model="select.searchQuery">
                        <span class="query-too-short" v-if="select.searchQuery && select.searchQuery.length < 3">{{ $i18n.get('generic.search_query_too_short') }}</span>
                    </div>

                    <template v-if="!isLoadingResults">
                        <div v-if="!field.required && !field.extra_data.multiple" class="option" @click="selectOption(null)">
                            <slot name="no-option-label">
                                {{ $i18n.get('generic.no_option') }}
                            </slot>
                        </div>

                        <div
                            v-for="(option, index) in options"
                            :key="index"
                            class="option"
                            :class="{'selected-option': (internalValue && internalValue.includes(option.id))}"
                            @click="selectOption(option)">
                            <slot name="option" v-bind:option="option" v-bind:field="field" v-bind:displayFields="displayFields" v-bind:extraDisplayField="field.extra_data.extra_display_field">
                                <slot name="option-display-fields" v-bind:option="option" v-bind:field="field" v-bind:displayFields="displayFields">
                                    <template v-for="displayField in displayFields">
                                        {{ option[displayField] }}
                                    </template>
                                </slot>
                                <span v-if="field.extra_data.extra_display_field" class="extra-label">
                                    <slot name="option-extra-field" v-bind:option="option" v-bind:field="field" v-bind:extraDisplayField="field.extra_data.extra_display_field">
                                        {{ option[field.extra_data.extra_display_field] }}
                                    </slot>
                                </span>
                            </slot>
                        </div>

                        <div class="result-totals" v-if="select.showSearch && options.length && select.total > options.length">
                            {{ $i18n.get('pagination.showing_count_of_total', {count: options.length, total: select.total}) }}
                        </div>
                    </template>
                    <template v-else>
                        <div class="loading">{{ $i18n.get('generic.loading') }}</div>
                    </template>

                    <div class="no-result" v-if="!isLoadingResults && !Object.keys(options).length && (!select.showSearch || select.searchQuery)">
                        {{ $i18n.get('generic.no_result') }}
                    </div>
                </div>
            </div>
        </div>

        <div class="field-description" v-if="field.description">{{ field.description }}</div>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>

        <div class="selected-options-multiple table-list" v-if="multiValueStyle === 'table' && selectedOptions.length && field.extra_data.multiple">
            <div class="labels table-header" v-if="showLabels">
                <div class="label column" v-for="(label, displayField) of field.extra_data.display_field_labels" :key="displayField">
                    {{ label }}
                </div>
            </div>
            <div class="selected-option-row table-row" v-for="option in selectedOptions" :key="option.id">
                <template v-if="showLabels">
                    <slot name="selected-option-label" v-bind:option="option" v-bind:displayFields="displayFields">
                        <div class="selected-option-label column" v-for="(label, displayField) of field.extra_data.display_field_labels" :key="displayField">{{ option[displayField] }}</div>
                    </slot>
                </template>
                <template v-else>
                    <div class="selected-option-label column">
                        <slot name="selected-option-label" v-bind:option="option" v-bind:displayFields="displayFields">
                            <template v-for="displayField in displayFields">
                                {{ option[displayField] }}
                            </template>
                        </slot>
                    </div>
                </template>
                <div class="column actions">
                    <slot name="selected-option-actions" v-bind:option="option"/>
                    <button class="btn action delete" type="button" @click="removeOption(option)" :title="$i18n.get('actions.remove')">
                        <link-variant-off-icon :title="$i18n.get('actions.remove')"/>
                    </button>
                </div>
            </div>
        </div>

        <div class="selected-options-multiple tags" v-else-if="multiValueStyle === 'tags' && selectedOptions.length && field.extra_data.multiple">
            <div class="selected-option-tag" v-for="option in selectedOptions" :key="option.id">
                <slot name="selected-option-tag" v-bind:option="option">
                    <div class="selected-option-label">
                        <slot name="selected-option-tag-label" v-bind:option="option" v-bind:displayFields="displayFields">
                            <template v-for="displayField in displayFields">
                                {{ option[displayField] }}
                            </template>
                        </slot>
                    </div>
                    <slot name="selected-option-actions" v-bind:option="option"/>
                    <button class="btn action delete" type="button" @click="removeOption(option)" :title="$i18n.get('actions.remove')">
                        <close-icon :title="$i18n.get('actions.remove')"/>
                    </button>
                </slot>
            </div>
        </div>
    </div>

</template>

<script>
import { defineAsyncComponent, nextTick } from 'vue';
import debounce from 'lodash/debounce';
import concat from 'lodash/concat';
import find from 'lodash/find';
import merge from 'lodash/merge';
import snakeCase from 'lodash/snakeCase';

export default {
    props: {
        id: String,
        disabled: Boolean,
        field: Object,
        modelValue: [String, Number, Array],
        errors: Array,
        modelId: [String, Number],
        fullModel: Object,
        customParams: Object
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    components: {
        ChevronDownIcon: defineAsyncComponent(() => import('../../Icons/ChevronDown')),
        ChevronUpIcon: defineAsyncComponent(() => import('../../Icons/ChevronUp')),
        LinkVariantOffIcon: defineAsyncComponent(() => import('../../Icons/LinkVariantOff')),
        CloseIcon: defineAsyncComponent(() => import('../../Icons/Close'))
    },

    data() {
        return {
            invalid: null,
            internalValue: [],
            internalErrors: [],
            select: {
                visible: false,
                showSearch: false,
                searchQuery: '',
                total: 0
            },
            isLoadingInitial: true,
            isLoadingResults: true,
            hasInitialized: false,
            options: [],
            selectedOptions: [],
            loadedCustomParams: null
        };
    },

    mounted() {
        if (this.modelValue) {
            this.internalValue = Array.isArray(this.modelValue) ? this.modelValue : [this.modelValue];
        } else if (this.field.default) {
            this.internalValue = Array.isArray(this.field.default) ? this.field.default : [this.field.default];
        }

        document.addEventListener('click', this.onOutsideClick);

        this.validate(this.internalValue);
        setTimeout(() => {
            this.loadInitial();
        }, 50);
    },

    beforeUnmount() {
        document.removeEventListener('click', this.onOutsideClick);
    },

    computed: {
        isDisabled: function() {
            return !!(this.disabled || this.field.disabled);
        },

        queryFields: function() {
            let queryFields = (Array.isArray(this.field.extra_data.display_field)) ? this.field.extra_data.display_field : this.field.extra_data.display_field.split(',');

            if (this.field.extra_data.extra_display_field) {
                queryFields = concat(queryFields, (Array.isArray(this.field.extra_data.extra_display_field)) ? this.field.extra_data.extra_display_field : this.field.extra_data.extra_display_field.split(','));
            }

            if (!queryFields.includes('id')) {
                queryFields.push('id');
            }

            return queryFields;
        },

        displayFields: function() {
            return (Array.isArray(this.field.extra_data.display_field)) ? this.field.extra_data.display_field : this.field.extra_data.display_field.split(',');
        },

        concatenatedDisplayFields: function() {
            let displayFields = [];

            if (this.field.extra_data.extra_display_field) {
                displayFields = concat(this.displayFields, (Array.isArray(this.field.extra_data.extra_display_field)) ? this.field.extra_data.extra_display_field : this.field.extra_data.extra_display_field.split(','));
            }

            return displayFields;
        },

        searchFields: function() {
            return (Array.isArray(this.field.extra_data.search_field)) ? this.field.extra_data.search_field : this.field.extra_data.search_field.split(',');
        },

        splitSearchQuery: function() {
            return (this.field && this.field.extra_data && this.field.extra_data.hasOwnProperty('split_query')) ? this.field.extra_data.split_query : false;
        },

        showLabels: function() {
            return Object.keys(this.concatenatedDisplayFields).length > 1 && this.field.extra_data.display_field_labels;
        },

        multiValueStyle: function() {
            return (this.field && this.field.extra_data && this.field.extra_data.styling_format) ? this.field.extra_data.styling_format : 'table';
        }
    },

    watch: {
        modelValue: {
            handler(val) {
                if (val !== this.internalValue) {
                    if (Array.isArray(val)) {
                        if (
                            (!this.internalValue || !Array.isArray(this.internalValue)) ||
                            (val.toString() !== this.internalValue.toString())
                        ) {
                            this.internalValue = val;
                            this.loadInitial();
                        }
                    } else {
                        if (
                            !this.internalValue ||
                            this.internalValue[0] !== val
                        ) {
                            this.internalValue = (val) ? [val] : [];
                            this.loadInitial();
                        }
                    }

                    nextTick(() => {
                        this.selectedOptions = this.selectedOptions.filter(
                            option => option && this.internalValue.includes(option.id));
                    });
                }
            },
            deep: true
        },

        customParams: {
            handler: function(val) {
                const stringifiedVal = (val) ? val.toString() : null;
                if (stringifiedVal !== this.loadedCustomParams) {
                    this.loadedCustomParams = stringifiedVal;
                    this.loadInitial(true);
                }
            },
            deep: true
        },

        'select.visible': function(val) {
            // Reset searchQuery on close
            if (!val) {
                this.select.searchQuery = '';
            }
        },

        'select.searchQuery': debounce(function(query) {
            if (query && query.length >= 3) {
                this.searchAPI(query);
            }
        }, 300),

        selectedOptions: {
            handler(val) {
                if (val.length && val[0]) {
                    if (this.field.extra_data.multiple) {
                        const mappedOptions = val.map((option) => {
                            return option.id;
                        });

                        if (this.internalValue.toString() !== mappedOptions.toString()) {
                            this.internalValue = mappedOptions;
                        }
                    } else {
                        this.internalValue = [val[0].id];
                    }
                } else {
                    this.internalValue = [];
                }
            },
            deep: true
        },

        internalValue: {
            handler(val) {
                this.validate(val);

                if (this.field.extra_data.multiple) {
                    this.$emit('update:modelValue', val);
                } else {
                    this.$emit('update:modelValue', (Array.isArray(val) && val.length) ? val[0] : null);
                }
            },
            deep: true
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        async loadInitial(force = false) {
            if (this.hasInitialized && (!this.modelValue || !this.modelValue.length) && !force) {
                return;
            }
            this.isLoadingInitial = true;
            this.isLoadingResults = true;
            this.select.showSearch = false;

            // Fetch the currently selected option(s)
            if (this.internalValue[0] || (this.field.extra_data.multiple && this.modelId)) {
                if (this.field.extra_data.multiple && this.modelId) {

                    const relationProp = (this.field.extra_data.relation) ? snakeCase(this.field.extra_data.relation) : null;
                    // If the provided model already has eager-loaded the relation, lets reuse that instead of calling the endpoint again
                    if (
                        relationProp &&
                            this.fullModel &&
                            this.fullModel.hasOwnProperty(relationProp) &&
                            Array.isArray(this.fullModel[relationProp])
                    ) {
                        this.selectedOptions = this.fullModel[relationProp];
                        this.isLoadingInitial = false;
                    } else {
                        let whereHasQuery = {};
                        whereHasQuery[this.field.extra_data.parent_model] = {
                            id: this.modelId
                        };

                        let params = {
                            select: this.queryFields,
                            whereHas: [whereHasQuery],
                            paginate: false
                        };

                        if (this.customParams) {
                            params = merge(params, this.customParams);
                        }

                        this.$http.get(this.field.extra_data.endpoint, {
                            params: params
                        }).then(response => {
                            this.selectedOptions = response.data.data;
                            this.isLoadingInitial = false;
                        }).catch(err => {
                            console.error(err);
                            this.isLoadingInitial = false;
                            this.$modal.show('error');
                        });
                    }

                } else {

                    const relationProp = (this.field.extra_data.relation) ? snakeCase(this.field.extra_data.relation) : null;
                    // If the provided model already has eager-loaded the relation, lets reuse that instead of calling the endpoint again
                    if (
                        relationProp &&
                            this.fullModel &&
                            this.fullModel.hasOwnProperty(relationProp)
                    ) {
                        this.selectedOptions = (this.fullModel[relationProp]) ? [this.fullModel[relationProp]] : [];
                        this.isLoadingInitial = false;
                    } else {
                        // If options has already been loaded once before and the selected option exists there, pluck value from there, otherwise fetch new
                        let selectedOption = find(this.options, (option) => this.internalValue[0] === option.id);
                        if (selectedOption) {
                            this.selectedOptions = [selectedOption];
                            this.isLoadingInitial = false;
                        } else {
                            let params = {
                                select: this.queryFields,
                                whereIn: {
                                    id: this.internalValue
                                },
                                paginate: false
                            };

                            if (this.customParams) {
                                params = merge(params, this.customParams);
                            }

                            this.$http.get(this.field.extra_data.endpoint, {
                                params: params
                            }).then(response => {
                                this.selectedOptions = response.data.data;
                                this.isLoadingInitial = false;
                            }).catch(err => {
                                console.error(err);
                                this.isLoadingInitial = false;
                                this.$modal.show('error');
                            });
                        }
                    }

                }
            } else {
                this.isLoadingInitial = false;
            }

            // Fetch first few options and determine if search is necessary
            if (!this.hasInitialized || force) {
                if (this.field.extra_data.prefetch) {
                    let params = {
                        select: this.queryFields,
                        per_page: 20
                    };

                    if (this.customParams) {
                        params = merge(params, this.customParams);
                    }

                    this.options = await this.$http.get(this.field.extra_data.endpoint, {
                        params: params
                    }).then(response => {
                        this.isLoadingResults = false;
                        let options = [];

                        if (response.data.data && response.data.data.data.length) {
                            this.select.showSearch = (response.data.data.last_page > 1);
                            this.select.total = response.data.data.total;
                            options = response.data.data.data;
                        }

                        return options;
                    }).catch(err => {
                        console.error(err);
                        this.select.total = 0;
                        this.isLoadingResults = false;
                        this.$modal.show('error');
                        return [];
                    });
                } else {
                    this.select.showSearch = true;
                    this.options = [];
                    this.select.total = 0;
                    this.isLoadingResults = false;
                }
            } else {
                this.isLoadingResults = false;
            }

            this.hasInitialized = true;
        },

        async searchAPI(query) {
            this.isLoadingResults = true;

            let params = {
                select: this.queryFields,
                search: {
                    columns: this.searchFields.join(','),
                    value: query,
                    split: this.splitSearchQuery
                },
                paginate: true,
                per_page: 20
            };

            if (this.customParams) {
                params = merge(params, this.customParams);
            }

            this.options = await this.$http.get(this.field.extra_data.endpoint, {
                params: params
            }).then(response => {
                this.select.total = response.data.data.total;
                return response.data.data.data;
            }).catch(err => {
                console.error(err);
                this.select.total = 0;
                this.$modal.show('error');
                return [];
            });
            this.isLoadingResults = false;
        },

        onOutsideClick(event) {
            if (this.select.visible && !this.$el.querySelector('.select').contains(event.target)) {
                this.toggleOptions();
            }
        },

        toggleOptions(event) {
            if (this.isDisabled) {
                this.select.visible = false;
                return;
            }

            this.select.visible = !(this.select.visible);

            if (this.select.visible && this.select.showSearch) {
                nextTick(() => {
                    const searchInput = this.$el.querySelector('.select .search > input');
                    if (searchInput) {
                        searchInput.focus();
                    }
                });
            }
        },

        selectOption(option) {
            if (option === null && !this.field.extra_data.multiple) {
                this.selectedOptions = [];
            }

            // Only add if it's not added already
            if (option !== null && !this.selectedOptions.some((selectedOption) => selectedOption.id === option.id)) {
                if (this.field.extra_data.multiple) {
                    this.selectedOptions.push(option);
                } else {
                    this.selectedOptions = [option];
                }
            }

            this.select.visible = false;
        },

        removeOption(option) {
            this.selectedOptions = this.selectedOptions.filter((selectedOption) => selectedOption.id !== option.id);
        },

        validate(val) {
            this.invalid = !!(this.field.required && (!val || !val.length));
        }
    }
};
</script>

<style scoped lang="scss">
    .field-wrap.disabled {
         .select {
             .selected {
                 cursor: not-allowed;
                 border-color: var(--color-medium-tint);
                 color: var(--color-medium);

                 .label {
                     color: var(--color-medium);
                 }

                 .toggle-button {
                     border-color: var(--color-medium-tint);
                 }
             }
        }
    }

    .select {
        display: block;
        position: relative;
        user-select: none;
        width: 100%;
        max-width: var(--max-input-width);

        /* Custom scrollbar */
        ::-webkit-scrollbar {
            width: 5px;
            transform: translateX(20px);
        }

        /* Track */
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 20px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgba(0,0,0,1);
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(0,0,0,0.4);
        }

        > .selected {
            display: flex;
            align-items: center;
            cursor: pointer;
            border: 2px solid var(--color-medium);
            border-radius: var(--input-radius);
            width: 100%;
            line-height: 1.3;

            .label {
                flex-grow: 1;
                padding: var(--global-spacing);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &.placeholder {
                    color: var(--color-medium-txt);
                }
            }

            .toggle-button {
                flex-shrink: 1;
                padding: var(--global-spacing);
            }
        }

        .options {
            position: absolute;
            display: block;
            width: 100%;
            background-color: #fff;
            border: 2px solid var(--color-dark);
            border-radius: var(--input-radius);
            box-shadow: var(--global-shadow);
            z-index: 9999;
            max-height: 300px;
            overflow-y: auto;
            //margin-top: -5px;

            .search {
                input {
                    display: block;
                    width: 100%;
                    padding: var(--global-spacing);
                    border: none;
                    border-bottom: 2px solid var(--color-medium);
                    outline: none;
                    font-size: var(--font-size-base);

                    &:focus {
                        border-color: var(--color-primary);
                    }
                }

                .query-too-short {
                    display: block;
                    padding: calc(var(--global-spacing) / 2);
                    font-size: calc(var(--font-size-base) / 1.1);
                }
            }

            .loading {
                color: var(--color-medium);
                padding: var(--global-spacing);
            }

            .result-totals {
                display: block;
                color: var(--color-medium);
                padding: calc(var(--global-spacing) / 2);
                font-size: calc(var(--font-size-base) / 1.1);
            }

            .no-result {
                color: var(--color-medium);
                padding: var(--global-spacing);
            }

            .option {
                display: block;
                padding: var(--global-spacing);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;

                .extra-label {
                    display: block;
                    font-size: calc(var(--font-size-base) / 1.1);
                }

                &.selected-option {
                    font-weight: bold;
                    cursor: default;
                    text-decoration: underline;
                    text-decoration-color: var(--color-primary);
                }

                &:hover:not(.selected-option) {
                    background-color: var(--color-dark);
                    color: var(--color-light-txt);
                }
            }
        }
    }

    .selected-options-multiple {
        max-width: var(--max-content-width);
        margin-top: var(--global-spacing);
        margin-bottom: var(--global-spacing);

        &.tags {
            display: flex;
            flex-wrap: wrap;

            .selected-option-tag {
                display: flex;
                align-items: center;
                background-color: var(--color-dark);
                border-radius: var(--global-radius);
                color: var(--color-light-txt);
                margin-right: var(--global-spacing);
                margin-bottom: calc(var(--global-spacing) / 2);

                .selected-option-label {
                    padding: calc(var(--global-spacing) / 2);
                    line-height: 1;
                    margin-top: 2px;
                }

                button.delete {
                    border: 0;
                    padding: calc(var(--global-spacing) / 2);
                    margin: 0;
                    color: var(--color-light-txt);
                }
            }
        }
    }
</style>
