<template>
    <model-form :key="field.name + '-form'" :definition="nestedDefinition" :model="internalValue" :errors="errors" v-model:invalid="invalid">
    </model-form>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import forEach from 'lodash/forEach';
import flatMap from 'lodash/flatMap';
import find from 'lodash/find';

export default {
    components: {
        ModelForm: defineAsyncComponent(() => import('../ModelForm')),
    },

    props: {
        field: Object,
        modelValue: [String, Object, Array],
        errors: Object
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    data() {
        return {
            invalid: null,
            internalValue: {},
            internalErrors: [],
            nestedDefinition: null,
            originalStringifiedValue: ''
        };
    },

    mounted() {
        this.internalValue = this.formatData(this.modelValue);
        this.nestedDefinition = {
            field_groups: (Array.isArray(this.field.extra_data.fields)) ? {
                general: {
                    key: 'general',
                    order: 0,
                    fields: this.field.extra_data.fields
                }
            } : this.field.extra_data.fields
        };
    },

    watch: {
        modelValue: {
            handler(val) {
                const stringifiedVal = JSON.stringify(val);
                if (stringifiedVal !== this.originalStringifiedValue) {
                    if (val && Array.isArray(val)) {
                        this.internalValue = this.formatData(val);
                    } else {
                        if (typeof val === 'object') {
                            this.internalValue = val;
                        }
                    }
                }
            },
            deep: true
        },

        internalValue: {
            handler: function(val) {
                this.$emit('update:modelValue', val);
            },
            deep: true
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        findDefinitionForField(fieldName) {
            const fields = (Array.isArray(this.field.extra_data.fields)) ? this.field.extra_data.fields : flatMap(this.field.extra_data.fields, (group) => group.fields);
            return find(fields, ['name', fieldName]);
        },

        formatData(nestedData) {
            let formattedValue = {};

            if (nestedData && Array.isArray(nestedData)) {
                forEach(nestedData, (data) => {
                    if (data.hasOwnProperty('meta_key')) {
                        const definition = this.findDefinitionForField(data.meta_key);
                        if (definition.type !== 'MEDIA') {
                            formattedValue[data.meta_key] = data.meta_value;
                        } else {
                            if (data.hasOwnProperty(definition.extra_data.collection)) {
                                formattedValue[data.meta_key] = data[definition.extra_data.collection];
                            } else {
                                formattedValue[data.meta_key] = data.meta_value;
                            }
                        }
                    }
                });
            } else {
                formattedValue = (typeof nestedData !== 'undefined') ? nestedData : {};
            }

            this.originalStringifiedValue = JSON.stringify(formattedValue);

            return formattedValue;
        },
    }
};
</script>

<style scoped lang="scss">
</style>
