<template>

    <div class="field-wrap" :id="id">
        <div class="field-wrap-inner">
            <div class="field-label-wrap">
                <label v-if="field.label" :for="id + '-input'">{{ field.label }}<span class="required-asterix" v-if="field.required"> *</span></label>
            </div>

            <input
                :name="field.name"
                :id="id + '-input'"
                :placeholder="field.placeholder"
                :max="(field.extra_data && field.extra_data.max) ? field.extra_data.max : null"
                :min="(field.extra_data && field.extra_data.min) ? field.extra_data.min : null"
                type="number"
                class="field"
                :class="{'invalid': (invalid && internalErrors && internalErrors.length)}"
                v-model="internalValue">
        </div>

        <div class="field-description" v-if="field.description">{{ field.description }}</div>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>
    </div>

</template>

<script>
export default {
    props: {
        id: String,
        field: Object,
        modelValue: [String, Number],
        errors: Array
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    data() {
        return {
            invalid: null,
            internalValue: '',
            internalErrors: []
        };
    },

    mounted() {
        if (this.modelValue) {
            this.internalValue = Number(this.modelValue);
        } else if (this.field.default) {
            this.internalValue = Number(this.field.default);
        }

        this.validate(this.internalValue);
    },

    watch: {
        modelValue: function(val) {
            if (val !== this.internalValue) {
                this.internalValue = Number(val);
            }
        },

        internalValue: function(val) {
            this.validate(val);
            this.$emit('update:modelValue', Number(val));
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        validate: function(val) {
            if (this.field.required && !val) {
                this.invalid = true;
            } else if (val && Number.isNaN(val)){
                this.invalid = true;
            } else {
                this.invalid = false;
            }
        }
    }
};
</script>

<style scoped lang="scss">

</style>
