<template>
    <div class="field-wrap" :id="id">
        <div class="field-wrap-inner">
            <template v-if="floatingLabel">
                <div class="floating-label-wrap">
                    <input
                        :name="field.name"
                        :id="id + '-input'"
                        :placeholder="field.placeholder"
                        type="password"
                        class="field floating-label-field"
                        :class="{'invalid': (invalid && internalErrors && internalErrors.length), 'has-button' : integratedButton.enabled}"
                        :autocomplete="(field.extra_data && field.extra_data.autocomplete) ? field.extra_data.autocomplete : null"
                        v-model="internalValue"
                        :disabled="disabled">
                    <label v-if="field.label" :for="id + '-input'" class="floating-label">{{ field.label }}<span class="required-asterix" v-if="field.required"> *</span></label>
                </div>
            </template>
            <template v-else>
                <div class="field-label-wrap">
                    <label v-if="field.label" :for="id + '-input'">{{ field.label }}<span class="required-asterix" v-if="field.required"> *</span></label>
                </div>

                <input
                    :name="field.name"
                    :id="id + '-input'"
                    :placeholder="field.placeholder"
                    type="password"
                    class="field"
                    :class="{'invalid': (invalid && internalErrors && internalErrors.length), 'has-button' : integratedButton.enabled}"
                    :autocomplete="(field.extra_data && field.extra_data.autocomplete) ? field.extra_data.autocomplete : null"
                    v-model="internalValue"
                    :disabled="disabled">
            </template>
            <template v-if="integratedButton.enabled">
                <button class="integrated-button" :class="{'active': !disabled}" @click="handleButtonClick">
                    {{ (disabled) ? integratedButton.text : $i18n.get('actions.save') }}
                </button>
            </template>
        </div>
        <em class="field-description" v-if="field.description">{{ field.description }}</em>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        id: String,
        field: Object,
        modelValue: String,
        errors: Array,
        floatingLabel: {
            type: Boolean,
            default: true
        },
        integratedButton: {
            type: Object,
            default() {
                return {
                    enabled: false
                };
            }
        }
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    data() {
        return {
            invalid: null,
            disabled: this.field.disabled,
            internalValue: '',
            internalErrors: []
        };
    },

    mounted() {
        if (this.modelValue) {
            this.internalValue = this.modelValue;
        } else if (this.field.default) {
            this.internalValue = this.field.default;
        }

        this.validate(this.internalValue);
    },

    watch: {
        modelValue: function(val) {
            if (val !== this.internalValue) {
                this.internalValue = val;
            }
        },

        internalValue: function(val) {
            this.validate(val);
            this.$emit('update:modelValue', val);
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        validate: function(val) {
            this.invalid = this.field.required && !val;
        },
        handleButtonClick: function(event) {
            if(this.disabled) {
                event.preventDefault();
                this.disabled = false;
            } else {
                return true;
            }
        }
    }
};
</script>

<style scoped lang="scss">

</style>
