<template>

    <div class="field-wrap" :id="id">
        <div class="field-wrap-inner">
            <div class="field-label-wrap">
                <label v-if="field.label" :for="id + '-input'" class="title">
                    {{ field.label }}<span class="required-asterix" v-if="field.required"> *</span>
                </label>
            </div>

            <template v-if="stylingFormat === 'buttons' || stylingFormat === 'toggle'">
                <div :class="stylingFormat">
                    <button
                        v-for="(label, optionValue) in allOptions"
                        :key="id + '-' + optionValue + '-radio-input'"
                        type="button" class="btn expand"
                        @click="internalValue = optionValue"
                        :class="{
                            'secondary-filled': (internalValue === optionValue && !invalid),
                            'hollow-danger': (internalValue === optionValue && invalid),
                            'hollow-secondary': (internalValue !== optionValue)
                        }">
                        {{ label }}
                    </button>
                </div>
            </template>

            <template v-else>
                <div class="field">
                    <label
                        v-for="(label, optionValue) in allOptions"
                        :key="id + '-' + optionValue + '-radio-input'"
                        :for="id + '-' + optionValue + '-radio-input'">
                        <input
                            :id="id + '-' + optionValue + '-radio-input'"
                            type="radio"
                            :value="optionValue"
                            v-model="internalValue">

                        {{ label }}
                    </label>
                </div>
            </template>
        </div>

        <div class="field-description" v-if="field.description">{{ field.description }}</div>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>
    </div>

</template>

<script>
export default {
    props: {
        id: String,
        field: Object,
        modelValue: [String, Number],
        errors: Array
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    data() {
        return {
            invalid: null,
            internalValue: null,
            internalErrors: []
        };
    },

    mounted() {
        if (this.modelValue) {
            this.internalValue = this.modelValue.toString();
        } else if (this.field.default) {
            this.internalValue = this.field.default.toString();
        }

        this.validate(this.internalValue);
    },

    computed: {
        stylingFormat: function() {
            return (this.field && this.field.hasOwnProperty('extra_data') && this.field.extra_data.styling_format) ? this.field.extra_data.styling_format : '';
        },

        allOptions: function() {
            return (this.field && this.field.hasOwnProperty('extra_data') && this.field.extra_data.options) ? this.field.extra_data.options : {};
        }
    },

    watch: {
        modelValue: function(val) {
            if (val !== this.internalValue) {
                this.internalValue = val;
            }
        },

        internalValue: function(val) {
            this.validate(val);
            this.$emit('update:modelValue', val);
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        validate: function(val) {
            this.invalid = this.field.required && !val;
        }
    }
};
</script>

<style scoped lang="scss">
    .toggle {
        display: flex;
        max-width: var(--max-input-width);
        width: 100%;


        .btn {
            border-radius: 0;
            padding-right: 0;
            padding-left: 0;

            &:not(:first-of-type) {
                border-left: 0;
            }

            &:first-of-type {
                border-bottom-left-radius: var(--global-radius);
                border-top-left-radius: var(--global-radius);
            }

            &:last-of-type {
                border-bottom-right-radius: var(--global-radius);
                border-top-right-radius: var(--global-radius);
            }
        }
    }


    .title {
        font-size: var(--font-size-medium);
        font-weight: bold;
        color: var(--color-secondary);
        margin-bottom: var(--global-spacing-half);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: var(--global-spacing);
        width: 100%;

        .btn {
            box-sizing: border-box;
            border-radius: var(--global-radius-tiny);
        }
    }

    .field > label {
        margin-right: var(--global-spacing-third);
    }
</style>
