<template>
    <div class="field-wrap" :id="id">
        <div class="field-wrap-inner">

            <div class="slider-header">
                <div class="title">{{ field.label }}</div>
                <div class="value">{{ displayValue }}{{ field.extra_data.suffix }}</div>
            </div>
            <div class="sliderHolder">
                <input  type="range" :min="field.extra_data.min" :max="field.extra_data.max" class="slider" v-model="internalValue" />
            </div>

        </div>

        <div class="field-description" v-if="field.description">{{ field.description }}</div>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>

    </div>

</template>

<script>

export default {
    data() {
        return {
            internalValue: 1,
            invalid: null,
            internalErrors: [],
            errors: Array
        };
    },
    emits: [
        'update:modelValue',
    ],
    props: {
        id: String,
        modelValue: [Number,String],
        field: Object,
        textForValues: Array
    },
    computed: {
        displayValue() {
            if(!this.textForValues) {
                return this.internalValue;
            } else {
                return (this.textForValues[this.internalValue-1]) ? this.textForValues[this.internalValue-1].text : this.internalValue;
            }
        }
    },
    watch: {
        internalValue: function(val) {
            if(this.field.extra_data.forceInteger !== false) {
                val = parseInt(val);
            }
            if(this.textForValues && val) {
                val = this.textForValues[val-1].value;
            }
            this.$emit('update:modelValue', val);
        },
        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },
        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },
    },
    mounted() {
        if(this.textForValues) {
            this.internalValue = 0;
            this.textForValues.find((item, index) => {
                if(item.value === this.modelValue) {
                    this.internalValue = (index+1);
                }
            });
        } else {
            this.internalValue = this.modelValue;
        }
    }
};

</script>

<style scoped lang="scss">

.sliderHolder {
    width: 100%; /* Width of the outside container */
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    border: 3px solid #000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.title {
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: var(--color-secondary);
    margin-bottom: var(--global-spacing-third);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.value {
    flex: 0 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--input-radius);
    border: 2px solid var(--color-light-shade);
    padding: calc(var(--global-spacing)/4) calc(var(--global-spacing)/2);
    margin-bottom: var(--global-spacing-third);
    font-weight: bold;
}

.slider-header, .slider-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sliderHolder {
    padding-bottom: var(--global-spacing);
}

</style>
