<template>
    <div class="field-wrap" :id="id">
        <div class="field-wrap-inner">

            <div class="slider-header">
                <div class="title">{{ field.label }}</div>
                <div class="value">{{ selectedValue }}{{ field.extra_data.suffix }}</div>
            </div>
            <div class="sliderHolder">
                <div ref="slider"></div>
            </div>

        </div>

        <div class="field-description" v-if="field.description">{{ field.description }}</div>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>

    </div>

</template>

<script>

import noUiSlider from 'nouislider';

export default {
    data() {
        return {
            selectedValue: 5,
            invalid: null,
            internalErrors: [],
            errors: Array
        };
    },
    emits: [
        'update:modelValue',
    ],
    props: {
        id: String,
        modelValue: Number,
        field: Object
    },
    watch: {
        selectedValue: function(val) {
            this.$emit('update:modelValue', val);
        },
        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },
        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },
    },
    mounted() {
        this.selectedValue = this.modelValue;
        noUiSlider.create(this.$refs.slider, {
            start: [this.selectedValue],
            step: this.field.extra_data.step,
            range: {
                'min': this.field.extra_data.min,
                'max': this.field.extra_data.max
            },
            pips: {
                mode: 'values',
                values: [this.field.extra_data.min, this.field.extra_data.max],
                density: this.field.extra_data.pipDensity
            }
        });
        this.$refs.slider.noUiSlider.on('update',(values) => {
            if(this.field.extra_data.forceInteger !== false) {
                this.selectedValue = parseInt(values[0]);
            } else {
                this.selectedValue = values[0];
            }
        });
    }
};

</script>

<style scoped lang="scss">
    @import "/node_modules/nouislider/dist/nouislider.css";

    .title {
        font-size: var(--font-size-medium);
        font-weight: bold;
        color: var(--color-secondary);
        margin-bottom: var(--global-spacing-third);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .value {
        flex: 0 1 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: var(--input-radius);
        border: 2px solid var(--color-light-shade);
        padding: calc(var(--global-spacing)/4) calc(var(--global-spacing)/2);
        margin-bottom: var(--global-spacing-third);
        font-weight: bold;
    }

    .slider-header, .slider-footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .sliderHolder {
        padding-bottom: var(--global-spacing);
    }

</style>
