<template>
    <div class="repeatable-nested-fields">
        <div class="field-label-wrap">
            <label v-if="field.label" :for="id + '-input'">{{ field.label }}<span class="required-asterix" v-if="field.required"> *</span></label>
        </div>

        <div class="field-description" v-if="field.description">{{ field.description }}</div>

        <button class="add-row btn primary" type="button" @click="addRow">
            <template v-if="field.extra_data && field.extra_data.add_label">
                {{ field.extra_data.add_label }}
            </template>
            <template v-else>
                {{ $i18n.get('actions.add') }}
            </template>
        </button>

        <div class="repeatable-row" v-for="(row, index) in internalValue" :key="field.name + '-row-' + index">
            <div class="actions">
                <button class="btn remove-row" :title="$i18n.get('actions.remove')" @click="removeRow(row, index)">
                    <delete-icon class="icon-1-5x" :title="$i18n.get('actions.remove')"></delete-icon>
                </button>
            </div>

            <model-form
                :key="field.name + '-form-' + index"
                :definition="nestedDefinition"
                :model="row"
                :errors="internalErrors[index]"
                v-model:invalid="invalid">
            </model-form>
        </div>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';

export default {
    components: {
        DeleteIcon: defineAsyncComponent(() => import('../../Icons/Delete')),
        ModelForm: defineAsyncComponent(() => import('../ModelForm')),
    },

    props: {
        field: Object,
        modelValue: [Object, Array],
        errors: Object
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    data() {
        return {
            invalid: null,
            internalValue: {},
            internalErrors: [],
            nestedDefinition: null
        };
    },

    mounted() {
        this.internalValue = (this.modelValue && Array.isArray(this.modelValue)) ? this.modelValue : [];
        this.nestedDefinition = {
            field_groups: {
                general: {
                    key: 'general',
                    order: 0,
                    fields: this.field.extra_data.fields
                }
            }
        };
    },

    watch: {
        modelValue: {
            handler(val) {
                if (Array.isArray(val)) {
                    const stringifiedInternal = JSON.stringify(this.internalValue);
                    const stringifiedValue = JSON.stringify(val);

                    if (stringifiedInternal !== stringifiedValue) {
                        this.internalValue = val;
                    }
                }
            },
            deep: true
        },

        internalValue: {
            handler: function(val) {
                this.$emit('update:modelValue', val);
            },
            deep: true
        },

        errors: {
            handler(val) {
                if (val && typeof val === 'object') {
                    const keys = Object.keys(val);
                    for (const index in keys) {
                        const key = keys[index];
                        if (key.includes('.')) {
                            const explodedKey = key.split('.');
                            const mainKey = explodedKey[0];

                            if (this.field.name === mainKey) {
                                if (!this.internalErrors[explodedKey[1]]) {
                                    this.internalErrors[explodedKey[1]] = {};
                                }

                                this.internalErrors[explodedKey[1]][explodedKey[2]] = val[key];
                            }
                        }
                    }
                } else {
                    this.internalErrors = [];
                }
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        addRow() {
            this.internalValue.push({});
        },

        removeRow(row, index) {
            this.internalValue.splice(index, 1);
        }
    }
};
</script>

<style scoped lang="scss">
    .add-row {
        display: block;
        margin-bottom: var(--global-spacing);
    }

    .actions {
        text-align: right;
    }

    .remove-row {
        padding: calc(var(--global-spacing) / 2);
        margin: 0;
        color: var(--color-danger);
    }

    .model-form {
        padding-top: var(--global-spacing);
        padding-bottom: var(--global-spacing);
        margin-bottom: var(--global-spacing);
        border-bottom: 1px solid var(--color-medium-tint);
    }
</style>
