<template>

    <div class="field-wrap" :id="id" :class="{'disabled': (isDisabled)}">
        <div class="field-wrap-inner">
            <div class="floating-label-wrap">
                <label v-if="field.label" :for="id + '-input'" class="floating-label select-label">{{ field.label }}<span class="required-asterix" v-if="field.required && field.hide_asterisk !== true"> *</span></label>
            </div>

            <div class="select" :class="{'expanded': (select.visible)}">
                <div class="selected" @click="toggleOptions">
                    <span class="label" :class="{'placeholder': (!allOptions[internalValue] && field.placeholder || field.extra_data.multiple)}">
                        <template v-if="(!allOptions[internalValue] || field.extra_data.multiple) && field.placeholder">
                            {{ field.placeholder }}
                        </template>
                        <template v-else-if="field.extra_data.multiple">
                            {{ $i18n.get('actions.add') }}
                        </template>
                        <template v-else>
                            {{ allOptions[internalValue] }}
                        </template>
                    </span>
                    <span class="toggle-button">
                        <chevron-down-icon/>
                    </span>
                </div>

                <div class="options" v-if="select.visible">
                    <div class="search" v-if="Object.keys(allOptions).length > 20">
                        <input type="text" :placeholder="$i18n.get('actions.search')" v-model="select.searchQuery">
                    </div>

                    <div v-if="!field.required && !field.extra_data.multiple" class="option" @click="selectOption(null)">
                        <slot name="no-option-label">
                            {{ $i18n.get('generic.no_option') }}
                        </slot>
                    </div>

                    <div
                        v-for="(label, optionValue) in filteredOptions"
                        :key="optionValue + '-option'"
                        class="option"
                        :class="{'selected-option': (internalValue && internalValue.includes(optionValue))}"
                        @click="selectOption(optionValue)">
                        <slot name="option" v-bind:optionValue="optionValue" v-bind:label="label">
                            {{ label }}
                        </slot>
                    </div>

                    <div class="no-result" v-if="!Object.keys(filteredOptions).length">
                        {{ $i18n.get('generic.no_result') }}
                    </div>
                </div>
            </div>
        </div>

        <div class="field-description" v-if="field.description">{{ field.description }}</div>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>

        <div class="selected-options-multiple table-list" v-if="multiValueStyle === 'table' && internalValue.length && field.extra_data.multiple">
            <div class="selected-option-row table-row" v-for="(option, index) in internalValue" :key="index">
                <div class="selected-option-label column">
                    <slot name="selected-option-label" v-bind:option="option" v-bind:allOptions="allOptions">
                        {{ allOptions[option] }}
                    </slot>
                </div>
                <div class="column actions">
                    <slot name="selected-option-actions" v-bind:option="option" v-bind:allOptions="allOptions"/>
                    <button class="btn action delete" type="button" @click="removeOption(option)" :title="$i18n.get('actions.remove')">
                        <link-variant-off-icon :title="$i18n.get('actions.remove')"/>
                    </button>
                </div>
            </div>
        </div>
        <div class="selected-options-multiple tags" v-else-if="multiValueStyle === 'tags' && internalValue.length && field.extra_data.multiple">
            <div class="selected-option-tag" v-for="(option, index) in internalValue" :key="index">
                <slot name="selected-option-tag" v-bind:option="option">
                    <div class="selected-option-label">
                        <slot name="selected-option-tag-label" v-bind:option="option" v-bind:allOptions="allOptions">
                            {{ allOptions[option] }}
                        </slot>
                    </div>
                    <slot name="selected-option-actions" v-bind:option="option" v-bind:allOptions="allOptions"/>
                    <button class="btn action delete" type="button" @click="removeOption(option)" :title="$i18n.get('actions.remove')">
                        <close-icon :title="$i18n.get('actions.remove')"/>
                    </button>
                </slot>
            </div>
        </div>
    </div>
</template>

<script>
import { defineAsyncComponent, nextTick } from 'vue';
import escapeRegExp from 'lodash/escapeRegExp';
import pickBy from 'lodash/pickBy';

export default {
    props: {
        id: String,
        field: Object,
        disabled: Boolean,
        modelValue: [String, Number],
        errors: Array,
        hiddenOptionValues: {
            type: Array,
            default: function() {
                return [];
            }
        }
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    components: {
        ChevronDownIcon: defineAsyncComponent(() => import('../../Icons/ChevronDown')),
        LinkVariantOffIcon: defineAsyncComponent(() => import('../../Icons/LinkVariantOff')),
        CloseIcon: defineAsyncComponent(() => import('../../Icons/Close'))
    },

    data() {
        return {
            invalid: null,
            internalValue: [],
            internalErrors: [],
            select: {
                searchQuery: '',
                visible: false
            }
        };
    },

    mounted() {
        if (this.modelValue) {
            this.internalValue = Array.isArray(this.modelValue) ? this.modelValue : [this.modelValue];
        } else if (this.field.default) {
            this.internalValue = Array.isArray(this.field.default) ? this.field.default : [this.field.default];
        }

        document.addEventListener('click', this.onOutsideClick);

        this.validate(this.internalValue);
    },

    beforeUnmount() {
        document.removeEventListener('click', this.onOutsideClick);
    },

    computed: {
        allOptions: function() {
            return (this.field && this.field.hasOwnProperty('extra_data') && this.field.extra_data.options) ? this.field.extra_data.options : {};
        },

        /**
         * Filters available options
         * (eg. when searching or passing hidden options)
         *
         * @returns {*}
         */
        filteredOptions: function() {
            const options = (this.field && this.field.hasOwnProperty('extra_data') && this.field.extra_data.options) ? this.field.extra_data.options : {};
            const pattern = new RegExp(escapeRegExp(this.select.searchQuery), 'i');

            return (this.select.searchQuery || this.hiddenOptionValues.length) ? pickBy(options, (label, value) => {
                return !this.hiddenOptionValues.includes(value) && (this.select.searchQuery && pattern.test(label) || !this.select.searchQuery);
            }) : options;
        },

        isDisabled: function() {
            return !!(this.disabled || this.field.disabled);
        },

        multiValueStyle: function() {
            return (this.field && this.field.extra_data && this.field.extra_data.styling_format) ? this.field.extra_data.styling_format : 'table';
        }
    },

    watch: {
        modelValue: {
            handler(val) {
                if (val !== this.internalValue) {
                    if (Array.isArray(val)) {
                        if (
                            (!this.internalValue || !Array.isArray(this.internalValue)) ||
                            (val.toString() !== this.internalValue.toString())
                        ) {
                            this.internalValue = val;
                        }
                    } else {
                        if (
                            !this.internalValue ||
                            this.internalValue[0] !== val
                        ) {
                            this.internalValue = [val];
                        }
                    }

                    // nextTick(() => {
                    //     this.selectedOptions = this.selectedOptions.filter(option => this.internalValue.includes(option.id));
                    // });
                }
            },
            deep: true
        },

        'select.visible': function(val) {
            // Reset searchQuery on close
            if (!val) {
                this.select.searchQuery = '';
            }
        },

        internalValue: {
            handler(val) {
                this.validate(val);

                if (this.field.extra_data.multiple) {
                    this.$emit('update:modelValue', val);
                } else {
                    this.$emit('update:modelValue', (Array.isArray(val) && val.length) ? val[0] : null);
                }
            },
            deep: true
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        onOutsideClick: function(event) {
            if (this.select.visible && !this.$el.querySelector('.select').contains(event.target)) {
                this.toggleOptions();
            }
        },

        toggleOptions: function(event) {
            if (this.isDisabled) {
                this.select.visible = false;
                return;
            }

            this.select.visible = !(this.select.visible);

            if (this.select.visible && this.select.showSearch) {
                nextTick(() => {
                    const searchInput = this.$el.querySelector('.select .search > input');
                    if (searchInput) {
                        searchInput.focus();
                    }
                });
            }
        },

        selectOption: function(option) {
            if (option === null && !this.field.extra_data.multiple) {
                this.internalValue = [];
            }

            // Only add if it's not added already
            if (option !== null && !this.internalValue.includes(option)) {
                if (this.field.extra_data.multiple) {
                    this.internalValue.push(option);
                } else {
                    this.internalValue = [option];
                }
            }

            this.select.visible = false;
        },

        removeOption(option) {
            this.internalValue = this.internalValue.filter((selectedOption) => selectedOption !== option);
        },

        validate(val) {
            this.invalid = !!(this.field.required && (!val || !val.length));
        }
    }
};
</script>

<style scoped lang="scss">
    .select {
        display: block;
        position: relative;
        user-select: none;
        width: 100%;
        //max-width: var(--max-input-width);

        /* Custom scrollbar */
        ::-webkit-scrollbar {
            width: 16px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -webkit-border-radius: 0 0 15px 0;
            border-radius: 0 0 15px 0;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 15px;
            border-radius: 15px;
            background: rgba(0,0,0,1);
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(0,0,0,0.4);
        }



        > .selected {
            display: flex;
            align-items: center;
            cursor: pointer;
            border: 2px solid var(--color-medium-tint-700);
            border-radius: var(--input-radius);
            width: 100%;
            line-height: 1.3;
            font-weight: 600;

            .label {
                flex-grow: 1;
                padding: calc(var(--global-spacing) / 2) var(--global-spacing);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &.placeholder {
                    color: var(--color-medium-txt);
                }
            }

            .toggle-button {
                flex-shrink: 1;
                padding: calc(var(--global-spacing) / 2) var(--global-spacing);
                display: flex;
                align-items: center;

                svg {
                    transition: 0.2s ease transform;
                }
            }
        }

        &.expanded {
            .selected {
                border-radius: var(--input-radius) var(--input-radius) 0 0;

                .toggle-button svg {
                    transform: rotate(180deg);
                }
            }
        }

        .options {
            position: absolute;
            display: block;
            width: 100%;
            background-color: #fff;
            border: 2px solid var(--color-medium-tint-700);
            border-style: none solid solid solid;
            border-radius: 0 0 var(--input-radius) var(--input-radius);
            box-shadow: var(--global-shadow);
            z-index: 10;
            //max-width: var(--max-input-width);
            max-height: 300px;
            overflow-y: auto;
            //margin-top: -5px;

            .search {
                input {
                    display: block;
                    width: 100%;
                    padding: var(--global-spacing);
                    border: none;
                    border-bottom: 2px solid var(--color-medium-tint-700);
                    outline: none;
                    font-size: var(--font-size-base);

                    &:focus {
                        border-color: var(--color-primary);
                    }
                }
            }

            .no-result {
                color: var(--color-medium);
                padding: var(--global-spacing);
            }

            .option {
                display: block;
                padding: var(--global-spacing);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;

                &.selected-option {
                    font-weight: bold;
                    cursor: default;
                    text-decoration: underline;
                    text-decoration-color: var(--color-primary);
                }

                &:hover:not(.selected-option) {
                    background-color: var(--color-dark);
                    color: var(--color-light-txt);
                }
            }
        }
    }

    .selected-options-multiple {
        max-width: var(--max-content-width);
        margin-top: var(--global-spacing);
        margin-bottom: var(--global-spacing);

        &.tags {
            display: flex;
            flex-wrap: wrap;

            .selected-option-tag {
                display: flex;
                align-items: center;
                background-color: var(--color-dark);
                border-radius: var(--global-radius);
                color: var(--color-light-txt);
                margin-right: var(--global-spacing);
                margin-bottom: calc(var(--global-spacing) / 2);

                .selected-option-label {
                    padding: calc(var(--global-spacing) / 2);
                    line-height: 1;
                    margin-top: 2px;
                }

                button.delete {
                    border: 0;
                    padding: calc(var(--global-spacing) / 2);
                    margin: 0;
                    color: var(--color-light-txt);
                }
            }
        }
    }
</style>
