<template>
    <div class="field-wrap" :id="id">
        <div class="field-wrap-inner">
            <div class="field-label-wrap">
                <label v-if="field.label" :for="id + '-input'">{{ field.label }}<span class="required-asterix" v-if="field.required"> *</span></label>
            </div>

            <input :name="field.name" :id="id + '-input'" maxlength="255" :placeholder="field.placeholder" type="tel" class="field" :class="{'invalid': (invalid && internalErrors && internalErrors.length)}" v-model="internalValue">
        </div>

        <div class="field-description" v-if="field.description">{{ field.description }}</div>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>
    </div>
</template>

<script>
import { parsePhoneNumberFromString } from 'libphonenumber-js';

export default {
    props: {
        id: String,
        field: Object,
        modelValue: String,
        errors: Array
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    data() {
        return {
            invalid: null,
            internalValue: '',
            internalErrors: []
        };
    },

    mounted() {
        if (this.modelValue) {
            let phoneNumber = parsePhoneNumberFromString(this.modelValue);
            this.internalValue = (phoneNumber) ? phoneNumber.number : null;
        } else if (this.field.default) {
            let phoneNumber = parsePhoneNumberFromString(this.field.default);
            this.internalValue = (phoneNumber) ? phoneNumber.number : null;
        }

        this.validate(this.internalValue);
    },

    watch: {
        modelValue: function(val) {
            if (val !== this.internalValue) {
                this.internalValue = val;
            }
        },

        internalValue: function(val) {
            this.validate(val);

            let phoneNumber = (val && typeof val === 'string') ? parsePhoneNumberFromString(val) : null;
            this.$emit('update:modelValue', (phoneNumber) ? phoneNumber.number : val);
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        validate: function(val) {
            if (this.field.required && !val) {
                this.invalid = true;
            } else {
                const phoneNumber = (val && typeof val === 'string') ? parsePhoneNumberFromString(val) : null;
                this.internalErrors = [];
                this.invalid = (val && !(phoneNumber && phoneNumber.isValid()));

                if (this.invalid) {
                    this.internalErrors.push(this.$i18n.get('validation.phone', {attribute: this.field.label}));
                }
            }
        }
    }
};
</script>

<style scoped lang="scss">

</style>
