<template>
    <div class="field-wrap" :id="id">
        <div class="field-wrap-inner">
            <template v-if="floatingLabel">
                <div class="floating-label-wrap">
                    <input
                        :name="field.name"
                        :id="id + '-input'"
                        :placeholder="field.placeholder"
                        type="text"
                        class="field floating-label-field"
                        :class="{'invalid': (invalid && internalErrors && internalErrors.length)}"
                        :maxlength="(field.extra_data && field.extra_data.max) ? field.extra_data.max : null"
                        :minlength="(field.extra_data && field.extra_data.min) ? field.extra_data.min : null"
                        :disabled="field.disabled"
                        ref="inputField"
                        v-model="internalValue">
                    <label v-if="field.label" :for="id + '-input'" class="floating-label">{{ field.label }}<span class="required-asterix" v-if="field.required"> *</span></label>
                </div>
            </template>
            <template v-else>
                <div class="field-label-wrap">
                    <label v-if="field.label" :for="id + '-input'">{{ field.label }}<span class="required-asterix" v-if="field.required"> *</span></label>
                </div>

                <input
                    :name="field.name"
                    :id="id + '-input'"
                    :placeholder="field.placeholder"
                    type="text" class="field"
                    :class="{'invalid': (invalid && internalErrors && internalErrors.length)}"
                    :maxlength="(field.extra_data && field.extra_data.max) ? field.extra_data.max : null"
                    :minlength="(field.extra_data && field.extra_data.min) ? field.extra_data.min : null"
                    :disabled="field.disabled"
                    ref="inputField"
                    v-model="internalValue">
            </template>
        </div>
        <em class="field-description" v-if="field.description">{{ field.description }}</em>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        id: String,
        field: Object,
        modelValue: String,
        errors: Array,
        floatingLabel: {
            type: Boolean,
            default: true
        }
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    data() {
        return {
            invalid: null,
            internalValue: '',
            internalErrors: []
        };
    },

    mounted() {
        if (this.modelValue) {
            this.internalValue = this.modelValue;
        } else if (this.field.default) {
            this.internalValue = this.field.default;
        }
        this.validate(this.internalValue);
    },

    watch: {
        modelValue: function(val) {
            if (val !== this.internalValue) {
                this.internalValue = val;
            }
        },

        internalValue: function(val) {
            this.validate(val);
            this.$emit('update:modelValue', val);
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        validate: function(val) {
            this.invalid = this.field.required && !val;
        },
        focus() {
            this.$refs.inputField.focus();
        }
    }
};
</script>

<style scoped lang="scss">

</style>
