<template>
    <div class="wysiwyg-display" v-html="output"></div>
</template>

<script>
import { generateHTML } from '@tiptap/html';
import StarterKit from '@tiptap/starter-kit';

export default {
    props: {
        modelValue: String
    },

    mounted() {
        if (this.modelValue) {
            this.internalValue = JSON.parse(this.modelValue);
        }
    },

    data() {
        return {
            internalValue: ''
        };
    },

    computed: {
        output() {
            if (this.internalValue) {
                return generateHTML(this.internalValue, [
                    StarterKit
                ]);
            }

            return '';
        }
    },

    watch: {
        modelValue: function(val) {
            const stringRepVal = (this.internalValue) ? JSON.stringify(this.internalValue) : '';
            if (val !== stringRepVal) {
                this.internalValue = (val ? JSON.parse(val) : null);
            }
        }
    }
};
</script>

<style lang="scss">

</style>
