<template>

    <div class="field-wrap" :id="id">
        <div class="field-wrap-inner">
            <div class="field-label-wrap">
                <label v-if="field.label" :for="id + '-input'">{{ field.label }}<span class="required-asterix" v-if="field.required"> *</span></label>
            </div>

            <div class="editor-wrap">
                <div class="menubar" v-if="editor">
                    <button
                        type="button"
                        :class="{ 'is-active': editor.isActive('bold') }"
                        @click="editor.chain().focus().toggleBold().run()">
                        <bold-icon class="icon-1-5x"></bold-icon>
                    </button>

                    <button
                        type="button"
                        :class="{ 'is-active': editor.isActive('italic') }"
                        @click="editor.chain().focus().toggleItalic().run()">
                        <italic-icon class="icon-1-5x"></italic-icon>
                    </button>

                    <button
                        type="button"
                        :class="{ 'is-active': editor.isActive('heading', { level: 2 }) }"
                        @click="editor.chain().focus().toggleHeading({ level: 2 }).run()">
                        H2
                    </button>

                    <button
                        type="button"
                        :class="{ 'is-active': editor.isActive('heading', { level: 3 }) }"
                        @click="editor.chain().focus().toggleHeading({ level: 3 }).run()">
                        H3
                    </button>

                    <button
                        type="button"
                        :class="{ 'is-active': editor.isActive('heading', { level: 4 }) }"
                        @click="editor.chain().focus().toggleHeading({ level: 4 }).run()">
                        H4
                    </button>

                    <button
                        type="button"
                        :class="{ 'is-active': editor.isActive('bulletList') }"
                        @click="editor.chain().focus().toggleBulletList().run()">
                        <bullet-list-icon class="icon-1-5x"></bullet-list-icon>
                    </button>

                    <button
                        type="button"
                        :class="{ 'is-active': editor.isActive('orderedList') }"
                        @click="editor.chain().focus().toggleOrderedList().run()">
                        <ordered-list-icon class="icon-1-5x"></ordered-list-icon>
                    </button>

                    <button
                        type="button"
                        :class="{ 'is-active': editor.isActive('blockquote') }"
                        @click="editor.chain().focus().toggleBlockquote().run()">
                        <quote-icon class="icon-1-5x"></quote-icon>
                    </button>
                </div>
                <editor-content :editor="editor" />
            </div>
        </div>

        <div class="field-description" v-if="field.description">{{ field.description }}</div>

        <div class="validation-errors" v-if="invalid && internalErrors && internalErrors.length">
            <span class="error danger-txt-color" v-for="(error, index) in internalErrors" :key="index + 'error'">{{ error }}</span>
        </div>
    </div>

</template>

<script>
import debounce from 'lodash/debounce';
import { Editor, EditorContent } from '@tiptap/vue-3';
import StarterKit from '@tiptap/starter-kit';
import { defineAsyncComponent } from 'vue';

export default {
    components: {
        EditorContent,
        BoldIcon: defineAsyncComponent(() => import('../../Icons/Bold')),
        ItalicIcon: defineAsyncComponent(() => import('../../Icons/Italic')),
        BulletListIcon: defineAsyncComponent(() => import('../../Icons/BulletList')),
        OrderedListIcon: defineAsyncComponent(() => import('../../Icons/OrderedList')),
        QuoteIcon: defineAsyncComponent(() => import('../../Icons/Quote')),
    },

    props: {
        id: String,
        field: Object,
        modelValue: String,
        errors: Array
    },

    emits: [
        'update:modelValue',
        'update:invalid'
    ],

    data() {
        return {
            editor: null,
            invalid: null,
            internalValue: '',
            internalErrors: []
        };
    },

    mounted() {
        if (this.modelValue) {
            this.internalValue = (typeof this.value === 'string') ? JSON.parse(this.value) : this.value;
        } else if (this.field.default) {
            this.internalValue = this.field.default;
        }

        this.setupEditor(this.internalValue);
        this.validate(this.internalValue);
    },

    beforeUnmount()
    {
        this.editor.destroy();
    },

    watch: {
        modelValue: function(val) {
            const stringRepInternalVal = (this.internalValue) ? JSON.stringify(this.internalValue) : '';
            const stringRepVal = (typeof val === 'string') ? val : ((val) ? JSON.stringify(val) : '');
            if (stringRepVal !== stringRepInternalVal) {
                this.editor.commands.setContent(val ? JSON.parse(val) : null, false);
            }
        },

        internalValue: function(val) {
            this.validate(val);
            this.$emit('update:modelValue', (val) ? JSON.stringify(val) : '');
        },

        errors: {
            handler(val) {
                this.internalErrors = val;
            },
            deep: true
        },

        internalErrors: {
            handler(val) {
                this.invalid = !!(val && val.length);
            },
            deep: true
        },

        invalid: function(val) {
            this.$emit('update:invalid', val);
        }
    },

    methods: {
        setupEditor(content) {
            this.editor = new Editor({
                content,
                extensions: [
                    StarterKit
                ],
                onUpdate: debounce(this.onUpdate, 300)
            });
            // this.editor = new Quill(
            //     this.$refs.editor,
            //     {
            //         theme: 'snow',
            //         placeholder: this.field.placeholder
            //     }
            // );
            //
            // this.editor.setContents(this.internalValue);
            // this.editor.on('text-change', (delta, oldDelta, source) => {
            //     this.internalValue = this.editor.getContents();
            // });
        },

        onUpdate() {
            this.internalValue = this.editor.getJSON();
        },

        validate(val) {
            const hasContent = this.editor.state &&
                               this.editor.state.doc &&
                               this.editor.state.doc.textContent &&
                               this.editor.state.doc.textContent.length;

            this.invalid = !!(this.field.required && !hasContent);
        }
    }
};
</script>

<style lang="scss">
    .editor-wrap {
        max-width: var(--max-content-width);
        width: 100%;
    }

    [contenteditable] {
        border: 2px solid var(--color-medium);
        border-radius: var(--global-radius);
        -webkit-user-select: text;
        user-select: text;
        padding: calc(var(--global-spacing) / 2)  var(--global-spacing);
        outline: none;
        min-height: 100px;
        line-height: 1.1;
        max-height: 900px;
        overflow-y: auto;

        &:focus {
            border-color: var(--color-primary);
        }
    }

    .menubar {
        display: flex;
        align-items: stretch;
        margin-bottom: calc(var(--global-spacing) / 2);

        button {
            display: inline-flex;
            align-items: center;
            background: none;
            border: 2px solid transparent;
            outline: none;
            padding: calc(var(--global-spacing) / 2);
            border-radius: calc(var(--global-radius) / 2);
            margin-right: calc(var(--global-spacing) / 2);
            transition: all 0.1s ease;

            &:hover {
                border-color: var(--color-primary);
            }

            &.is-active {
                background-color: var(--color-primary);
                color: var(--color-light-txt);
                box-shadow: var(--global-radius);
            }
        }
    }
</style>
