<template>
    <transition appear name="modal">
        <div class="modal-mask" :class="[{ 'top-bar-margin': topBarVisible }]" v-if="visible" @click.self="maskClicked">
            <div class="menu-holder" :class="[(white) ? 'white' : '', (size) ? size : '']">
                <slot name="tabs"></slot>
                <slot name="header"></slot>
                <div class="menu-inner">
                    <div class="inner-scroll">
                        <slot name="body"></slot>
                    </div>
                </div>
                <div class="foot rounded-box" v-if="useFoot">
                    <slot class="foot" name="foot"></slot>
                </div>
                <div class="menu-closer" @click="close">
                    <close-icon></close-icon>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import { defineAsyncComponent } from 'vue';

export default {
    components: {
        CloseIcon: defineAsyncComponent(() => import('../../../../shared/js/Icons/Close')),
    },
    props: {
        visible: {
            default: false,
            type: Boolean
        },
        white: Boolean,
        size: {
            default: 'small',
            type: String
        },
        useFoot: {
            default: false,
            type: Boolean
        },
        topBarVisible: {
            default: true,
            type: Boolean
        }
    },
    emits: [
        'close'
    ],
    data() {
        return {};
    },
    computed: {},
    watch: {},
    mounted() {

    },
    methods: {
        close() {
            this.$emit('close', true);
        },
        maskClicked() {
            this.close();
        }
    }
};
</script>

<style scoped lang="scss">

.modal-mask {
    position: fixed;
    z-index: 99;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(4px);
    display: table;
    transition: opacity .3s ease, backdrop-filter .3s ease;

    &.top-bar-margin {
        top: 75px;
    }

    @media (max-height: 820px) {
        display: block;
        overflow-y: auto;
    }
}

.menu-holder {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    color: var(--color-light);
    border-radius: var(--global-radius);
    background-color: rgba(7, 43, 77, 0.6);
    backdrop-filter: blur(30px);
    min-height: 40vh;
    max-height: calc(100vh - 60px);

    &.small {
        width: 500px;
    }

    &.large {
        width: 1000px;
    }

    .menu-inner {
        flex: 1;
        position: relative;
        margin-right: var(--global-spacing-half);

        /* Custom scrollbar */
        ::-webkit-scrollbar {
            width: 5px;
            transform: translateX(20px);
        }

        /* Track */
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
            margin-top: var(--global-spacing);
            margin-bottom: var(--global-spacing);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 1);
        }

        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(0, 0, 0, 0.4);
        }

        .inner-scroll {
            height: 100%;
            width: 100%;
            overflow: auto;
            position: absolute;
            padding: var(--global-spacing) var(--global-spacing-half) var(--global-spacing) var(--global-spacing);
        }
    }

    .menu-closer {
        position: absolute;
        right: calc(var(--global-radius) + 5px);
        bottom: 0;
        transform: translateY(50px);

        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 50px;

        svg {
            width: 20px;
            height: 20px;
        }

        background-image: url("/assets/images/modal_close_blue.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;

        cursor: pointer;
    }

    &.white {
        background-color: var(--color-light);
        color: var(--color-dark);

        .menu-closer {
            background-image: url("/assets/images/modal_close_white.svg");
        }
    }
}

.foot {
    --custom-radius: 0 0 var(--global-radius) var(--global-radius);
    background: var(--background-gradient-faux-shadow);
    border-radius: var(--custom-radius);
}

/**
 * Transition styles
 */
.modal-enter-from,
.modal-leave-active {
    opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

</style>

