<template>
    <modal v-if="showModal" :title="title" size="small" :show-close-btn="false" :custom-class="customClass">
        <template v-slot:body>
            <div class="confirm-body">
                <p>
                    {{ message }}
                </p>
            </div>
        </template>

        <template v-slot:footer>
            <button type="button" class="btn expand primary confirm" @click="confirm">{{ confirmBtnTxt }}</button>
            <button type="button" class="btn expand hollow-danger cancel" @click="close">{{ cancelBtnTxt }}</button>
        </template>
    </modal>
</template>

<script>
import { defineAsyncComponent } from 'vue';

export default {
    components: {
        Modal: defineAsyncComponent(() => import('../Modal'))
    },

    beforeMount() {
        this.$modal.events.on('confirm-show', (event) => {
            this.show(...Object.values(event));
        });
    },

    data() {
        return {
            showModal: false,
            title: this.$i18n.get('generic.are_you_sure'),
            message: '',
            confirmBtnTxt: this.$i18n.get('generic.yes'),
            cancelBtnTxt: this.$i18n.get('generic.no'),
            confirmCallback: null,
            cancelCallback: null,
            customClass: ''
        };
    },

    methods: {
        show(title, message, confirmBtnTxt, cancelBtnTxt, confirmCallback, cancelCallback, customClass) {
            this.title = (title) ? title : this.$i18n.get('generic.are_you_sure');
            this.message = (message) ? message : '';
            this.confirmBtnTxt = (confirmBtnTxt) ? confirmBtnTxt : this.$i18n.get('generic.yes');
            this.cancelBtnTxt = (cancelBtnTxt) ? cancelBtnTxt : this.$i18n.get('generic.no');
            this.confirmCallback = confirmCallback;
            this.cancelCallback = cancelCallback;
            this.customClass = customClass;

            this.showModal = true;
        },

        confirm() {
            this.showModal = false;

            if (typeof this.confirmCallback === 'function') {
                this.confirmCallback();
            }
        },

        close() {
            this.showModal = false;

            if (typeof this.cancelCallback === 'function') {
                this.cancelCallback();
            }
        }
    }
};
</script>

<style scoped lang="scss">
    .success-body {
        text-align: center;
    }

    :deep(.modal-footer) {
        display: flex;
        align-items: stretch;

        .btn.confirm {
            margin-right: var(--global-spacing);
        }
    }
</style>
