<template>
    <modal v-if="showErrorModal" :title="title" title-style="danger" size="small" type="danger" @close="showErrorModal = false">>
        <template v-slot:body>
            {{ message }}
        </template>

        <template v-slot:footer>
            <button type="button" class="btn danger expand" @click="close">{{ btnTxt }}</button>
        </template>
    </modal>
</template>

<script>
import { defineAsyncComponent } from 'vue';

export default {
    components: {
        Modal: defineAsyncComponent(() => import('../Modal'))
    },

    beforeMount() {
        this.$modal.events.on('error-show', (event) => {
            this.show(...Object.values(event));
        });
    },

    data() {
        return {
            showErrorModal: false,
            title: this.$i18n.get('generic.an_error_occurred'),
            message: this.$i18n.get('generic.error_message'),
            btnTxt: this.$i18n.get('generic.ok'),
            callback: null
        };
    },

    methods: {
        show(title, message, btnTxt, callback) {
            this.title = (title) ? title : this.$i18n.get('generic.an_error_occurred');
            this.message = (message) ? message : this.$i18n.get('generic.error_message');
            this.btnTxt = (btnTxt) ? btnTxt : this.$i18n.get('generic.ok');
            this.callback = callback;

            this.showErrorModal = true;
        },

        close() {
            this.showErrorModal = false;

            if (typeof this.callback === 'function') {
                this.callback();
            }
        }
    }
};
</script>

<style scoped lang="scss">

</style>
