<template>
    <modal v-if="showForm" :title="modalTitle" size="medium" @close="showForm = false">
        <template v-slot:body>
            <div class="modal-form">
                <form @submit.prevent="onSubmit($event)">
                    <model-form
                        :definition="definition"
                        :model="model"
                        :errors="errors"
                        v-model:invalid="invalid">
                    </model-form>
                </form>
            </div>
        </template>

        <template v-slot:footer>
            <div class="button-toolbar">
                <button v-if="model.id && actions.delete" type="button" class="btn hollow-danger" @click="submitDelete(model)">{{ $i18n.get('actions.remove') }}</button>
                <button v-else type="button" class="btn hollow" @click="showForm = false">{{ $i18n.get('actions.cancel') }}</button>
                <button type="button" class="btn primary" @click="onSubmit($event)">{{ $i18n.get('actions.save') }}</button>
            </div>
        </template>
    </modal>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import { addOrEditMixin } from '../../Mixins/addOrEditMixin';
import cloneDeep from 'lodash/cloneDeep';

export default {
    mixins: [addOrEditMixin],

    components: {
        Modal: defineAsyncComponent(() => import('../Modal')),
        ModelForm: defineAsyncComponent(() => import('../ModelForm'))
    },

    props: {
        defaultModelData: {
            type: Object,
            default: function() {
                return {};
            }
        },
        actions: {
            type: Object,
            default: function() {
                return {
                    delete: true
                };
            }
        },
        onBeforeDefinitionSet: {
            type: Function,
            default: function (definition) {
                return definition;
            }
        },
        onBeforeModelSet: {
            type: Function,
            default: function (data) {
                return data;
            }
        }
    },

    emits: [
        'created',
        'saved',
        'updated',
        'deleted'
    ],

    data() {
        return {
            model: cloneDeep(this.defaultModelData),
            search: '',
            showForm: false,
            modalTitle: ''
        };
    },

    methods: {
        openAdd() {
            this.modalTitle = this.$i18n.get('actions.create_attr', {
                attribute: this.modelNameSingular.toLowerCase()
            });
            this.model = cloneDeep(this.defaultModelData);
            this.showForm = true;
        },

        async openEdit(id) {
            this.$loading.show();
            await this.load(id);
            this.modalTitle = this.$i18n.get('actions.edit_attr', {
                attribute: this.modelNameSingular.toLowerCase()
            });
            this.showForm = true;
            this.$loading.hide();
        },

        async onAdd(data, returnedData) {
            this.$loading.show();
            this.showForm = false;
            this.$emit('created', data, returnedData);
            this.$emit('saved', data, returnedData);
            this.$loading.hide();
        },

        async onEdit(data, returnedData) {
            this.$loading.show();
            this.showForm = false;
            this.$emit('updated', data, returnedData);
            this.$emit('saved', data, returnedData);
            this.$loading.hide();
        },

        async onDelete(id) {
            this.$loading.show();
            this.showForm = false;
            this.$emit('deleted', id);
            this.$loading.hide();
        },

        beforeDefinitionSet(definition) {
            return this.onBeforeDefinitionSet(definition);
        },

        beforeModelSet(data) {
            return this.onBeforeModelSet(data);
        },
    }
};
</script>

<style scoped lang="scss">
    .button-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    :deep(.modal-container .modal-body) {
        overflow: visible;
    }
</style>
