<template>
    <modal v-if="showSuccessModal" size="small" :show-close-btn="false">
        <template v-slot:body>
            <div class="success-body">
                <div class="icon-wrap">
                    <checkbox-marked-circle-outline-icon class="icon-8x"></checkbox-marked-circle-outline-icon>
                </div>
                <slot name="success-body">
                    <h4>{{ title }}</h4>
                    <p v-if="message">
                        {{ message }}
                    </p>
                </slot>
            </div>

            <slot name="after-body"></slot>
        </template>

        <template v-slot:footer>
            <button type="button" class="btn primary expand" @click="close">{{ btnTxt }}</button>
        </template>
    </modal>
</template>

<script>
import { defineAsyncComponent } from 'vue';

export default {
    components: {
        Modal: defineAsyncComponent(() => import('../Modal')),
        CheckboxMarkedCircleOutlineIcon: defineAsyncComponent(() => import('../../Icons/CheckboxMarkedCircleOutline'))
    },

    beforeMount() {
        this.$modal.events.on('success-show', (event) => {
            this.show(...Object.values(event));
        });
    },

    data() {
        return {
            showSuccessModal: false,
            title: this.$i18n.get('generic.success'),
            message: '',
            btnTxt: this.$i18n.get('generic.ok'),
            callback: null
        };
    },

    methods: {
        show(title, message, btnTxt, callback) {
            this.title = (title) ? title : this.$i18n.get('generic.success');
            this.message = (message) ? message : '';
            this.btnTxt = (btnTxt) ? btnTxt : this.$i18n.get('generic.ok');
            this.callback = callback;

            this.showSuccessModal = true;
        },

        close() {
            this.showSuccessModal = false;

            if (typeof this.callback === 'function') {
                this.callback();
            }
        }
    }
};
</script>

<style scoped lang="scss">
    .success-body {
        text-align: center;

        h4 {
            text-transform: uppercase;
            color: var(--color-primary);
        }
    }

    .icon-wrap {
        color: var(--color-success);
    }
</style>
