@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
/*
@font-face {
    font-family: Helvetica;
    src: url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.otf') format('opentype'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.woff') format('woff'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.ttf') format('truetype');
}

@font-face {
    font-family: Helvetica;
    font-style: italic;
    src: url('../assets/fonts/Helvetica/HelveticaNeueLTStd-It/HelveticaNeueLTStd-It.otf') format('opentype'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-It/HelveticaNeueLTStd-It.woff') format('woff'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-It/HelveticaNeueLTStd-It.ttf') format('truetype');
}

@font-face {
    font-family: Helvetica;
    font-weight: bold;
    src: url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.otf') format('opentype'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.woff') format('woff'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.ttf') format('truetype');
}
*/
:root {
  --top-bar-height: 75px;
  --max-site-width: 1400px;
  --max-content-width: 900px;
  --max-input-width: 300px;
  --font-family: "Poppins", sans-serif;
  --font-size-rem-factor: 16px;
  --font-size-tiny: 0.625rem;
  --font-size-small: 0.75rem;
  --font-size-medium: 0.875rem;
  --font-size-base: 1rem;
  --font-size-big: 1.125rem;
  --font-size-bigger: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-larger: 1.75rem;
  --font-size-title: 1.25rem;
  --line-height-base: 1.3;
  --color-primary: #0090ff;
  --color-primary-rgb: 0, 144, 255;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255,255,255;
  --color-primary-shade: #0089f3;
  --color-primary-shade-200: #0080e3;
  --color-primary-shade-300: #0076d1;
  --color-primary-shade-400: #006ec3;
  --color-primary-tint: #3aaaff;
  --color-primary-tint-200: #63bbff;
  --color-primary-tint-300: #8eceff;
  --color-primary-tint-400: #b8e0ff;
  --color-secondary: #054175;
  --color-secondary-rgb: 5, 65, 117;
  --color-secondary-contrast: #ffffff;
  --color-secondary-contrast-rgb: 255,255,255;
  --color-secondary-shade: #053a69;
  --color-secondary-shade-rgb: 5, 58, 105;
  --color-secondary-shade-200: #053159;
  --color-secondary-shade-200-rgb: 5, 49, 89;
  --color-secondary-shade-300: #042748;
  --color-secondary-shade-300-rgb: 4, 39, 72;
  --color-secondary-shade-400: #031f3b;
  --color-secondary-shade-400-rgb: 3, 31, 59;
  --color-secondary-tint: #1d5383;
  --color-secondary-tint-200: #326897;
  --color-secondary-tint-300: #497eab;
  --color-secondary-tint-400: #6292bc;
  --color-secondary-tint-500: #7aa5cd;
  --color-secondary-tint-600: #98bcdd;
  --color-secondary-tint-700: #b2cee5;
  --color-secondary-tint-800: #d2e3f4;
  --color-secondary-tint-900: #eef5fc;
  --color-tertiary: #ffb804;
  --color-tertiary-rgb: 255, 184, 4;
  --color-tertiary-contrast: #000000;
  --color-tertiary-contrast-rgb: 0,0,0;
  --color-tertiary-shade: #edac00;
  --color-tertiary-shade-200: #d29d00;
  --color-tertiary-tint: #ffd05b;
  --color-tertiary-tint-200: #ffeab7;
  --color-quarternary: #9cea14;
  --color-quarternary-rgb: 156, 234, 20;
  --color-quarternary-contrast: #000000;
  --color-quarternary-contrast-rgb: 0,0,0;
  --color-quarternary-shade: #83d914;
  --color-quarternary-shade-200: #79c915;
  --color-quarternary-shade-300: #6eb913;
  --color-quarternary-shade-400: #64ad11;
  --color-quarternary-tint: #cff8ab;
  --color-quintenary: #f65757;
  --color-quintenary-rgb: 246, 87, 87;
  --color-quintenary-contrast: #000000;
  --color-quintenary-contrast-rgb: 0,0,0;
  --color-quintenary-shade: #e05151;
  --color-quintenary-shade-200: #cd4a4a;
  --color-quintenary-tint: #ff7272;
  --color-quintenary-tint-200: #ff9494;
  --color-warning: var(--color-tertiary);
  --color-warning-rgb: var(--color-tertiary-rgb);
  --color-warning-contrast: #000000;
  --color-warning-contrast-rgb: 0,0,0;
  --color-warning-shade: var(--color-tertiary-shade);
  --color-warning-tint: var(--color-tertiary-tint);
  --color-danger: #EB5757;
  --color-danger-rgb: 235,87,87;
  --color-danger-contrast: #000000;
  --color-danger-contrast-rgb: 0,0,0;
  --color-danger-shade: #cf4d4d;
  --color-danger-tint: #ed6868;
  --color-success: var(--color-quarternary);
  --color-success-rgb: var(--color-quarternary-rgb);
  --color-success-contrast: #000000;
  --color-success-contrast-rgb: 0,0,0;
  --color-success-shade: var(--color-quarternary-shade-200);
  --color-success-tint: var(--color-quarternary-tint);
  --color-info: #2F80ED;
  --color-info-rgb: 47,128,237;
  --color-info-contrast: #ffffff;
  --color-info-contrast-rgb: 255,255,255;
  --color-info-shade: #2971d1;
  --color-info-tint: #448def;
  --color-tablebg-light: var(--color-light);
  --color-tablebg-medium: var(--color-secondary-tint-800);
  --color-tablebg-dark: var(--color-secondary-tint-700);
  --color-tablebg-extra-dark: var(--color-secondary);
  --gradient-tablebg-light-left: linear-gradient(270deg, #D2E3F4 0%, #FFFFFF 100%);
  --gradient-tablebg-light-right: linear-gradient(90deg, #D2E3F4 0%, #FFFFFF 100%);
  --gradient-tablebg-medium-left: linear-gradient(270deg, #B2CEE5 0%, #FFFFFF 100%);
  --gradient-tablebg-medium-right: linear-gradient(90deg, #B2CEE5 0%, #FFFFFF 100%);
  --color-medium: #3f4a55;
  --color-medium-rgb: 63, 74, 85;
  --color-medium-contrast: #000000;
  --color-medium-contrast-rgb: 0,0,0;
  --color-medium-shade: #3a444e;
  --color-medium-shade-200: #333c45;
  --color-medium-shade-300: #2b343b;
  --color-medium-shade-400: #252c32;
  --color-medium-tint: #586876;
  --color-medium-tint-200: #697d8e;
  --color-medium-tint-300: #8092a1;
  --color-medium-tint-400: #99a7b3;
  --color-medium-tint-500: #afbac4;
  --color-medium-tint-600: #cad1d8;
  --color-medium-tint-700: #dee3e7;
  --color-medium-tint-800: #ebeef0;
  --color-medium-tint-900: #f9fafb;
  --color-light: #ffffff;
  --color-light-rgb: 244,244,244;
  --color-light-contrast: #000000;
  --color-light-contrast-rgb: 0,0,0;
  --color-light-shade: #d7d7d7;
  --color-light-tint: #f2f2f2;
  --color-content-bg: #fff;
  --color-body-bg: #E5E5E5;
  --color-menu-bg: #F8F8F8;
  --color-secondary-bg: #efefef;
  --color-secondary-bg-shade: #d2d2d2;
  --color-secondary-bg-tint: #f1f1f1;
  --color-dark: #000000;
  --color-dark-tint: #1a315b;
  --color-dark-rgb: 0,0,0;
  --color-dark-txt: #000000;
  --color-medium-txt: #BDBDBD;
  --color-medium-txt-tint: #99A7B3;
  --color-medium-txt-shade: #858585;
  --color-light-txt: #FFFFFF;
  --color-gold: #c0ac5e;
  --color-gold-shade: #9a8b4c;
  --background-gradient-dark: radial-gradient(116.98% 400% at 50% -129.75%, #60521E 0%, rgba(96, 82, 30, 0) 100%), #031F3B;
  --background-gradient-grey-left: radial-gradient(142.31% 579.88% at -5.33% -42.31%, rgba(125, 98, 0, 0.1) 0%, rgba(125, 98, 0, 0) 100%), linear-gradient(100.8deg, #F9FAFB 0%, rgba(249, 250, 251, 0) 68.14%);
  --background-gradient-blue: radial-gradient(100% 454.29% at 100% 100%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), var(--color-primary);
  --background-gradient-gold: radial-gradient(100% 100% at 0% 0%, #FFFBA4 0%, rgba(255, 251, 164, 0) 100%), radial-gradient(100% 100% at 100% 100%, #B48F3A 0%, rgba(180, 143, 58, 0) 100%), linear-gradient(0deg, #D6B85E, #D6B85E);
  --background-gradient-gold-dark: radial-gradient(100% 100% at 0% 0%, #FFFBA4 0%, rgba(255, 251, 164, 0) 100%), radial-gradient(100% 100% at 100% 100%, #B48F3A 0%, rgba(180, 143, 58, 0) 100%), linear-gradient(0deg, #504524, #504524);
  --background-gradient-blurple: radial-gradient(100% 100% at 100% 0%, #0066FF 0%, #C852FF 100%);
  --background-gradient-blurple-dark: radial-gradient(100% 100% at 100% 0%, #184487 0%, #AF3FE3 100%), linear-gradient(0deg, #000000, #000000);
  --background-gradient-faux-shadow: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 10.42%), linear-gradient(180deg, #EDEDED 0%, rgba(234, 234, 234, 0) 100%);
  --global-spacing: 24px;
  --global-spacing-threeforths: calc(var(--global-spacing) / 1.5);
  --global-spacing-half: calc(var(--global-spacing) / 2);
  --global-spacing-third: calc(var(--global-spacing) / 3);
  --global-spacing-quarter: calc(var(--global-spacing) / 4);
  --global-spacing-double: calc(var(--global-spacing) * 2);
  --global-border: 2px solid var(--color-medium-tint-700);
  --global-border-light: 2px solid var(--color-light-txt);
  --global-border-medium: 2px solid var(--color-medium-tint-900);
  --global-border-transparent-light: 4px solid rgba(255, 255, 255, 0.5);
  --global-border-transparent-primary: 4px solid rgba(0, 144, 255, 0.2);
  --global-transparent-background-light: rgba(255, 255, 255, 0.5);
  --global-transparent-background-primary: rgba(0, 144, 255, 0.5);
  --global-border-width-small: 2px;
  --global-border-width-large: 4px;
  --global-radius: 20px;
  --global-radius-inner: 15px;
  --global-radius-big: 32px;
  --global-radius-small: 10px;
  --global-radius-tiny: 5px;
  --input-radius: var(--global-radius-inner);
  --global-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  --global-drop-shadow: drop-shadow(0 20px 5px rgba(0, 0, 0, 0.1));
  --global-drop-shadow-dark: drop-shadow(0 8px 5px rgba(0, 0, 0, 0.5));
  --global-drop-shadow-blue: 0 20px 40px rgba(0, 144, 255, 0.5);
  --global-drop-shadow-blue-dark: 0 10px 20px rgba(0, 144, 255, 0.8);
  --tab-inactive-background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 30%), #FFFFFF;
  --tab-inactive-background-dark: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 30%), #D2E3F4;
  --box-shadow: 0px 20.0713px 12.8457px rgba(0, 0, 0, 0.0323969), 0px 12.0939px 7.74008px rgba(0, 0, 0, 0.0276031), 0px 6.73465px 4.31018px rgba(0, 0, 0, 0.0223931), 0px 2.89653px 1.85378px rgba(0, 0, 0, 0.0154995);
  --box-shadow-gold: 0px 100px 80px rgba(255, 251, 164, 0.18), 0px 41.7776px 33.4221px rgba(255, 251, 164, 0.129394), 0px 22.3363px 17.869px rgba(255, 251, 164, 0.107299), 0px 12.5216px 10.0172px rgba(255, 251, 164, 0.09), 0px 6.6501px 5.32008px rgba(255, 251, 164, 0.0727007), 0px 2.76726px 2.21381px rgba(255, 251, 164, 0.0506062);
  --button-box-shadow: 0px 125px 80px rgba(0, 0, 0, 0.06), 0px 57.7913px 36.9864px rgba(0, 0, 0, 0.0445005), 0px 33.0669px 21.1628px rgba(0, 0, 0, 0.0376069), 0px 20.0713px 12.8457px rgba(0, 0, 0, 0.0323969), 0px 12.0939px 7.74008px rgba(0, 0, 0, 0.0276031), 0px 6.73465px 4.31018px rgba(0, 0, 0, 0.0223931), 0px 2.89653px 1.85378px rgba(0, 0, 0, 0.0154995);
  --button-box-shadow-blue: 0px 96px 176px rgba(0, 144, 255, 0.36), 0px 44.3837px 81.3701px rgba(0, 144, 255, 0.267003), 0px 25.3953px 46.5581px rgba(0, 144, 255, 0.225641), 0px 15.4148px 28.2605px rgba(0, 144, 255, 0.194381), 0px 9.28809px 17.0282px rgba(0, 144, 255, 0.165619), 0px 5.17221px 9.48239px rgba(0, 144, 255, 0.134359), 0px 2.22453px 4.07831px rgba(0, 144, 255, 0.0929969);
  --button-box-shadow-yellow: 0px 96px 176px rgba(255, 184, 0, 0.36), 0px 44.3837px 81.3701px rgba(255, 184, 0, 0.267003), 0px 25.3953px 46.5581px rgba(255, 184, 0, 0.225641), 0px 15.4148px 28.2605px rgba(255, 184, 0, 0.194381), 0px 9.28809px 17.0282px rgba(255, 184, 0, 0.165619), 0px 5.17221px 9.48239px rgba(255, 184, 0, 0.134359), 0px 2.22453px 4.07831px rgba(255, 184, 0, 0.0929969);
  --big-shadow: 0px 2.8965256214141846px 1.853776454925537px 0px rgba(0, 0, 0, 0.0155), 0px 6.734648704528809px 4.31017541885376px 0px rgba(0, 0, 0, 0.0224), 0px 12.093868255615234px 7.740076065063477px 0px rgba(0, 0, 0, 0.0276), 0px 20.07134246826172px 12.845659255981445px 0px rgba(0, 0, 0, 0.0324), 0px 33.06686019897461px 21.162790298461914px 0px rgba(0, 0, 0, 0.0376), 0px 57.79128646850586px 36.98642349243164px 0px rgba(0, 0, 0, 0.0445), 0px 125px 80px 0px rgba(0, 0, 0, 0.06);
  --gui-margin: 20px;
  --bottom-bar-height: var(--top-bar-height);
  --image-size: 80px;
}

.primary-txt-color {
  color: var(--color-primary);
}

.danger-txt-color {
  color: var(--color-danger);
}

.warning-txt-color {
  color: var(--color-warning);
}

.success-txt-color {
  color: var(--color-success);
}

.info-txt-color {
  color: var(--color-info);
}

.page-container {
  width: 100%;
  padding: var(--global-spacing-double);
  margin: 0 auto;
  position: relative;
}

#page-wrapper {
  min-height: 100vh;
}
.mode-web #page-wrapper, .mode-admin #page-wrapper {
  display: flex;
}
#page-wrapper .page-content {
  flex-grow: 1;
}
#page-wrapper .page-content .left {
  margin-right: var(--global-spacing-double);
}
.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--global-spacing-double);
}
.page-header .toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--global-spacing-double);
}
.page-header .toolbar .btn {
  margin-left: var(--global-spacing);
}

.max-content-width {
  max-width: var(--max-content-width);
}

.rounded-box {
  background: var(--custom-box-background, var(--color-light));
  border-radius: var(--custom-radius, var(--global-radius));
  padding: var(--custom-spacing, var(--global-spacing));
}
.rounded-box .rounded-box {
  border-radius: var(--custom-inner-radius, var(--global-radius-inner));
}
.rounded-box .header h1, .rounded-box .header h2, .rounded-box .header h3, .rounded-box .header h4, .rounded-box .header h5, .rounded-box .header h6, .rounded-box .invite h1, .rounded-box .invite h2, .rounded-box .invite h3, .rounded-box .invite h4, .rounded-box .invite h5, .rounded-box .invite h6 {
  font-size: var(--font-size-big);
}
.rounded-box .box-title {
  margin: 0;
}
.rounded-box .box-title h1, .rounded-box .box-title h2, .rounded-box .box-title h3, .rounded-box .box-title h4, .rounded-box .box-title h5, .rounded-box .box-title h6 {
  font-size: var(--font-size-big);
}
.rounded-box .box-title.medium {
  font-size: var(--font-size-big);
}
.rounded-box .box-title.large {
  font-size: var(--font-size-big);
}
.rounded-box .subtitle {
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
}
.rounded-box.small-padding {
  padding: var(--global-spacing-half);
}
.rounded-box.big-padding {
  padding: var(--global-spacing-double);
}
.rounded-box.no-padding {
  padding: 0;
}

.notifications-header {
  display: flex;
  padding: var(--global-spacing) var(--global-spacing) 0 var(--global-spacing);
  font-weight: 700;
  font-size: var(--font-size-big);
}

.player-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  padding-top: 7px;
  font-size: var(--font-size-small);
  color: var(--color-medium-tint-300);
}
.player-icons svg {
  font-size: var(--font-size-base);
  color: var(--custom-unfilled-color, rgba(var(--color-dark-rgb), 0.2));
}
.player-icons svg.filled {
  color: var(--custom-filled-color, var(--color-primary));
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table-header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.table-header .column {
  text-align: left;
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--color-dark);
  padding: 0 var(--global-spacing);
}
.table-header .column.sortable {
  cursor: pointer;
}
.table-header .column.sortable:hover {
  color: var(--color-primary);
}
.table-header .column .material-design-icon {
  position: absolute;
  transform: translateY(-10%);
}

.table-row .column {
  padding: var(--global-spacing);
  vertical-align: middle;
  border-bottom: 2px solid var(--color-medium-tint);
}
.table-row .column:not(:last-of-type) {
  padding-right: var(--global-spacing);
}
.table-row .column.actions {
  text-align: right;
}
.table-row .column.actions button.action {
  padding: calc(var(--global-spacing) / 2);
  margin: 0 calc(var(--global-spacing) / 2);
}
.table-row .column.actions button.action.edit {
  color: var(--color-dark);
}
.table-row .column.actions button.action.delete {
  color: var(--color-danger);
}
.table-row .column.actions button.action:last-of-type {
  margin-right: 0;
}
.table-row .column.actions > span {
  cursor: pointer;
}
.table-row:hover .column {
  background-color: var(--color-medium-tint);
}
.table-row:last-of-type .column {
  border-bottom: none;
}

.sub-row {
  background-color: var(--color-medium-tint);
}
.sub-row .sub-row-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.sub-row .sub-row-inner .sub-column {
  padding: var(--global-spacing);
}
.sub-row .sub-row-inner .sub-column .sub-header {
  font-weight: bold;
  color: var(--color-dark);
  font-size: var(--font-size-base);
  margin-bottom: calc(var(--global-spacing) / 2);
}
.sub-row.horizontal-columns .sub-row-inner {
  justify-content: start;
}
.sub-row.horizontal-columns .sub-row-inner .sub-column .sub-header,
.sub-row.horizontal-columns .sub-row-inner .sub-column .sub-value {
  display: inline-block;
}
.sub-row.horizontal-columns .sub-row-inner .sub-column .sub-header {
  margin-bottom: 0;
}

.table-list {
  display: table;
  width: 100%;
}
.table-list .column {
  display: table-cell;
}
.table-list .table-header {
  display: table-header-group;
}
.table-list .table-row {
  display: table-row;
}
.table-list .table-row .column {
  display: table-cell;
}

.model-list {
  width: 100%;
}
.model-list .no-result {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-medium);
  margin: var(--global-spacing) 0;
}
.model-list .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.model-list .pagination .btn {
  padding: calc(var(--global-spacing) / 2) var(--global-spacing);
  margin: calc(var(--global-spacing) / 2);
}
.model-list .pagination .btn.page {
  margin: calc(var(--global-spacing) / 3);
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

hr {
  background-color: var(--color-primary);
  height: 2px;
  border: none;
}

.drop-shadow {
  filter: var(--global-drop-shadow);
}
.drop-shadow.blue {
  box-shadow: var(--global-drop-shadow-blue) !important;
}

.drop-shadow-dark {
  filter: var(--global-drop-shadow-dark);
}
.drop-shadow-dark.blue {
  box-shadow: var(--global-drop-shadow-blue-dark) !important;
}

.pointer {
  cursor: pointer;
}

.nomargin {
  margin: 0;
}

.background-light {
  background: var(--color-light);
}

.border-light {
  border: var(--global-border);
  border-radius: var(--global-radius);
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size-rem-factor);
}

a {
  color: var(--color-secondary);
}
a:hover {
  color: var(--color-secondary-shade);
}

.bold {
  font-weight: 700;
}

.inner-shadow {
  text-shadow: 0px 2px 5px transparent;
}

.header.small {
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--color-secondary-tint);
}

.small-grey {
  font-size: var(--font-size-medium);
  line-height: var(--font-size-medium);
  font-weight: 500;
  color: var(--color-medium-txt-tint);
}

.small-blue {
  font-size: var(--font-size-medium);
  font-weight: 500;
  color: var(--color-medium-txt-tint);
}

h1.stylized, h2.stylized, h3.stylized, h4.stylized, h5.stylized, h6.stylized {
  font-weight: normal;
  -webkit-text-decoration-color: var(--color-primary);
          text-decoration-color: var(--color-primary);
}
h1.stylized.primary, h1.stylized.btn.success-filled, h1.stylized.btn.secondary-filled, h1.stylized.btn.primary-filled, h2.stylized.primary, h2.stylized.btn.success-filled, h2.stylized.btn.secondary-filled, h2.stylized.btn.primary-filled, h3.stylized.primary, h3.stylized.btn.success-filled, h3.stylized.btn.secondary-filled, h3.stylized.btn.primary-filled, h4.stylized.primary, h4.stylized.btn.success-filled, h4.stylized.btn.secondary-filled, h4.stylized.btn.primary-filled, h5.stylized.primary, h5.stylized.btn.success-filled, h5.stylized.btn.secondary-filled, h5.stylized.btn.primary-filled, h6.stylized.primary, h6.stylized.btn.success-filled, h6.stylized.btn.secondary-filled, h6.stylized.btn.primary-filled {
  color: var(--color-primary);
  font-weight: bold;
}
h1.stylized.secondary, h2.stylized.secondary, h3.stylized.secondary, h4.stylized.secondary, h5.stylized.secondary, h6.stylized.secondary {
  color: var(--color-secondary);
  font-weight: bold;
}
h1.stylized.danger, h1.stylized.btn.danger-filled, h2.stylized.danger, h2.stylized.btn.danger-filled, h3.stylized.danger, h3.stylized.btn.danger-filled, h4.stylized.danger, h4.stylized.btn.danger-filled, h5.stylized.danger, h5.stylized.btn.danger-filled, h6.stylized.danger, h6.stylized.btn.danger-filled {
  -webkit-text-decoration-color: var(--color-danger);
          text-decoration-color: var(--color-danger);
}
h1.stylized.warning, h2.stylized.warning, h3.stylized.warning, h4.stylized.warning, h5.stylized.warning, h6.stylized.warning {
  -webkit-text-decoration-color: var(--color-warning);
          text-decoration-color: var(--color-warning);
}

.gradient {
  color: var(--color-primary-shade-200);
}
.gradient.gold {
  color: var(--color-gold);
}

.wager-round .gradient.gold {
  --custom-gradient: var(--background-gradient-gold);
}

.big-number {
  font-size: calc(var(--font-size-base) * 5);
  line-height: calc(var(--font-size-base) * 5);
}

h2 {
  font-size: calc(var(--font-size-base) * 2);
  line-height: calc(var(--font-size-base) * 2.5);
}

h3 {
  font-size: calc(var(--font-size-base) * 1.5);
  line-height: calc(var(--font-size-base) * 2);
}

.icon-1-5x {
  height: 1.5em;
  width: 1.5em;
}
.icon-2x {
  height: 2em;
  width: 2em;
}
.icon-3x {
  height: 3em;
  width: 3em;
}
.icon-4x {
  height: 4em;
  width: 4em;
}
.icon-6x {
  height: 6em;
  width: 6em;
}
.icon-8x {
  height: 8em;
  width: 8em;
}
.icon-small {
  height: 16px;
  width: 16px;
}

.field-wrap {
  margin-bottom: var(--global-spacing);
  display: block;
  width: 100%;
  color: var(--color-secondary);
  font-weight: 500;
}
.field-wrap:last-of-type {
  margin-bottom: 0;
}
.field-wrap.disabled .field-label-wrap {
  color: var(--color-medium-tint);
}

.field-wrap.checkbox .checkbox-blank-outline-icon {
  color: var(--color-primary);
}
.field-wrap.checkbox .checkbox-marked-icon {
  color: var(--color-primary);
}

input.field,
textarea.field,
select.field {
  padding: var(--global-spacing-half) var(--global-spacing);
  border: 2px solid var(--color-medium-tint-700);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  font-weight: 600;
  min-width: 250px;
  width: 100%;
  border-radius: var(--input-radius);
}
@media (max-width: 629px) {
  input.field,
textarea.field,
select.field {
    min-width: 100%;
  }
}
input.field.invalid,
textarea.field.invalid,
select.field.invalid {
  border-color: var(--color-danger);
}
input.field.has-button,
textarea.field.has-button,
select.field.has-button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
input.field:focus,
textarea.field:focus,
select.field:focus {
  outline: 0;
  border-color: var(--color-secondary);
}
input.field[disabled],
textarea.field[disabled],
select.field[disabled] {
  border-color: var(--color-medium-tint);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: var(--font-family);
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: var(--font-family);
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: var(--font-family);
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: var(--font-family);
}

textarea.field {
  min-height: 100px;
}

.field-description {
  color: var(--color-medium-shade);
  display: block;
  margin-top: var(--global-spacing-half);
  margin-bottom: var(--global-spacing-double);
}

.horizontal-labels .field-wrap-inner {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 629px) {
  .horizontal-labels .field-wrap-inner {
    display: block;
  }
}
.horizontal-labels .field-wrap-inner .field-label-wrap {
  width: 100%;
  max-width: 200px;
}

.integrated-button {
  width: 100%;
  background: var(--color-secondary);
  color: var(--color-light);
  border: 0;
  padding: var(--global-spacing-half);
  border-bottom-left-radius: var(--global-radius);
  border-bottom-right-radius: var(--global-radius);
  font-size: var(--font-size-base);
  text-align: center;
  cursor: pointer;
}
.integrated-button.active {
  background: var(--color-secondary);
  color: var(--color-light);
}

.field-group-header {
  font-weight: normal;
  font-size: calc(var(--font-size-base) * 1.4);
}

.field-group:not(:last-of-type) {
  padding-bottom: var(--global-spacing);
  margin-bottom: var(--global-spacing-double);
  border-bottom: 1px solid var(--color-medium-tint);
}

.validation-errors > .error {
  display: block;
}

.floating-label {
  position: absolute;
  top: 0;
  left: calc(var(--global-spacing) * 0.75);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}

.floating-label,
.floating-label-field {
  font: inherit;
  line-height: 1;
  display: block;
  width: 100%;
  cursor: text;
}
.floating-label.select-label,
.floating-label-field.select-label {
  z-index: 2;
  padding: 0.5em;
  transform: translate(0, -50%);
  background-color: var(--floating-label-background, var(--color-content-bg));
  color: var(--color-secondary-shade);
  width: auto;
  top: 0;
}

.floating-label-field,
.floating-label-wrap {
  position: relative;
}

.floating-label-field {
  border-radius: 5px;
}
.floating-label-field:focus {
  outline: 0;
  box-shadow: none;
}
.floating-label-field + .floating-label {
  position: absolute;
  top: var(--global-spacing-half);
  left: var(--input-padding, var(--global-spacing));
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0.4em 0.5em 0.5em 0.5em;
  transition: transform 0.25s, opacity 0.25s, padding 0.25s ease-in-out;
  transform-origin: 0 0;
  border-radius: 20px;
  color: var(--color-secondary-shade);
}
.floating-label-field:not(:-moz-placeholder-shown) + .floating-label {
  z-index: 2;
  padding: 0.5em;
  transform: translate(0, -50%);
  background-color: var(--floating-label-background, var(--color-content-bg));
  font-weight: 500;
  top: 0;
}
.floating-label-field:not(:-ms-input-placeholder) + .floating-label {
  z-index: 2;
  padding: 0.5em;
  transform: translate(0, -50%);
  background-color: var(--floating-label-background, var(--color-content-bg));
  font-weight: 500;
  top: 0;
}
.floating-label-field:focus + .floating-label, .floating-label-field:not(:placeholder-shown) + .floating-label {
  z-index: 2;
  padding: 0.5em;
  transform: translate(0, -50%);
  background-color: var(--floating-label-background, var(--color-content-bg));
  font-weight: 500;
  top: 0;
}
.floating-label-field:is(select) + .floating-label {
  z-index: 2;
  padding: 0.5em;
  transform: translate(0, -50%);
  background-color: var(--floating-label-background, var(--color-content-bg));
  font-weight: 500;
  top: 0;
}
.floating-label-field::-moz-placeholder {
  color: transparent;
}
.floating-label-field:-ms-input-placeholder {
  color: transparent;
}
.floating-label-field::placeholder {
  color: transparent;
}

.filters .floating-label {
  left: calc(var(--global-spacing) * 0.75);
}
.filters .floating-label-field {
  padding: var(--global-spacing-half) var(--global-spacing);
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}

.btn {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: bold;
  display: inline-block;
  padding: var(--global-spacing-half) var(--global-spacing);
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 2px solid transparent;
  background-color: transparent;
  color: var(--color-dark);
  border-radius: calc(var(--global-radius) * 2);
  transition: background-color 0.2s ease-in, border-color 0.2s ease-in, color 0.2s ease-in, box-shadow 0.2s ease-out;
}
.btn.even-padding {
  padding: var(--global-spacing);
}
.btn.small {
  padding: var(--global-spacing-third) var(--global-spacing-half);
  font-size: var(--font-size-small);
}
.btn.small svg {
  font-size: var(--font-size-base);
}
.btn.large {
  padding: var(--global-spacing) var(--global-spacing-double);
  font-size: var(--font-size-big);
}
.btn.small-radius {
  border-radius: var(--global-radius-inner);
}
.btn.full-range {
  width: 100%;
}
.btn .btn-inner {
  display: flex;
  align-items: center;
}
.btn .btn-inner :nth-child(2) {
  margin-left: var(--global-spacing-third);
}
.btn.primary, .btn.success-filled, .btn.secondary-filled, .btn.primary-filled {
  background-color: var(--color-content-bg);
  color: var(--color-primary);
  border-color: var(--color-content-bg);
  box-shadow: var(--global-shadow);
}
.btn.primary svg, .btn.success-filled svg, .btn.secondary-filled svg, .btn.primary-filled svg {
  fill: var(--color-primary);
}
.btn.primary[disabled], .btn[disabled].success-filled, .btn[disabled].secondary-filled, .btn[disabled].primary-filled {
  box-shadow: none;
  color: var(--color-secondary-tint-600);
  background-color: var(--color-secondary-tint-900);
  border-color: var(--color-secondary-tint-600);
}
.btn.primary[disabled] svg, .btn[disabled].success-filled svg, .btn[disabled].secondary-filled svg, .btn[disabled].primary-filled svg {
  fill: var(--color-secondary-tint-600);
}
.btn.primary:not([disabled]):hover, .btn.success-filled:not([disabled]):hover, .btn.secondary-filled:not([disabled]):hover, .btn.primary-filled:not([disabled]):hover {
  color: var(--color-light-txt);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn.primary:not([disabled]):hover svg, .btn.success-filled:not([disabled]):hover svg, .btn.secondary-filled:not([disabled]):hover svg, .btn.primary-filled:not([disabled]):hover svg {
  fill: var(--color-light-txt);
}
.btn.primary-filled {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-light-txt);
}
.btn.primary-filled svg {
  fill: var(--color-light-txt);
}
.btn.primary-filled:not([disabled]):hover {
  background-color: var(--color-primary-tint);
}
.btn.secondary {
  background-color: var(--color-content-bg);
  color: var(--color-secondary);
  border-color: var(--color-content-bg);
  box-shadow: var(--global-shadow);
}
.btn.secondary svg {
  fill: var(--color-secondary);
}
.btn.secondary[disabled] {
  box-shadow: none;
  color: var(--color-medium-shade);
  background-color: var(--color-medium);
  border-color: var(--color-medium);
}
.btn.secondary[disabled] svg {
  fill: var(--color-medium-shade);
}
.btn.secondary:not([disabled]):hover {
  color: var(--color-light-txt);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.btn.secondary:not([disabled]):hover svg {
  fill: var(--color-light-txt);
}
.btn.secondary-filled {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-light-txt);
}
.btn.secondary-filled:not([disabled]):hover {
  background-color: var(--color-secondary-tint);
  border-color: var(--color-secondary-tint);
}
.btn.success {
  background-color: var(--color-content-bg);
  color: var(--color-success);
  border-color: var(--color-content-bg);
  box-shadow: var(--global-shadow);
}
.btn.success svg {
  fill: var(--color-success);
}
.btn.success[disabled] {
  box-shadow: none;
  color: var(--color-medium-shade);
  background-color: var(--color-medium);
  border-color: var(--color-medium);
}
.btn.success:not([disabled]):hover {
  color: var(--color-light-txt);
  background-color: var(--color-success);
  border-color: var(--color-success);
}
.btn.success:not([disabled]):hover svg {
  fill: var(--color-light-txt);
}
.btn.success-filled {
  background-color: var(--color-success);
  border-color: var(--color-success);
  color: var(--color-light-txt);
}
.btn.success-filled svg {
  fill: var(--color-light-txt);
}
.btn.success-filled:not([disabled]):hover {
  background-color: var(--color-success-tint);
}
.btn.normal, .btn.normal-filled {
  background-color: var(--color-content-bg);
  color: var(--color-dark);
  border-color: var(--color-content-bg);
  box-shadow: var(--global-shadow);
}
.btn.normal[disabled], .btn[disabled].normal-filled {
  box-shadow: none;
  color: var(--color-medium-shade);
  background-color: var(--color-medium);
  border-color: var(--color-medium);
}
.btn.normal:not([disabled]):hover, .btn.normal-filled:not([disabled]):hover {
  color: var(--color-light-txt);
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
.btn.normal-filled {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
  color: var(--color-light-txt);
}
.btn.normal-filled:not([disabled]):hover {
  background-color: var(--color-dark-tint);
}
.btn.danger, .btn.danger-filled {
  background-color: var(--color-content-bg);
  color: var(--color-danger);
  border-color: var(--color-content-bg);
  box-shadow: var(--global-shadow);
}
.btn.danger[disabled], .btn[disabled].danger-filled {
  box-shadow: none;
  color: var(--color-medium-shade);
  background-color: var(--color-medium);
  border-color: var(--color-medium);
}
.btn.danger:not([disabled]):hover, .btn.danger-filled:not([disabled]):hover {
  color: var(--color-light-txt);
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}
.btn.danger-filled {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
  color: var(--color-light-txt);
}
.btn.danger-filled:not([disabled]):hover {
  background-color: var(--color-danger);
}
.btn.hollow, .btn.hollow-danger, .btn.hollow-secondary, .btn.hollow-primary {
  background-color: transparent;
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
}
.btn.hollow[disabled], .btn[disabled].hollow-danger, .btn[disabled].hollow-secondary, .btn[disabled].hollow-primary {
  color: var(--color-medium);
  border-color: var(--color-medium);
}
.btn.hollow:not([disabled]):hover, .btn.hollow-danger:not([disabled]):hover, .btn.hollow-secondary:not([disabled]):hover, .btn.hollow-primary:not([disabled]):hover {
  color: var(--color-light-txt);
  background-color: var(--color-dark);
}
.btn.hollow-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn.hollow-primary[disabled] {
  color: var(--color-medium);
  border-color: var(--color-medium);
}
.btn.hollow-primary:not([disabled]):hover {
  background-color: var(--color-primary);
  color: var(--color-light-txt);
}
.btn.hollow-secondary {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.btn.hollow-secondary[disabled] {
  color: var(--color-medium);
  border-color: var(--color-medium);
}
.btn.hollow-secondary:not([disabled]):hover {
  background-color: var(--color-secondary);
  color: var(--color-light-txt);
}
.btn.hollow-danger {
  color: var(--color-danger);
  border-color: var(--color-danger);
}
.btn.hollow-danger[disabled] {
  color: var(--color-medium);
  border-color: var(--color-medium);
}
.btn.hollow-danger:not([disabled]):hover {
  background-color: var(--color-danger);
  color: var(--color-light-txt);
}

.button-tabs {
  display: flex;
}
.button-tabs .button-tab {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  flex: 1;
  padding: var(--global-spacing-half) var(--global-spacing);
  border-radius: var(--global-radius-inner);
  border: var(--global-border);
  font-weight: 700;
  color: var(--color-dark);
  margin-right: var(--global-spacing-half);
}
.button-tabs .button-tab.small {
  flex: 0 1 0;
}
.button-tabs .button-tab.active {
  background: var(--color-primary);
  color: var(--color-light);
  border-color: var(--color-primary);
}
.button-tabs .button-tab:last-of-type {
  margin-right: 0;
}
.button-tabs .button-tab .badge {
  --badge-size: 30px;
  background: var(--color-quintenary);
  width: auto;
  height: 30px;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  top: calc(var(--badge-size) / 2 * -1);
  border-radius: 100px;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--global-spacing-half) var(--global-spacing-half);
  z-index: 99;
}
.button-tabs.vertical {
  flex-direction: column;
}
.button-tabs.vertical .button-tab {
  margin-right: 0;
  margin-bottom: var(--global-spacing-half);
}
.button-tabs.vertical .button-tab:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

.tab-list {
  display: flex;
}
.tab-list div {
  padding: calc(var(--global-spacing) / 2) calc(var(--global-spacing));
  background-color: var(--color-primary-contrast);
  border-radius: var(--global-radius-inner) var(--global-radius-inner) 0 0;
  margin-right: calc(var(--global-spacing) / 6);
  font-weight: 700;
}
.tab-list div.active {
  color: var(--color-primary);
}
.tab-list div:not(.active) {
  background: var(--tab-inactive-background);
  cursor: pointer;
}
.tab-list.dark div {
  background-color: var(--color-primary);
}
.tab-list.dark div.active {
  color: var(--color-light);
}
.tab-list.dark div:not(.active) {
  background: var(--tab-inactive-background-dark);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  overflow-y: auto;
}

.patterned-bg {
  background-color: var(--color-secondary-shade);
  background-image: url("/assets/images/bg-pattern.png");
  background-size: 12%;
}
