<template>
    <div class="avatar" :class="extraClass">
        <img v-if="extraClass.indexOf('fancy-border') >= 0" class="border" :alt="club.title" :src="getAvatarURL()" />
        <img class="main" :alt="club.title" :src="getAvatarURL()" />
    </div>
</template>

<script>

export default {
    props: {
        club: Object,
        extraClass: {
            type: String,
            default: 'outline round'
        }
    },
    methods: {
        getAvatarURL() {
            if (
                this.club &&
                Array.isArray(this.club.badge) &&
                this.club.badge[0] &&
                this.club.badge[0].sizes &&
                this.club.badge[0].sizes.thumb
            ) {
                return this.club.badge[0].sizes.thumb;
            } else {
                return '/assets/images/club_avatar.jpg';
            }
        }
    }
};

</script>

<style scoped lang="scss">

.avatar {
    position: relative;
    overflow: hidden;
    display: block;
    img {
        vertical-align: middle;
        max-width: 100%;
        height: calc(var(--top-bar-height) - var(--global-spacing-half) * 2);
    }
    .main {
        z-index: 3;
        position: relative;
        aspect-ratio: 1 / 1;
    }
    .border {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.round {
        img {
            border-radius: 50%;
        }
    }
    &.rounded {
        border-radius: 32px;
        .main {
            border-radius: 32px;
        }
    }

    &.square {
        flex-grow: 0;
        flex-shrink: 2;
        flex-basis: var(--image-size);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: var(--global-spacing-half);

        .main {
            width: var(--image-size);
            height: auto;
            border-radius: var(--global-radius-small);
            object-fit: cover;
        }
    }

    &.small {
        --image-size: 30px;
    }

    &.big {
        --image-size: 180px;
        .main {
            border-radius: var(--global-radius);
        }
    }

    &.no-spacing {
        margin-right: 0;
    }

    &.outline {
        .main {
            border: 2px solid var(--color-medium-tint-800);
        }
    }
    &.fancy-border {
        padding: 6px;
        img {
            width: 100%;
            max-width: none;
            height: auto;
        }
        .main {
            border-radius: 26px;
        }

        &:after {
            border-radius: 32px;
            overflow: hidden;
            content: "";
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            backdrop-filter: blur(10px);
            background: linear-gradient(0deg, rgba(214, 184, 94, 0), rgba(214, 184, 94, 0)),radial-gradient(100% 100% at 100% 100%, rgba(180, 143, 58, 0.6) 0%, rgba(180, 143, 58, 0) 100%), radial-gradient(100% 100% at 0% 0%, rgba(255, 251, 164, 0.6) 0%, rgba(255, 251, 164, 0) 100%);
        }
    }
}

</style>
