html,
body {
    height: 100%;
    overflow: hidden;
}

#app {
    height: 100%;
    overflow-y: auto;

    .header-wrapper {
        .toolbar {
            background-color: #008fff7a;
        }

    }
}
