<template>
    <form id="login-form" @submit.prevent="onSubmit">
        <div class="field-wrap">
            <div class="floating-label-wrap">
                <input type="email" class="field floating-label-field" id="user-email" autocomplete="off"
                       v-model="user.email" :placeholder="$i18n.get('fields.email')">
                <label for="user-email" class="floating-label">{{ $i18n.get('fields.email') }}</label>
            </div>
        </div>

        <div class="field-wrap">
            <div class="floating-label-wrap">
                <input type="password" class="field floating-label-field" id="user-password"
                       v-model="user.password" :placeholder="$i18n.get('fields.password')">
                <label for="user-password" class="floating-label">{{ $i18n.get('fields.password') }}</label>
            </div>
        </div>

        <div class="validation-errors" v-if="invalidCredentials">
            <div class="error danger-txt-color">{{ invalidMessage }}</div>
        </div>

        <a href="#" @click.prevent="openForgotPassword">{{ $i18n.get('auth.actions.forgot_password') }}</a>

        <button class="btn primary-filled expand drop-shadow" type="submit">
            {{ $i18n.get('auth.actions.login') }}
        </button>
    </form>

    <modal
        v-if="showForgotPassword"
        class="forgot-password"
        :title="$i18n.get('auth.forgot_password')"
        size="small"
        @close="showForgotPassword = false">
        <template #body>
            <form @submit.prevent="onForgotPasswordSubmit()">
                <p>{{ $i18n.get('auth.forgot_password_confirm_message') }}</p>

                <div class="field-wrap">
                    <div class="floating-label-wrap">
                        <input id="forgot-password-field" class="field floating-label-field" type="email"
                               v-model="forgotPassword.email" :placeholder="$i18n.get('fields.email')">
                        <label for="forgot-password-field" class="floating-label">{{ $i18n.get('fields.email') }}</label>
                    </div>
                </div>
            </form>
        </template>
        <template #footer>
            <button type="button" class="btn primary-filled expand drop-shadow" @click="onForgotPasswordSubmit">
                {{ $i18n.get('actions.send') }}
            </button>
        </template>
    </modal>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import useAuthStore from '../../Stores/auth';

export default {
    components: {
        Modal: defineAsyncComponent(() => import('../Modal'))
    },

    emits: [
        'onLogin'
    ],

    setup() {
        const auth = useAuthStore();
        return {
            auth
        };
    },

    data() {
        return {
            user: {
                email: '',
                password: '',
            },
            showForgotPassword: false,
            invalidCredentials: false,
            invalidMessage: '',
            forgotPassword: {
                email: ''
            }
        };
    },

    watch: {
        user: {
            handler: function() {
                this.invalidCredentials = false;
            },
            deep: true
        }
    },

    methods: {
        async onSubmit() {
            this.$loading.show();

            try {
                await this.auth.logIn(this.user.email, this.user.password);
                this.$emit('onLogin');
                this.$loading.hide();
            } catch (err) {
                this.invalidMessage = (err.response && err.response.data.error) ? err.response.data.error : this.$i18n.get('auth.errors.invalid_credentials');
                this.$loading.hide();
                this.invalidCredentials = true;
            }
        },

        openForgotPassword() {
            this.showForgotPassword = true;
        },

        async onForgotPasswordSubmit() {
            this.$loading.show();
            this.showForgotPassword = false;

            try {
                await this.auth.sendPasswordResetEmail(this.forgotPassword.email);
                this.$modal.show('success', this.$i18n.get('generic.success'), this.$i18n.get('passwords.sent'));
            } catch (error) {
                console.error(error);
                let message = '';

                switch (error.code) {
                    case 'auth/invalid-email':
                        message = this.$i18n.get('auth.errors.invalid_email');
                        break;
                    default:
                        message = error.message;
                }

                this.$modal.show('error', null, message);
            } finally {
                this.$loading.hide();
            }
        },
    }
};
</script>

<style scoped lang="scss">
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        min-width: 300px;
    }

    button {
        margin-top: var(--global-spacing);
    }

    a {
        font-weight: 600;
        text-align: center;
        margin-top: var(--global-spacing-quarter);
    }
}
</style>
