<template>
    <form id="register-form" @submit.prevent="onSubmit">
        <text-field
            v-model="user.first_name"
            id="first-name"
            :errors="errors['first_name']"
            :field="{
                name: 'first_name',
                label: $i18n.get('fields.first_name'),
                placeholder: $i18n.get('fields.first_name')
            }">
        </text-field>

        <text-field
            v-model="user.last_name"
            id="last-name"
            :errors="errors['last_name']"
            :field="{
                name: 'last_name',
                label: $i18n.get('fields.last_name'),
                placeholder: $i18n.get('fields.last_name')
            }">
        </text-field>

        <text-field
            v-model="user.display_name"
            id="display-name"
            :errors="errors['display_name']"
            :field="{
                name: 'display_name',
                label: $i18n.get('fields.username'),
                placeholder: $i18n.get('fields.username')
            }">
        </text-field>
        <div v-if="displayNameValid" class="invalid-field-error">
            {{ displayNameValid }}
        </div>

        <select-field
            v-if="userDefinition.field_groups"
            v-model="user.country_code"
            id="country-code"
            :errors="errors['country_code']"
            :field="countryCodeDefinition">
        </select-field>

        <email-field
            v-model="user.email"
            id="email"
            :errors="errors['email']"
            :field="{
                name: 'email',
                label: $i18n.get('fields.email'),
                placeholder: $i18n.get('fields.email')
            }">
        </email-field>

        <email-field
            v-model="user.email_confirm"
            id="email-confirm"
            :errors="errors['email_confirm']"
            :field="{
                name: 'email_confirm',
                label: $i18n.get('fields.confirm_email'),
                placeholder: $i18n.get('fields.confirm_email')
            }">
        </email-field>

        <password-field
            v-model="user.password"
            id="password"
            :errors="errors['password']"
            :field="{
                name: 'password',
                label: $i18n.get('fields.password'),
                placeholder: $i18n.get('fields.password'),
                extra_data: {
                    autocomplete: 'new-password'
                }
            }">
        </password-field>

        <button :disabled="!validateDisplayName(user.display_name)" class="btn primary-filled expand" type="submit">{{ $i18n.get('actions.send') }}</button>
    </form>
</template>

<script>
import cloneDeep from 'lodash/cloneDeep';
import TextField from '../Fields/TextField';
import EmailField from '../Fields/EmailField';
import PasswordField from '../Fields/PasswordField';
import SelectField from '../Fields/SelectField';
import validateDisplayName from '../../Helpers/validateDisplayName';

export default {
    components: {
        TextField,
        EmailField,
        PasswordField,
        SelectField
    },

    props: {
        mode: {
            type: String,
            default: function() {
                return 'web';
            },
            validator: function(value) {
                return ['web', 'game'].includes(value);
            }
        },
        gameId: String
    },

    emits: [
        'onRegister'
    ],

    data() {
        return {
            user: {
                display_name: '',
                first_name: '',
                last_name: '',
                email: '',
                email_confirm: '',
                password: '',
                country_code: 'US'
            },
            userDefinition: {},
            errors: {}
        };
    },

    mounted() {
        this.getUserDefinition();
    },

    computed: {
        displayNameValid() {
            if(this.user.display_name) {
                if (!this.validateDisplayName(this.user.display_name)) {
                    return this.$i18n.get('users.validation_errors.invalid_display_name');
                }
            }
            return '';
        },
        countryCodeDefinition() {
            if(
                this.userDefinition.field_groups &&
                this.userDefinition.field_groups.general &&
                this.userDefinition.field_groups.general.fields
            ) {
                return this.userDefinition.field_groups.general.fields.find((item) => {
                    if (item.name === 'country_code') {
                        return item;
                    }
                });
            }
            return {};
        }
    },

    methods: {
        validateDisplayName,

        async getUserDefinition() {
            this.userDefinition = await this.$http.get('users/definition').then((response) => {
                return response.data.data;
            }).catch((err) => {
                this.$modal.show('error', '[Could not load settings]', '[Contact support]');
            });
        },

        onSubmit() {
            if (
                !this.user.email_confirm ||
                this.user.email !== this.user.email_confirm
            ) {
                this.errors['email_confirm'] = [
                    this.$i18n.get('validation.confirmed', {
                        'attribute': 'Email'
                    })
                ];

                return;
            }

            this.$loading.show();

            const data = cloneDeep(this.user);

            this.$http.post('users', {
                data
            }).then((response) => {
                this.user = {
                    display_name: '',
                    first_name: '',
                    last_name: '',
                    email: '',
                    email_confirm: '',
                    password: '',
                    country_code: 'US'
                };

                this.$modal.show(
                    'success',
                    this.$i18n.get('auth.registration_success_title'),
                    this.$i18n.get('auth.registration_success_message'),
                    null,
                    () => {
                        this.$emit('onRegister');
                    }
                );
            }).catch((err) => {
                this.onSubmitError(err);
            }).finally(() => {
                this.$loading.hide();
            });
        },

        onSubmitError(error) {
            if (
                error.response &&
                error.response.status === 422 &&
                error.response.data.error_info.validation_errors &&
                Object.keys(error.response.data.error_info.validation_errors).length
            ) {
                this.$toast.show(this.$i18n.get('auth.registration_failed_title'), error.response.data.error, 'error');
                this.errors = error.response.data.error_info.validation_errors;
            } else {
                console.error(error);
                this.$modal.show('error');
            }
        },
    }
};
</script>

<style scoped lang="scss">
#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    button {
        margin-top: var(--global-spacing);
    }

    a {
        font-weight: 600;
        text-align: center;
    }

    input {
        min-width: 300px;
    }

    .invalid-field-error {
        color: var(--color-danger);
        margin-bottom: var(--global-spacing);
    }
}
</style>
