// Base colors - DO NOT USE

$base-opti-blue: #0090ff;
$rgb-base-opti-blue: 0,144,255;

$base-marine: #054175;
$rgb-base-marine: 5,65,117;

$base-red: #f65757;
$rgb-base-red: 246,87,87;

$base-fire-yellow: #ffb804;
$rgb-base-fire-yellow: 255,184,4;

$base-white: #ffffff;
$rgb-base-white: 255,255,255;

$base-purple: #c851ff;
$rgb-base-purple: 200,81,255;

$base-lime: #9cea14;
$rgb-base-lime: 156,234,20;

$base-black: #000000;
$rgb-base-black: 0,0,0;

$base-gray: #3f4a55;
$rgb-base-gray: 63,74,85;

// Additional shades & tints

$red-red-l-100: #ff7272;
$red-red-l-200: #ff9494;
$red-red-d-100: #e05151;
$red-red-d-200: #cd4a4a;
$gray-gray-d-100: #3a444e;
$gray-gray-d-200: #333c45;
$gray-gray-d-300: #2b343b;
$gray-gray-d-400: #252c32;
$gray-gray-l-100: #586876;
$gray-gray-l-200: #697d8e;
$gray-gray-l-300: #8092a1;
$gray-gray-l-400: #99a7b3;
$gray-gray-l-500: #afbac4;
$gray-gray-l-600: #cad1d8;
$gray-gray-l-700: #dee3e7;
$gray-gray-l-800: #ebeef0;
$gray-gray-l-900: #f9fafb;
$purple-purple-d-200: #a500e6;
$purple-purple-d-100: #b817ff;
$purple-purple-l-100: #d67fff;
$purple-purple-l-200: #de98ff;
$fire-yellow-fire-yellow-l-200: #ffeab7;
$fire-yellow-fire-yellow-l-100: #ffd05b;
$fire-yellow-fire-yellow-d-100: #edac00;
$fire-yellow-fire-yellow-d-200: #d29d00;
$opti-blue-opti-blue-d-400: #006ec3;
$opti-blue-opti-blue-d-300: #0076d1;
$opti-blue-opti-blue-d-200: #0080e3;
$opti-blue-opti-blue-d-100: #0089f3;
$opti-blue-opti-blue-l-100: #3aaaff;
$opti-blue-opti-blue-l-200: #63bbff;
$opti-blue-opti-blue-l-300: #8eceff;
$opti-blue-opti-blue-l-400: #b8e0ff;
$opti-blue-opti-blue-l-500: #e0f1ff;
$lime-lime-l-100: #cff8ab;
$lime-lime-d-100: #83d914;
$lime-lime-d-200: #79c915;
$lime-lime-d-300: #6eb913;
$lime-lime-d-400: #64ad11;
$marine-marine-d-100: #053a69;
$marine-marine-d-200: #053159;
$marine-marine-d-300: #042748;
$marine-marine-d-400: #031f3b;
$marine-marine-l-100: #1d5383;
$marine-marine-l-200: #326897;
$marine-marine-l-300: #497eab;
$marine-marine-l-400: #6292bc;
$marine-marine-l-500: #7aa5cd;
$marine-marine-l-600: #98bcdd;
$marine-marine-l-700: #b2cee5;
$marine-marine-l-800: #d2e3f4;
$marine-marine-l-900: #eef5fc;
$gradient-gold: #d6b85e;
$gradient-grass-green: #9cea14;
$gradient-blurple: #000000;
$gradient-silver: #898989;
$font-font: #000000;

$rgb-red-red-l-100: 255,114,114;
$rgb-red-red-l-200: 255,148,148;
$rgb-red-red-d-100: 224,81,81;
$rgb-red-red-d-200: 205,74,74;
$rgb-gray-gray-d-100: 58,68,78;
$rgb-gray-gray-d-200: 51,60,69;
$rgb-gray-gray-d-300: 43,52,59;
$rgb-gray-gray-d-400: 37,44,50;
$rgb-gray-gray-l-100: 88,104,118;
$rgb-gray-gray-l-200: 105,125,142;
$rgb-gray-gray-l-300: 128,146,161;
$rgb-gray-gray-l-400: 153,167,179;
$rgb-gray-gray-l-500: 175,186,196;
$rgb-gray-gray-l-600: 202,209,216;
$rgb-gray-gray-l-700: 222,227,231;
$rgb-gray-gray-l-800: 235,238,240;
$rgb-gray-gray-l-900: 249,250,251;
$rgb-purple-purple-d-200: 165,0,230;
$rgb-purple-purple-d-100: 184,23,255;
$rgb-purple-purple-l-100: 214,127,255;
$rgb-purple-purple-l-200: 222,152,255;
$rgb-fire-yellow-fire-yellow-l-200: 255,234,183;
$rgb-fire-yellow-fire-yellow-l-100: 255,208,91;
$rgb-fire-yellow-fire-yellow-d-100: 237,172,0;
$rgb-fire-yellow-fire-yellow-d-200: 210,157,0;
$rgb-opti-blue-opti-blue-d-400: 0,110,195;
$rgb-opti-blue-opti-blue-d-300: 0,118,209;
$rgb-opti-blue-opti-blue-d-200: 0,128,227;
$rgb-opti-blue-opti-blue-d-100: 0,137,243;
$rgb-opti-blue-opti-blue-l-100: 58,170,255;
$rgb-opti-blue-opti-blue-l-200: 99,187,255;
$rgb-opti-blue-opti-blue-l-300: 142,206,255;
$rgb-opti-blue-opti-blue-l-400: 184,224,255;
$rgb-opti-blue-opti-blue-l-500: 224,241,255;
$rgb-lime-lime-l-100: 207,248,171;
$rgb-lime-lime-d-100: 131,217,20;
$rgb-lime-lime-d-200: 121,201,21;
$rgb-lime-lime-d-300: 110,185,19;
$rgb-lime-lime-d-400: 100,173,17;
$rgb-marine-marine-d-100: 5,58,105;
$rgb-marine-marine-d-200: 5,49,89;
$rgb-marine-marine-d-300: 4,39,72;
$rgb-marine-marine-d-400: 3,31,59;
$rgb-marine-marine-l-100: 29,83,131;
$rgb-marine-marine-l-200: 50,104,151;
$rgb-marine-marine-l-300: 73,126,171;
$rgb-marine-marine-l-400: 98,146,188;
$rgb-marine-marine-l-500: 122,165,205;
$rgb-marine-marine-l-600: 152,188,221;
$rgb-marine-marine-l-700: 178,206,229;
$rgb-marine-marine-l-800: 210,227,244;
$rgb-marine-marine-l-900: 238,245,252;
$rgb-gradient-gold: 214,184,94;
$rgb-gradient-grass-green: 156,234,20;
$rgb-gradient-blurple: 0,0,0;
$rgb-gradient-silver: 137,137,137;
$rgb-font-font: 0,0,0;
