button {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}

.btn {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: bold;
    display: inline-block;
    padding: var(--global-spacing-half) var(--global-spacing);
    cursor: pointer;
    outline: none;
    user-select: none;
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--color-dark);
    border-radius: calc(var(--global-radius) * 2);
    transition: background-color 0.2s ease-in, border-color 0.2s ease-in, color 0.2s ease-in, box-shadow 0.2s ease-out;

    &.even-padding {
        padding: var(--global-spacing);
    }

    &.small {
        padding: var(--global-spacing-third) var(--global-spacing-half);
        font-size: var(--font-size-small);

        svg {
            font-size: var(--font-size-base);
        }
    }

    &.large {
        padding: var(--global-spacing) var(--global-spacing-double);
        font-size: var(--font-size-big);
    }

    &.small-radius {
        border-radius: var(--global-radius-inner);
    }

    &.full-range {
        width: 100%;
    }

    .btn-inner {
        display: flex;
        align-items: center;

        :nth-child(2) {
            margin-left: var(--global-spacing-third);
        }
    }

    &.primary {
        background-color: var(--color-content-bg);
        color: var(--color-primary);
        border-color: var(--color-content-bg);
        box-shadow: var(--global-shadow);

        svg {
            fill: var(--color-primary);
        }

        &[disabled] {
            box-shadow: none;
            color: var(--color-secondary-tint-600);
            background-color: var(--color-secondary-tint-900);
            border-color: var(--color-secondary-tint-600);

            svg {
                fill: var(--color-secondary-tint-600);
            }
        }

        &:not([disabled]):hover {
            color: var(--color-light-txt);
            background-color: var(--color-primary);
            border-color: var(--color-primary);

            svg {
                fill: var(--color-light-txt);
            }
        }

        &-filled {
            @extend .primary;
            background-color: var(--color-primary);
            border-color: var(--color-primary);
            color: var(--color-light-txt);

            svg {
                fill: var(--color-light-txt);
            }

            &:not([disabled]):hover {
                background-color: var(--color-primary-tint);
            }
        }
    }

    &.secondary {
        background-color: var(--color-content-bg);
        color: var(--color-secondary);
        border-color: var(--color-content-bg);
        box-shadow: var(--global-shadow);

        svg {
            fill: var(--color-secondary);
        }

        &[disabled] {
            box-shadow: none;
            color: var(--color-medium-shade);
            background-color: var(--color-medium);
            border-color: var(--color-medium);

            svg {
                fill: var(--color-medium-shade);
            }
        }

        &:not([disabled]):hover {
            color: var(--color-light-txt);
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);

            svg {
                fill: var(--color-light-txt);
            }
        }

        &-filled {
            @extend .primary;
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);
            color: var(--color-light-txt);

            &:not([disabled]):hover {
                background-color: var(--color-secondary-tint);
                border-color: var(--color-secondary-tint);
            }
        }
    }

    &.success {
        background-color: var(--color-content-bg);
        color: var(--color-success);
        border-color: var(--color-content-bg);
        box-shadow: var(--global-shadow);

        svg {
            fill: var(--color-success);
        }

        &[disabled] {
            box-shadow: none;
            color: var(--color-medium-shade);
            background-color: var(--color-medium);
            border-color: var(--color-medium);
        }

        &:not([disabled]):hover {
            color: var(--color-light-txt);
            background-color: var(--color-success);
            border-color: var(--color-success);

            svg {
                fill: var(--color-light-txt);
            }
        }

        &-filled {
            @extend .primary;
            background-color: var(--color-success);
            border-color: var(--color-success);
            color: var(--color-light-txt);

            svg {
                fill: var(--color-light-txt);
            }

            &:not([disabled]):hover {
                background-color: var(--color-success-tint);
            }
        }
    }

    &.normal {
        background-color: var(--color-content-bg);
        color: var(--color-dark);
        border-color: var(--color-content-bg);
        box-shadow: var(--global-shadow);

        &[disabled] {
            box-shadow: none;
            color: var(--color-medium-shade);
            background-color: var(--color-medium);
            border-color: var(--color-medium);
        }

        &:not([disabled]):hover {
            color: var(--color-light-txt);
            background-color: var(--color-dark);
            border-color: var(--color-dark);
        }

        &-filled {
            @extend .normal;
            background-color: var(--color-dark);
            border-color: var(--color-dark);
            color: var(--color-light-txt);

            &:not([disabled]):hover {
                background-color: var(--color-dark-tint);
            }
        }
    }

    &.danger {
        background-color: var(--color-content-bg);
        color: var(--color-danger);
        border-color: var(--color-content-bg);
        box-shadow: var(--global-shadow);

        &[disabled] {
            box-shadow: none;
            color: var(--color-medium-shade);
            background-color: var(--color-medium);
            border-color: var(--color-medium);
        }

        &:not([disabled]):hover {
            color: var(--color-light-txt);
            background-color: var(--color-danger);
            border-color: var(--color-danger);
        }

        &-filled {
            @extend .danger;
            background-color: var(--color-danger);
            border-color: var(--color-danger);
            color: var(--color-light-txt);

            &:not([disabled]):hover {
                background-color: var(--color-danger);
            }
        }
    }

    &.hollow {
        background-color: transparent;
        color: var(--color-dark);
        border: 2px solid var(--color-dark);

        &[disabled] {
            color: var(--color-medium);
            border-color: var(--color-medium);
        }

        &:not([disabled]):hover {
            color: var(--color-light-txt);
            background-color: var(--color-dark);
        }

        &-primary {
            @extend .hollow;
            color: var(--color-primary);
            border-color: var(--color-primary);

            &[disabled] {
                color: var(--color-medium);
                border-color: var(--color-medium);
            }

            &:not([disabled]):hover {
                background-color: var(--color-primary);
                color: var(--color-light-txt);
            }
        }

        &-secondary {
            @extend .hollow;
            color: var(--color-secondary);
            border-color: var(--color-secondary);

            &[disabled] {
                color: var(--color-medium);
                border-color: var(--color-medium);
            }

            &:not([disabled]):hover {
                background-color: var(--color-secondary);
                color: var(--color-light-txt);
            }
        }

        &-danger {
            @extend .hollow;
            color: var(--color-danger);
            border-color: var(--color-danger);

            &[disabled] {
                color: var(--color-medium);
                border-color: var(--color-medium);
            }

            &:not([disabled]):hover {
                background-color: var(--color-danger);
                color: var(--color-light-txt);
            }
        }
    }
}
