.primary-txt-color {
    color: var(--color-primary);
}

.danger-txt-color {
    color: var(--color-danger);
}

.warning-txt-color {
    color: var(--color-warning);
}

.success-txt-color {
    color: var(--color-success);
}

.info-txt-color {
    color: var(--color-info);
}
