//@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300%3b0,400%3b0,700%3b1,300%3b1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*
@font-face {
    font-family: Helvetica;
    src: url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.otf') format('opentype'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.woff') format('woff'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.ttf') format('truetype');
}

@font-face {
    font-family: Helvetica;
    font-style: italic;
    src: url('../assets/fonts/Helvetica/HelveticaNeueLTStd-It/HelveticaNeueLTStd-It.otf') format('opentype'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-It/HelveticaNeueLTStd-It.woff') format('woff'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-It/HelveticaNeueLTStd-It.ttf') format('truetype');
}

@font-face {
    font-family: Helvetica;
    font-weight: bold;
    src: url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.otf') format('opentype'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.woff') format('woff'),
         url('../assets/fonts/Helvetica/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.ttf') format('truetype');
}
*/
