body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

hr {
    background-color: var(--color-primary);
    height: 2px;
    border: none;
}

.drop-shadow {
    filter: var(--global-drop-shadow);

    &.blue {
        box-shadow: var(--global-drop-shadow-blue) !important;
    }
}
.drop-shadow-dark {
    filter: var(--global-drop-shadow-dark);

    &.blue {
        box-shadow: var(--global-drop-shadow-blue-dark) !important;
    }
}

.pointer {
    cursor: pointer;
}
.nomargin {
    margin: 0;
}
.background-light {
    background: var(--color-light);
}
.border-light {
    border: var(--global-border);
    border-radius: var(--global-radius);
}
