.field-wrap {
    margin-bottom: var(--global-spacing);
    display: block;
    width: 100%;

    color: var(--color-secondary);
    font-weight: 500;

    &:last-of-type {
        margin-bottom: 0;
    }

    &.disabled {
        .field-label-wrap {
            color: var(--color-medium-tint);
        }
    }
}

.field-wrap.checkbox {
    .checkbox-blank-outline-icon {
        color: var(--color-primary);
    }

    .checkbox-marked-icon {
        color: var(--color-primary);
    }
}

input.field,
textarea.field,
select.field {
    padding: var(--global-spacing-half) var(--global-spacing);
    border: 2px solid var(--color-medium-tint-700);
    font-size: var(--font-size-base);
    font-family: var(--font-family);
    font-weight: 600;
    min-width: 250px;
    width: 100%;
    border-radius: var(--input-radius);

    @media (max-width: 629px) {
        min-width: 100%;
    }

    &.invalid {
        border-color: var(--color-danger);
    }

    &.has-button {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:focus {
        outline: 0;
        border-color: var(--color-secondary);
    }

    &[disabled] {
        border-color: var(--color-medium-tint);
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: var(--font-family);
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: var(--font-family);
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: var(--font-family);
}
:-moz-placeholder { /* Firefox 18- */
    font-family: var(--font-family);
}

textarea.field {
    min-height: 100px;
}

.field-description {
    color: var(--color-medium-shade);
    display: block;
    margin-top: var(--global-spacing-half);
    margin-bottom: var(--global-spacing-double);
}

.horizontal-labels {
    .field-wrap-inner {
        display: flex;
        align-items: flex-start;

        @media (max-width: 629px) {
            display: block;
        }

        .field-label-wrap {
            width: 100%;
            max-width: 200px;
        }
    }
}

.integrated-button {
    width: 100%;
    background: var(--color-secondary);
    color: var(--color-light);
    border: 0;
    padding: var(--global-spacing-half);
    border-bottom-left-radius: var(--global-radius);
    border-bottom-right-radius: var(--global-radius);
    font-size: var(--font-size-base);
    text-align: center;
    cursor: pointer;

    &.active {
        background: var(--color-secondary);
        color: var(--color-light);
    }
}

.field-group-header {
    font-weight: normal;
    font-size: calc(var(--font-size-base) * 1.4);
}

.field-group:not(:last-of-type) {
    padding-bottom: var(--global-spacing);
    margin-bottom: var(--global-spacing-double);
    border-bottom: 1px solid var(--color-medium-tint);
}

.validation-errors {
    > .error {
        display: block;
    }
}

.floating-label {
    position: absolute;
    top: 0;
    left: calc(var(--global-spacing) * 0.75);
    user-select: none;
    z-index: 1;
}

.floating-label,
.floating-label-field {
    font: inherit;
    line-height: 1;
    display: block;
    width: 100%;
    cursor: text;

    &.select-label {
        z-index: 2;
        padding: .5em;
        transform: translate(0, -50%);
        background-color: var(--floating-label-background, var(--color-content-bg));
        color: var(--color-secondary-shade);
        width: auto;
        top: 0;
    }
}

.floating-label-field,
.floating-label-wrap {
    position: relative;
}

.floating-label-field {
    border-radius: 5px;

    &:focus {
        outline: 0;
        box-shadow: none;
    }

    & + .floating-label {
        position: absolute;
        top: var(--global-spacing-half);
        left: var(--input-padding, var(--global-spacing));
        display: inline-block;
        width: auto;
        margin: 0;
        padding: 0.4em 0.5em 0.5em 0.5em;
        transition: transform .25s, opacity .25s, padding .25s ease-in-out;
        transform-origin: 0 0;
        border-radius: 20px;
        color: var(--color-secondary-shade);
    }

    &:focus + .floating-label,
    &:not(:placeholder-shown) + .floating-label{
        z-index: 2;
        padding: .5em;
        transform: translate(0, -50%);
        background-color: var(--floating-label-background, var(--color-content-bg));
        font-weight: 500;
        top: 0;
    }
    &:is(select) + .floating-label{
        z-index: 2;
        padding: .5em;
        transform: translate(0, -50%);
        background-color: var(--floating-label-background, var(--color-content-bg));
        font-weight: 500;
        top: 0;
    }

    //&:not(textarea) {
    //    max-height: 4em;
    //}

    &::placeholder {
        color: transparent;
    }
}
.filters {
    .floating-label {
        left: calc(var(--global-spacing) * 0.75);
    }
    .floating-label-field {
        padding: var(--global-spacing-half) var(--global-spacing);
    }
}
