.page-container {
    width: 100%;
    //max-width: 1400px;
    padding: var(--global-spacing-double);
    margin: 0 auto;
    position: relative;
}

#page-wrapper {
    min-height: 100vh;

    .mode-web &,
    .mode-admin & {
        display: flex;
    }

    .page-content {
        flex-grow: 1;

        .left {
            margin-right: var(--global-spacing-double);
        }

        .right {

        }
    }
}

.page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--global-spacing-double);

    .toolbar {
        display: flex;
        justify-content: flex-end;
        margin-bottom: var(--global-spacing-double);

        .btn {
            margin-left: var(--global-spacing);
        }
    }
}

.modal-body-section {
}

.max-content-width {
    max-width: var(--max-content-width);
}

.rounded-box {
    background: var(--custom-box-background, var(--color-light));
    border-radius: var(--custom-radius, var(--global-radius));
    padding: var(--custom-spacing, var(--global-spacing));

    .rounded-box {
        border-radius: var(--custom-inner-radius, var(--global-radius-inner));
    }

    .header, .invite {
        h1,h2,h3,h4,h5,h6 {
            font-size: var(--font-size-big);
        }
    }

    .box-title {
        margin: 0;

        h1,h2,h3,h4,h5,h6 {
            font-size: var(--font-size-big);
        }

        &.medium {
            font-size: var(--font-size-big);
        }
        &.large {
            font-size: var(--font-size-big);
        }
    }

    .subtitle {
        font-size: var(--font-size-small);
        line-height: var(--font-size-small);
    }

    &.small-padding {
        padding: var(--global-spacing-half);
    }

    &.big-padding {
        padding: var(--global-spacing-double);
    }

    &.no-padding {
        padding: 0;
    }
}

.notifications-header {
    display: flex;
    padding: var(--global-spacing) var(--global-spacing) 0 var(--global-spacing);
    font-weight: 700;
    font-size: var(--font-size-big);
}

.player-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    padding-top: 7px;

    font-size: var(--font-size-small);
    color: var(--color-medium-tint-300);

    svg {
        font-size: var(--font-size-base);
        color: var(--custom-unfilled-color, rgba(var(--color-dark-rgb), 0.2));

        &.filled {
            color: var(--custom-filled-color, var(--color-primary));
        }
    }
}
