table {
    border-collapse: collapse;
    width: 100%;
}

.table-header {
    user-select: none;

    .column {
        text-align: left;
        font-weight: bold;
        font-size: 0.9rem;
        color: var(--color-dark);
        padding: 0 var(--global-spacing);

        &.sortable {
            cursor: pointer;

            &:hover {
                color: var(--color-primary);
            }
        }

        .material-design-icon {
            position: absolute;
            transform: translateY(-10%);
        }
    }
}

.table-row {
    .column {
        padding: var(--global-spacing);
        vertical-align: middle;
        border-bottom: 2px solid var(--color-medium-tint);

        &:not(:last-of-type) {
            padding-right: var(--global-spacing);
        }

        &.actions {
            text-align: right;

            button.action {
                padding: calc(var(--global-spacing) / 2);
                margin: 0 calc(var(--global-spacing) / 2);

                &.edit {
                    color: var(--color-dark);
                }

                &.delete {
                    color: var(--color-danger);
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }

            > span {
                cursor: pointer;
            }
        }
    }

    &:hover {
        .column {
            background-color: var(--color-medium-tint);
        }
    }

    &:last-of-type {
        .column {
            border-bottom: none;
        }
    }
}

.sub-row {
    background-color: var(--color-medium-tint);

    .sub-row-inner {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .sub-column {
            padding: var(--global-spacing);

            .sub-header {
                font-weight: bold;
                color: var(--color-dark);
                font-size: var(--font-size-base);
                margin-bottom: calc(var(--global-spacing) / 2);
            }
        }
    }

    &.horizontal-columns {
        .sub-row-inner {
            justify-content: start;

            .sub-column {
                .sub-header,
                .sub-value {
                    display: inline-block;
                }

                .sub-header {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.table-list {
    display: table;
    width: 100%;

    .column {
        display: table-cell;
    }

    .table-header {
        display: table-header-group;
    }

    .table-row {
        display: table-row;

        .column {
            display: table-cell;
        }
    }
}

.model-list {
    width: 100%;

    .no-result {
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-medium);
        margin: var(--global-spacing) 0;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            padding: calc(var(--global-spacing) / 2) var(--global-spacing);
            margin: calc(var(--global-spacing) / 2);

            &.page {
                margin: calc(var(--global-spacing) / 3);
            }
        }
    }
}
