.button-tabs {
    display: flex;

    .button-tab {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        flex: 1;
        padding: var(--global-spacing-half) var(--global-spacing);
        border-radius: var(--global-radius-inner);
        border: var(--global-border);
        font-weight: 700;
        color: var(--color-dark);
        margin-right: var(--global-spacing-half);

        &.small {
            flex: 0 1 0;
        }

        &.active {
            background: var(--color-primary);
            color: var(--color-light);
            border-color: var(--color-primary);
        }

        &:last-of-type {
            margin-right: 0;
        }

        .badge {
            --badge-size: 30px;
            background: var(--color-quintenary);
            width: auto;
            height: 30px;
            position: absolute;
            right:0;
            transform: translateX(50%);
            top: calc((var(--badge-size) / 2) * -1);
            border-radius: 100px;
            color: var(--color-light);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: var(--global-spacing-half) var(--global-spacing-half);
            z-index: 99;
        }
    }

    &.vertical {
        flex-direction: column;

        .button-tab {
            margin-right: 0;
            margin-bottom: var(--global-spacing-half);

            &:last-of-type {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
}

.tab-list {
    display: flex;

    div {
        padding: calc(var(--global-spacing) / 2) calc(var(--global-spacing));
        background-color: var(--color-primary-contrast);
        border-radius: var(--global-radius-inner) var(--global-radius-inner) 0 0;
        margin-right: calc(var(--global-spacing) / 6);
        font-weight: 700;

        &.active {
            color: var(--color-primary);
        }

        &:not(.active) {
            background: var(--tab-inactive-background);
            cursor: pointer;
        }
    }

    &.dark {
        div {
            background-color: var(--color-primary);

            &.active {
                color: var(--color-light);
            }

            &:not(.active) {
                background: var(--tab-inactive-background-dark);
            }
        }
    }
}
