html {
    font-family: var(--font-family);
    font-size: var(--font-size-rem-factor);
}

a {
    color: var(--color-secondary);

    &:hover {
        color: var(--color-secondary-shade);
    }
}

.bold {
    font-weight: 700;
}
.inner-shadow {
    text-shadow: 0px 2px 5px transparent;
}

.header {
    &.small {
        font-size: var(--font-size-base);
        font-weight: 700;
        color: var(--color-secondary-tint);
    }
}
.small-grey {
    font-size: var(--font-size-medium);
    line-height: var(--font-size-medium);
    font-weight: 500;
    color: var(--color-medium-txt-tint);
}
.small-blue {
    font-size: var(--font-size-medium);
    font-weight: 500;
    color: var(--color-medium-txt-tint);
}

h1,h2,h3,h4,h5,h6 {
    &.stylized {
        font-weight: normal;
        //text-decoration: underline;
        text-decoration-color: var(--color-primary);

        &.primary {
            color: var(--color-primary);
            font-weight: bold;
        }

        &.secondary {
            color: var(--color-secondary);
            font-weight: bold;
        }

        &.danger {
            text-decoration-color: var(--color-danger);
        }

        &.warning {
            text-decoration-color: var(--color-warning);
        }
    }
}


// Will not work in Ultralight

//.gradient {
//    background-image: var(--custom-gradient, var(--background-gradient-blurple));
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//    color: transparent;
//
//    &.gold {
//        --custom-gradient: var(--background-gradient-gold-dark);
//        color: transparent;
//    }
//}


.gradient {
    color: var(--color-primary-shade-200);

    &.gold {
        color: var(--color-gold);
    }
}

.wager-round {
    .gradient {
        &.gold {
            --custom-gradient: var(--background-gradient-gold);
        }
    }
}

.big-number {
    font-size: calc(var(--font-size-base) * 5);
    line-height: calc(var(--font-size-base) * 5);
}
h2 {
    font-size: calc(var(--font-size-base) * 2);
    line-height: calc(var(--font-size-base) * 2.5);
}
h3 {
    font-size: calc(var(--font-size-base) * 1.5);
    line-height: calc(var(--font-size-base) * 2);
}

.icon {
    &-1-5x {
        height: 1.5em;
        width: 1.5em;
    }

    &-2x {
        height: 2em;
        width: 2em;
    }

    &-3x {
        height: 3em;
        width: 3em;
    }

    &-4x {
        height: 4em;
        width: 4em;
    }

    &-6x {
        height: 6em;
        width: 6em;
    }

    &-8x {
        height: 8em;
        width: 8em;
    }
    &-small {
        height: 16px;
        width: 16px;
    }
}
