@import "baseColors";

// Layout
:root {

    // Menu and site width
    --top-bar-height: 75px;

    --max-site-width: 1400px;
    --max-content-width: 900px;
    --max-input-width: 300px;

    // Typography
    --font-family: 'Poppins', sans-serif;
    --font-size-rem-factor: 16px;
    --font-size-tiny: 0.625rem;
    --font-size-small: 0.75rem;
    --font-size-medium: 0.875rem;
    --font-size-base: 1rem;
    --font-size-big: 1.125rem;
    --font-size-bigger: 1.25rem;
    --font-size-large: 1.5rem;
    --font-size-larger: 1.75rem;
    --font-size-title: 1.25rem;
    --line-height-base: 1.3;

    // Colors
    --color-primary: #{$base-opti-blue};
    --color-primary-rgb: #{$rgb-base-opti-blue};
    --color-primary-contrast: #ffffff;
    --color-primary-contrast-rgb: 255,255,255;
    --color-primary-shade: #{$opti-blue-opti-blue-d-100};
    --color-primary-shade-200: #{$opti-blue-opti-blue-d-200};
    --color-primary-shade-300: #{$opti-blue-opti-blue-d-300};
    --color-primary-shade-400: #{$opti-blue-opti-blue-d-400};
    --color-primary-tint: #{$opti-blue-opti-blue-l-100};
    --color-primary-tint-200: #{$opti-blue-opti-blue-l-200};
    --color-primary-tint-300: #{$opti-blue-opti-blue-l-300};
    --color-primary-tint-400: #{$opti-blue-opti-blue-l-400};

    --color-secondary: #{$base-marine};
    --color-secondary-rgb: #{$rgb-base-marine};
    --color-secondary-contrast: #ffffff;
    --color-secondary-contrast-rgb: 255,255,255;
    --color-secondary-shade: #{$marine-marine-d-100};
    --color-secondary-shade-rgb: #{$rgb-marine-marine-d-100};
    --color-secondary-shade-200: #{$marine-marine-d-200};
    --color-secondary-shade-200-rgb: #{$rgb-marine-marine-d-200};
    --color-secondary-shade-300: #{$marine-marine-d-300};
    --color-secondary-shade-300-rgb: #{$rgb-marine-marine-d-300};
    --color-secondary-shade-400: #{$marine-marine-d-400};
    --color-secondary-shade-400-rgb: #{$rgb-marine-marine-d-400};
    --color-secondary-tint: #{$marine-marine-l-100};
    --color-secondary-tint-200: #{$marine-marine-l-200};
    --color-secondary-tint-300: #{$marine-marine-l-300};
    --color-secondary-tint-400: #{$marine-marine-l-400};
    --color-secondary-tint-500: #{$marine-marine-l-500};
    --color-secondary-tint-600: #{$marine-marine-l-600};
    --color-secondary-tint-700: #{$marine-marine-l-700};
    --color-secondary-tint-800: #{$marine-marine-l-800};
    --color-secondary-tint-900: #{$marine-marine-l-900};

    --color-tertiary: #{$base-fire-yellow};
    --color-tertiary-rgb: #{$rgb-base-fire-yellow};
    --color-tertiary-contrast: #000000;
    --color-tertiary-contrast-rgb: 0,0,0;
    --color-tertiary-shade: #{$fire-yellow-fire-yellow-d-100};
    --color-tertiary-shade-200: #{$fire-yellow-fire-yellow-d-200};
    --color-tertiary-tint: #{$fire-yellow-fire-yellow-l-100};
    --color-tertiary-tint-200: #{$fire-yellow-fire-yellow-l-200};

    --color-quarternary: #{$base-lime};
    --color-quarternary-rgb: #{$rgb-base-lime};
    --color-quarternary-contrast: #000000;
    --color-quarternary-contrast-rgb: 0,0,0;
    --color-quarternary-shade: #{$lime-lime-d-100};
    --color-quarternary-shade-200: #{$lime-lime-d-200};
    --color-quarternary-shade-300: #{$lime-lime-d-300};
    --color-quarternary-shade-400: #{$lime-lime-d-400};
    --color-quarternary-tint: #{$lime-lime-l-100};

    --color-quintenary: #{$base-red};
    --color-quintenary-rgb: #{$rgb-base-red};
    --color-quintenary-contrast: #000000;
    --color-quintenary-contrast-rgb: 0,0,0;
    --color-quintenary-shade: #{$red-red-d-100};
    --color-quintenary-shade-200: #{$red-red-d-200};
    --color-quintenary-tint: #{$red-red-l-100};
    --color-quintenary-tint-200: #{$red-red-l-200};

    --color-warning: var(--color-tertiary);
    --color-warning-rgb: var(--color-tertiary-rgb);
    --color-warning-contrast: #000000;
    --color-warning-contrast-rgb: 0,0,0;
    --color-warning-shade: var(--color-tertiary-shade);
    --color-warning-tint: var(--color-tertiary-tint);

    --color-danger: #EB5757;
    --color-danger-rgb: 235,87,87;
    --color-danger-contrast: #000000;
    --color-danger-contrast-rgb: 0,0,0;
    --color-danger-shade: #cf4d4d;
    --color-danger-tint: #ed6868;

    --color-success: var(--color-quarternary);
    --color-success-rgb: var(--color-quarternary-rgb);
    --color-success-contrast: #000000;
    --color-success-contrast-rgb: 0,0,0;
    --color-success-shade: var(--color-quarternary-shade-200);
    --color-success-tint: var(--color-quarternary-tint);

    --color-info: #2F80ED;
    --color-info-rgb: 47,128,237;
    --color-info-contrast: #ffffff;
    --color-info-contrast-rgb: 255,255,255;
    --color-info-shade: #2971d1;
    --color-info-tint: #448def;

    // Table bgs
    --color-tablebg-light: var(--color-light);
    --color-tablebg-medium: var(--color-secondary-tint-800);
    --color-tablebg-dark: var(--color-secondary-tint-700);
    --color-tablebg-extra-dark: var(--color-secondary);

    // Table gradients
    --gradient-tablebg-light-left: linear-gradient(270deg, #D2E3F4 0%, #FFFFFF 100%);
    --gradient-tablebg-light-right: linear-gradient(90deg, #D2E3F4 0%, #FFFFFF 100%);
    --gradient-tablebg-medium-left: linear-gradient(270deg, #B2CEE5 0%, #FFFFFF 100%);
    --gradient-tablebg-medium-right: linear-gradient(90deg, #B2CEE5 0%, #FFFFFF 100%);

    --color-medium: #{$base-gray};
    --color-medium-rgb: #{$rgb-base-gray};
    --color-medium-contrast: #000000;
    --color-medium-contrast-rgb: 0,0,0;
    --color-medium-shade: #{$gray-gray-d-100};
    --color-medium-shade-200: #{$gray-gray-d-200};
    --color-medium-shade-300: #{$gray-gray-d-300};
    --color-medium-shade-400: #{$gray-gray-d-400};
    --color-medium-tint: #{$gray-gray-l-100};
    --color-medium-tint-200: #{$gray-gray-l-200};
    --color-medium-tint-300: #{$gray-gray-l-300};
    --color-medium-tint-400: #{$gray-gray-l-400};
    --color-medium-tint-500: #{$gray-gray-l-500};
    --color-medium-tint-600: #{$gray-gray-l-600};
    --color-medium-tint-700: #{$gray-gray-l-700};
    --color-medium-tint-800: #{$gray-gray-l-800};
    --color-medium-tint-900: #{$gray-gray-l-900};

    --color-light: #{$base-white};
    --color-light-rgb: 244,244,244;
    --color-light-contrast: #000000;
    --color-light-contrast-rgb: 0,0,0;
    --color-light-shade: #d7d7d7;
    --color-light-tint: #f2f2f2;

    --color-content-bg: #fff;
    --color-body-bg: #E5E5E5;

    --color-menu-bg: #F8F8F8;

    --color-secondary-bg: #efefef;
    --color-secondary-bg-shade: #d2d2d2;
    --color-secondary-bg-tint: #f1f1f1;

    --color-dark: #000000;
    --color-dark-tint: #1a315b;
    --color-dark-rgb: 0,0,0;
    --color-dark-txt: #000000;
    --color-medium-txt: #BDBDBD;
    --color-medium-txt-tint: #99A7B3;
    --color-medium-txt-shade: #858585;
    --color-light-txt: #FFFFFF;

    --color-gold: #c0ac5e;
    --color-gold-shade: #9a8b4c;

    // Background gradients
    --background-gradient-dark: radial-gradient(116.98% 400% at 50% -129.75%, #60521E 0%, rgba(96, 82, 30, 0) 100%), #031F3B;
    --background-gradient-grey-left: radial-gradient(142.31% 579.88% at -5.33% -42.31%, rgba(125, 98, 0, 0.1) 0%, rgba(125, 98, 0, 0) 100%), linear-gradient(100.8deg, #F9FAFB 0%, rgba(249, 250, 251, 0) 68.14%);
    --background-gradient-blue: radial-gradient(100% 454.29% at 100% 100%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), var(--color-primary);
    --background-gradient-gold: radial-gradient(100% 100% at 0% 0%, #FFFBA4 0%, rgba(255, 251, 164, 0) 100%), radial-gradient(100% 100% at 100% 100%, #B48F3A 0%, rgba(180, 143, 58, 0) 100%), linear-gradient(0deg, #D6B85E, #D6B85E);
    --background-gradient-gold-dark: radial-gradient(100% 100% at 0% 0%, #FFFBA4 0%, rgba(255, 251, 164, 0) 100%), radial-gradient(100% 100% at 100% 100%, #B48F3A 0%, rgba(180, 143, 58, 0) 100%), linear-gradient(0deg, #504524, #504524);
    --background-gradient-blurple: radial-gradient(100% 100% at 100% 0%, #0066FF 0%, #C852FF 100%);
    --background-gradient-blurple-dark: radial-gradient(100% 100% at 100% 0%, #184487 0%, #AF3FE3 100%), linear-gradient(0deg, #000000, #000000);
    --background-gradient-faux-shadow: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 10.42%), linear-gradient(180deg, #EDEDED 0%, rgba(234, 234, 234, 0) 100%);

    // Margins & Paddings;
    --global-spacing: 24px;
    --global-spacing-threeforths: calc(var(--global-spacing) / 1.5);
    --global-spacing-half: calc(var(--global-spacing) / 2);
    --global-spacing-third: calc(var(--global-spacing) / 3);
    --global-spacing-quarter: calc(var(--global-spacing) / 4);
    --global-spacing-double: calc(var(--global-spacing) * 2);

    // Borders
    --global-border: 2px solid var(--color-medium-tint-700);
    --global-border-light: 2px solid var(--color-light-txt);
    --global-border-medium: 2px solid var(--color-medium-tint-900);

    --global-border-transparent-light: 4px solid rgba(255, 255, 255, 0.5);
    --global-border-transparent-primary: 4px solid rgba(0, 144, 255, 0.2);

    --global-transparent-background-light: rgba(255, 255, 255, 0.5);
    --global-transparent-background-primary: rgba(0, 144, 255, 0.5);

    --global-border-width-small: 2px;
    --global-border-width-large: 4px;

    // Radius & Shadows
    --global-radius: 20px;
    --global-radius-inner: 15px;
    --global-radius-big: 32px;
    --global-radius-small: 10px;
    --global-radius-tiny: 5px;
    --input-radius: var(--global-radius-inner);
    --global-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    --global-drop-shadow: drop-shadow(0 20px 5px rgba(0, 0, 0, 0.1));
    --global-drop-shadow-dark: drop-shadow(0 8px 5px rgba(0, 0, 0, 0.5));
    --global-drop-shadow-blue: 0 20px 40px rgba(0, 144, 255, 0.5);
    --global-drop-shadow-blue-dark: 0 10px 20px rgba(0, 144, 255, 0.8);

    --tab-inactive-background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 30%), #FFFFFF;
    --tab-inactive-background-dark: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 30%), #D2E3F4;

    --box-shadow: 0px 20.0713px 12.8457px rgba(0, 0, 0, 0.0323969), 0px 12.0939px 7.74008px rgba(0, 0, 0, 0.0276031), 0px 6.73465px 4.31018px rgba(0, 0, 0, 0.0223931), 0px 2.89653px 1.85378px rgba(0, 0, 0, 0.0154995);
    --box-shadow-gold: 0px 100px 80px rgba(255, 251, 164, 0.18), 0px 41.7776px 33.4221px rgba(255, 251, 164, 0.129394), 0px 22.3363px 17.869px rgba(255, 251, 164, 0.107299), 0px 12.5216px 10.0172px rgba(255, 251, 164, 0.09), 0px 6.6501px 5.32008px rgba(255, 251, 164, 0.0727007), 0px 2.76726px 2.21381px rgba(255, 251, 164, 0.0506062);
    --button-box-shadow: 0px 125px 80px rgba(0, 0, 0, 0.06), 0px 57.7913px 36.9864px rgba(0, 0, 0, 0.0445005), 0px 33.0669px 21.1628px rgba(0, 0, 0, 0.0376069), 0px 20.0713px 12.8457px rgba(0, 0, 0, 0.0323969), 0px 12.0939px 7.74008px rgba(0, 0, 0, 0.0276031), 0px 6.73465px 4.31018px rgba(0, 0, 0, 0.0223931), 0px 2.89653px 1.85378px rgba(0, 0, 0, 0.0154995);
    --button-box-shadow-blue: 0px 96px 176px rgba(0, 144, 255, 0.36), 0px 44.3837px 81.3701px rgba(0, 144, 255, 0.267003), 0px 25.3953px 46.5581px rgba(0, 144, 255, 0.225641), 0px 15.4148px 28.2605px rgba(0, 144, 255, 0.194381), 0px 9.28809px 17.0282px rgba(0, 144, 255, 0.165619), 0px 5.17221px 9.48239px rgba(0, 144, 255, 0.134359), 0px 2.22453px 4.07831px rgba(0, 144, 255, 0.0929969);
    --button-box-shadow-yellow: 0px 96px 176px rgba(255, 184, 0, 0.36), 0px 44.3837px 81.3701px rgba(255, 184, 0, 0.267003), 0px 25.3953px 46.5581px rgba(255, 184, 0, 0.225641), 0px 15.4148px 28.2605px rgba(255, 184, 0, 0.194381), 0px 9.28809px 17.0282px rgba(255, 184, 0, 0.165619), 0px 5.17221px 9.48239px rgba(255, 184, 0, 0.134359), 0px 2.22453px 4.07831px rgba(255, 184, 0, 0.0929969);

    --big-shadow: 0px 2.8965256214141846px 1.853776454925537px 0px rgba(0, 0, 0, 0.0155), 0px 6.734648704528809px 4.31017541885376px 0px rgba(0, 0, 0, 0.0224), 0px 12.093868255615234px 7.740076065063477px 0px rgba(0, 0, 0, 0.0276), 0px 20.07134246826172px 12.845659255981445px 0px rgba(0, 0, 0, 0.0324), 0px 33.06686019897461px 21.162790298461914px 0px rgba(0, 0, 0, 0.0376), 0px 57.79128646850586px 36.98642349243164px 0px rgba(0, 0, 0, 0.0445), 0px 125px 80px 0px rgba(0, 0, 0, 0.06);

    // Ingame GUI
    --gui-margin: 20px;
    --bottom-bar-height: var(--top-bar-height);


    // Notifications
    --image-size: 80px;
}
