<template>
    <black-modal :top-bar-visible="false" :visible="true" @close="$emit('close')">
        <template v-slot:header>
            <div class="notifications-header">{{ $i18n.get('models.notification.plural') }}</div>
        </template>
        <template v-slot:body>
            <div v-if="loading">
                [[Loading notifications..]]
            </div>
            <div v-else>
                <template v-if="!notifications || notifications.length === 0">
                    [[No notifications for you yet.]]
                </template>

                <notification-item
                    v-for="notification in notifications"
                    :key="notification.id"
                    :notification="notification"
                    :show-close-icon="false">
                </notification-item>
            </div>
        </template>
    </black-modal>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import useNotificationStore from '../../../shared/js/Stores/notifications';

export default {
    components: {
        NotificationItem: defineAsyncComponent(() => import('../Components/NotificationItem')),
        BlackModal: defineAsyncComponent(() => import('../../../shared/js/Components/Modals/BlackModal')),
    },

    emits: [
        'close'
    ],

    setup() {
        const notificationStore = useNotificationStore();
        return {
            notificationStore
        };
    },


    data() {
        return {
            notifications: [],
            loading: false
        };
    },

    mounted()
    {
        this.loadNotifications();
    },

    methods: {
        // TODO pagination?
        async loadNotifications() {
            this.loading = true;

            const notifications = await this.$http.get('/users/me/notifications', {
                params: {
                    read: true
                }
            }).then(res => {
                return res.data.data.data;
            }).catch(error => []);

            this.notifications = notifications.map(notification => {
                return {...notification.data, type: notification.type, created_at: notification.created_at};
            });

            this.loading = false;

            this.notificationStore.readAllNotification();
        },
    }
};
</script>

<style scoped lang="scss">

</style>

