<template>
    <div id="notification-box">
        <transition-group name="slide-fade" mode="out-in" tag="div">
            <notification-item
                v-for="notification in notifications"
                :key="notification.id"
                :notification="notification"
                @removeNotification="removeNotification"
            ></notification-item>
        </transition-group>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import useNotificationStore from '../../../shared/js/Stores/notifications';

export default {
    components: {
        NotificationItem: defineAsyncComponent(() => import('./NotificationItem'))
    },

    setup() {
        const notificationStore = useNotificationStore();
        return {
            notificationStore
        };
    },

    data() {
        return {
            notifications: [],
        };
    },

    computed: {

    },

    mounted() {
        this.notificationStore.$onAction(({
            name, // name of the action
            store, // store instance, same as `someStore`
            args, // array of parameters passed to the action
            after, // hook after the action returns or resolves
            onError, // hook if the action throws or rejects
        }) => {
            if (name !== 'onNotificationReceived') {
                return;
            }

            after(this.onNotificationReceived);
        });
    },

    methods: {
        onNotificationReceived(notification) {
            this.notifications.push(notification);

            setTimeout(() => {
                this.removeNotification(notification.id);
            }, 8000);
        },

        removeNotification(notificationId) {
            // safety measure if the node has been disconnected
            try {
                this.notifications = this.notifications.filter(function (notification) {
                    return notification.id !== notificationId;
                });
            } catch (err) {
                // no message
            }
        }
    }
};
</script>

<style scoped lang="scss">
#notification-box {
    z-index: 10000;
    position: absolute;
    right: 50px;
    bottom: 50px;

    &.in-game {
        bottom: calc(var(--bottom-bar-height) + var(--gui-margin) * 2);
        right: 20px;
    }
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter-from, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */
{
    transform: translateX(50px);
    opacity: 0;
}
</style>

