<template>
    <div class="notification" @click="onNotificationClick()">
        <div class="image-wrapper">
            <user-avatar extraClass="square" :user="notification.sender"></user-avatar>
        </div>
        <div class="content-wrapper">
            <div class="sender-wrapper">
                <div class="sender">
                    <user-flag class="flag" v-if="notification.sender" :user="notification.sender"></user-flag><template v-if="notification.sender">{{ notification.sender.display_name }}</template>
                </div>
                <div class="timestamp">
                    {{ getHumanTime() }}
                </div>
            </div>
            <div class="content">
                {{ notification.title }}
                <template v-if="notification.body">
                    {{ notification.body }}
                </template>
            </div>
        </div>
        <div v-if="showCloseIcon !== false" class="remove" @click="$emit('removeNotification', notification.id)">
            <close-icon></close-icon>
        </div>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import moment from 'moment';

export default {
    components: {
        CloseIcon: defineAsyncComponent(() => import('../../../shared/js/Icons/Close')),
        UserFlag: defineAsyncComponent(() => import('../../../shared/js/Components/User/Flag')),
        UserAvatar: defineAsyncComponent(() => import('../../../shared/js/Components/User/Avatar')),
    },

    props: {
        notification: Object,
        showCloseIcon: {
            type: Boolean,
            default: true
        }
    },
    emits: [
        'removeNotification'
    ],

    methods: {
        onNotificationClick() {
            // TODO: Handle clicks
            // switch (this.getNotificationType()) {
            //     case 'RoundInviteNotification':
            //         this.gotoRound();
            //         break;
            //     case 'FriendRequestNotification':
            //         this.gotoFriends();
            //         break;
            // }
            return true;
        },

        getNotificationType() {
            if(this.notification && this.notification.type && this.notification.type.indexOf('\\') !== '-1') {
                const typeParts = this.notification.type.split('\\');
                return typeParts[typeParts.length - 1];
            } else {
                return this.notification.type;
            }
        },

        // gotoFriends() {
        //     this.$event.emit('friends.openModal');
        //     this.$emit('removeNotification', this.notification.id);
        // },
        //
        // gotoRound() {
        //     this.$router.push({
        //         name: 'round',
        //         params: {
        //             id: this.notification.round_id
        //         }
        //     });
        //     this.$emit('removeNotification', this.notification.id);
        // },

        getHumanTime() {
            return moment(this.notification.created_at).local().startOf('minute').fromNow();
        }
    }
};
</script>

<style scoped lang="scss">
.notification {
    padding: var(--global-spacing-half);
    border-radius: var(--global-radius-inner);
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(4px);
    color: var(--color-primary-contrast);

    display: flex;
    justify-content: center;

    margin-bottom: var(--global-spacing-half);

    &:last-of-type {
        margin-bottom: 0;
    }

    .image-wrapper {
        flex-grow: 0;
        flex-shrink: 2;
        flex-basis: var(--image-size);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: var(--global-spacing-half);

        div {
            width: var(--image-size);
            height: auto;
            border-radius: var(--global-radius-small);
        }
    }

    .content-wrapper {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-width: 300px;
        max-width: 380px;

        .sender-wrapper {
            .sender {
                font-size: var(--font-size-small);
                font-weight: 700;
                color: var(--color-light);
                display: flex;
                align-items: center;

                .flag {
                    width: 16px;
                    height: 16px;
                    margin-right: var(--global-spacing-quarter);
                }
            }
            .timestamp {
                font-size: var(--font-size-small);
                font-weight: 500;
                color: var(--color-medium-tint-600);
            }
        }
        .content {
            font-size: var(--font-size-medium);
            font-weight: 500;
            color: var(--color-light);
        }
    }

    .remove {
        flex: 0 1 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: var(--global-spacing-half);
    }
}
</style>
