<template>
    <div id="logged-in-user" v-if="auth.user">
        <div class="avatar">
            <user-avatar :user="auth.user"></user-avatar>
        </div>
        <div class="user">
            <span class="username">{{ auth.user.display_name }}</span>
            <div class="role">
                hcp: {{ auth.user.hcp }}<br/>
                {{ $i18n.get('roles.' + auth.user.roles[0].name) }}
            </div>
        </div>
    </div>
</template>

<script>
import useAuthStore from '../../../../shared/js/Stores/auth';
import { defineAsyncComponent } from 'vue';

export default {
    components: {
        UserAvatar: defineAsyncComponent(() => import('../../../../shared/js/Components/User/Avatar')),
    },
    props: {},
    setup() {
        const auth = useAuthStore();
        return {
            auth
        };
    },
    data() {
        return {};
    },
    computed: {},
    watch: {},
    methods: {

    }
};
</script>

<style scoped lang="scss">
#logged-in-user {
    margin: var(--global-spacing-half);
    display: flex;

    .avatar {
        margin-right: var(--global-spacing-quarter);
    }

    .user {
        .username {
            color: var(--color-light);
            font-size: var(--font-size-base);
            font-weight: 700;
        }
        .role {
            color: #73A7DA;
            font-size: var(--font-size-small);
            font-weight: normal;
        }
    }
}
</style>
