<template>
    <div class="main-menu">
        <ul>
            <li>
                <div class="menu-item" @click="$emit('openNotificationModal')">
                    <div class="icon">
                        <bell-icon class="icon-1-5x"/>
                    </div>
                    <div class="text">
                        <div>
                            {{ $i18n.get('models.notification.plural') }}
                            <span class="badge">{{ notifications.unread }}</span>
                        </div>
                        <div class="description">{{ $i18n.get('views.notifications.menu_description') }}</div>
                    </div>
                </div>
            </li>
            <li>
                <router-link :to="{ name: 'home' }" class="menu-item">
                    <div class="icon">
                        <dashboard-icon class="icon-1-5x"/>
                    </div>
                    <div class="text">
                        <div>{{ $i18n.get('views.dashboard.menu_title') }}</div>
                        <div class="description">{{ $i18n.get('views.dashboard.menu_description') }}</div>
                    </div>
                </router-link>
            </li>
            <li>
                <router-link :to="{ name: 'profile' }" class="menu-item">
                    <div class="icon">
                        <settings-icon class="icon-1-5x"/>
                    </div>
                    <div class="text">
                        <div>{{ $i18n.get('views.profile.menu_title') }}</div>
                        <div class="description">{{ $i18n.get('views.profile.menu_description') }}</div>
                    </div>
                </router-link>
            </li>
            <li>
                <a @click="logout" class="menu-item">
                    <div class="icon">
                        <logout-icon></logout-icon>
                    </div>
                    <div class="text">
                        <div>{{ $i18n.get('menu.logout') }}</div>
                        <div class="description">{{ $i18n.get('menu.logout_description') }}</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
import useAuthStore from '../../../../shared/js/Stores/auth';
import LogoutIcon from '../../../../shared/js/Icons/Logout';
import BellIcon from '../../../../shared/js/Icons/Notification';

// TODO: Replace this
import DashboardIcon from '../../../../shared/js/Icons/Podium';

import useNotificationStore from '../../../../shared/js/Stores/notifications';
import useProtocolStore from '../../../../shared/js/Stores/protocol';
// import HomeOutline from '../../../../shared/js/Icons/HomeOutline';
import SettingsIcon from '../../../../shared/js/Icons/Cog';

export default {
    components: {
        SettingsIcon,
        LogoutIcon,
        BellIcon,
        DashboardIcon
    },

    setup() {
        const protocol = useProtocolStore();
        const auth = useAuthStore();
        const notifications = useNotificationStore();
        return {
            auth,
            notifications,
            protocol
        };
    },

    emits: [
        'openNotificationModal'
    ],

    data() {
        return {
            tokens: 0,
            user: {}
        };
    },
    watch: {
        user: {
            deep: true,
            immediate: true,
            handler(val) {
                if (val && val.wallets) {
                    this.setNumberOfTokens(val.wallets);
                }
            }
        }
    },
    mounted() {
        if(this.auth.user.wallets) {
            this.setNumberOfTokens(this.auth.user.wallets);
            this.user = this.auth.user;
        }
    },
    methods: {
        logout() {
            this.auth.logOut();
        },
        setNumberOfTokens(wallets) {
            const displayedTokenType = this.protocol.getEnum('token_type', 'TOKENS');
            const displayedWallet = wallets.find(wallet => wallet.token_type === displayedTokenType);
            if (displayedWallet) {
                this.tokens = displayedWallet.balance;
            }
        }
    }
};
</script>

<style scoped lang="scss">
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            .menu-item {
                padding: var(--global-spacing-threeforths) var(--global-spacing);
                display: flex;
                align-items: center;
                color: var(--color-light);
                text-decoration: none;
                cursor: pointer;
                position: relative;

                .icon {
                    margin-right: calc(var(--global-spacing) / 2);
                    font-size: var(--font-size-large);
                    display: flex;
                    align-items: center;
                }

                .text {
                    font-size: var(--font-size-base);
                    font-weight: 700;
                    flex-grow: 2;

                    .description {
                        color: #73A7DA;
                        font-size: var(--font-size-small);
                        font-weight: normal;
                        line-height: 1;
                    }
                }

                .badge {
                    background-color: #0090FF;
                    border-radius: var(--global-radius);
                    color: var(--color-light);
                    font-size: var(--font-size-small);
                    font-weight: 700;
                    padding: calc(var(--global-spacing) / 4);
                    padding-left: calc(var(--global-spacing) / 2);
                    padding-right: calc(var(--global-spacing) / 2);
                }

                &.router-link-active {
                    .icon {
                        color: var(--color-primary);
                    }
                    .text {
                        color: var(--color-primary);
                    }
                    &:after {
                        content: '';
                        display: flex;
                        height: 100%;
                        position: absolute;
                        width: 5px;
                        background: var(--color-primary);
                        right: 0;
                        top: 0;
                        border-radius: 5px 0 0 5px;
                        box-shadow: -47.9988px 0.334099px 82px 2px rgba(0, 144, 255, 0.151108), -33.2493px 0.231434px 52.0688px 2px rgba(0, 144, 255, 0.252536), -21.6904px 0.150978px 31.3178px 2px rgba(0, 144, 255, 0.324157), -12.9863px 0.0903917px 17.8822px 2px rgba(0, 144, 255, 0.385843), -6.801px 0.0473388px 9.89738px 2px rgba(0, 144, 255, 0.457464), -2.79877px 0.019481px 5.49854px 2px rgba(0, 144, 255, 0.558892);
                    }
                }
            }
        }
    }
</style>
