<template>
    <div id="sidebar">
        <current-user></current-user>
        <main-menu @openNotificationModal="showNotificationsModal"/>
    </div>
    <notifications-modal v-if="showNotifications" @close="closeNotifications"></notifications-modal>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import MainMenu from './MainMenu';
import CurrentUser from './CurrentUser';

export default {
    components: {
        MainMenu,
        CurrentUser,
        NotificationsModal: defineAsyncComponent(() => import('../NotificationsModal')),
    },
    data() {
        return {
            showNotifications: false,
        };
    },
    methods: {
        showNotificationsModal() {
            console.log('Show notifications!');
            this.showNotifications = true;
        },
        closeNotifications() {
            this.showNotifications = false;
        }
    }
};
</script>

<style scoped lang="scss">
    #sidebar {
        background: rgba(var(--color-secondary-shade-400-rgb), 0.4);
        backdrop-filter: blur(20px);
        color: var(--color-dark);
        box-shadow: var(--box-shadow);
        min-width: 300px;
        width: auto;
    }

    #sidebar-header {
        padding: calc(var(--global-spacing) * 2);
    }
</style>
