<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C8.68672 0 6 2.68672 6 6C6 7.62922 6.65103 9.3421 7.67747 10.6521C8.7009 11.9583 10.213 13 12 13C13.787 13 15.2991 11.9583 16.3225 10.6521C17.349 9.3421 18 7.62922 18 6C18 2.68672 15.3133 0 12 0ZM8 6C8 3.79128 9.79128 2 12 2C14.2087 2 16 3.79128 16 6C16 7.13178 15.5315 8.4189 14.7482 9.41862C13.9619 10.4222 12.974 11 12 11C11.026 11 10.0381 10.4222 9.25178 9.41862C8.46847 8.4189 8 7.13178 8 6Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9 14C5.13372 14 2 17.1337 2 21V22.73C3.03099 23.0599 4.06504 23.3103 5.13413 23.4867C6.7011 23.7451 9.00555 24 12 24C14.9945 24 17.2989 23.7451 18.8659 23.4867C19.935 23.3103 20.969 23.0599 22 22.73V21C22 17.1337 18.8663 14 15 14H9ZM5.45962 21.5133C4.84191 21.4114 4.35421 21.3102 4 21.2282V21C4 18.2383 6.23829 16 9 16H15C17.7617 16 20 18.2383 20 21V21.2282C19.6458 21.3102 19.1581 21.4114 18.5404 21.5133C17.0761 21.7549 14.8805 22 12 22C9.11945 22 6.9239 21.7549 5.45962 21.5133Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
