<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.67747 11.6521C6.86326 11.8893 7.06516 12.1177 7.28188 12.3327C5.87492 12.5793 4.65134 12.9265 3.70549 13.2454C2.07836 13.7958 1 15.3265 1 17.032V22H2.00045H12L11.9996 20H3V17.032C3 16.1716 3.54236 15.4121 4.34497 15.1404C5.92721 14.607 8.31972 14 11 14C12.787 14 14.2991 12.9583 15.3225 11.6521C16.349 10.3421 17 8.62922 17 7V6C17 2.68672 14.3133 0 11 0C7.68672 0 5 2.68672 5 6V7C5 8.62922 5.65103 10.3421 6.67747 11.6521ZM2 21C2 22 2.00045 22 2.00045 22L2 21ZM11 2C8.79128 2 7 3.79128 7 6V7C7 8.13177 7.46847 9.4189 8.25178 10.4186C9.0381 11.4222 10.026 12 11 12C11.974 12 12.9619 11.4222 13.7482 10.4186C14.5315 9.4189 15 8.13177 15 7V6C15 3.79128 13.2087 2 11 2Z"/>
        <path d="M20 15V18H23V20H20V23H18V20H15V18H18V15H20Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
