<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 11C0 5.26887 5.54541 1 12 1C18.4546 1 24 5.26887 24 11C24 13.3521 22.9998 15.4625 21.4473 17.1523L22.1869 23.5624L15.0396 20.655C14.0363 20.9152 13.0416 21 12 21C5.54541 21 0 16.7311 0 11ZM12 3C6.25459 3 2 6.73113 2 11C2 15.2689 6.25459 19 12 19C13.0383 19 13.9347 18.9056 14.8127 18.6422L15.1503 18.5409L19.8131 20.4376L19.3512 16.4346L19.6929 16.0929C21.1478 14.638 22 12.8802 22 11C22 6.73113 17.7454 3 12 3Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
