<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4144 7.99966L10.0002 17.4139L4.58594 11.9997L6.00015 10.5854L10.0002 14.5854L18.0002 6.58545L19.4144 7.99966Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>




