<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.4144 6.00015L9.00015 20.4144L0.585938 12.0002L2.00015 10.5859L9.00015 17.5859L22.0002 4.58594L23.4144 6.00015Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>




