<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4144 8.00015L10.4144 12.0002L14.4144 16.0002L13.0002 17.4144L7.58594 12.0002L13.0002 6.58594L14.4144 8.00015Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
