<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0001 17.4144L12.0001 7.41437L2.00009 17.4144L0.58588 16.0002L12.0001 4.58594L23.4143 16.0002L22.0001 17.4144Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>

