<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.58588 16.0002L13.5859 12.0002L9.58588 8.00015L11.0001 6.58594L16.4143 12.0002L11.0001 17.4144L9.58588 16.0002Z" />
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>

