<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.58588 22.0002L16.5859 12.0002L6.58588 2.00015L8.0001 0.58594L19.4143 12.0002L8.00009 23.4144L6.58588 22.0002Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>

