<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.00015 5.58594L12.0002 15.5859L22.0002 5.58594L23.4144 7.00015L12.0002 18.4144L0.585938 7.00015L2.00015 5.58594Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>


