<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.4144 11.9997L20.4144 4.99966L19.0002 3.58545L12.0002 10.5854L5.00015 3.58545L3.58594 4.99966L10.5859 11.9997L3.58594 18.9997L5.00015 20.4139L12.0002 13.4139L19.0002 20.4139L20.4144 18.9997L13.4144 11.9997Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
