<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.4144 11.9997L17.4144 7.99966L16.0002 6.58545L12.0002 10.5854L8.00015 6.58545L6.58594 7.99966L10.5859 11.9997L6.58594 15.9997L8.00015 17.4139L12.0002 13.4139L16.0002 17.4139L17.4144 15.9997L13.4144 11.9997Z"/>
    </svg>
</template>





