<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.47136 17.3329L6.66625 12.2183L17.3206 9.31271C17.6573 9.22085 18.0121 9.21869 18.3499 9.30646C18.6877 9.39422 18.9966 9.56885 19.246 9.81299C19.4954 10.0571 19.6766 10.3623 19.7715 10.6981C19.8665 11.034 19.8719 11.3888 19.7872 11.7274L19.5446 12.6975L21.4849 13.1827L21.7275 12.2126C21.8968 11.5354 21.886 10.8257 21.6961 10.1541C21.5062 9.48237 21.1439 8.87207 20.6451 8.38379C20.1463 7.89552 19.5284 7.54626 18.8529 7.37073C18.1773 7.19521 17.4676 7.19951 16.7943 7.3832L5.99885 10.3272L2.60962 0.724121L0.723633 1.38974L6.58551 17.9989C6.79217 18.5841 7.17523 19.0908 7.6819 19.4492C8.18855 19.8075 8.79393 20 9.41451 19.9999H11.9994V17.9999H9.41436C9.2075 17.9999 9.00571 17.9358 8.83683 17.8163C8.66794 17.6969 8.54025 17.528 8.47136 17.3329Z"/>
        <path d="M21.999 22H5.99902V24H21.999V22Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.999 13C14.7899 13 12.999 14.7909 12.999 17C12.999 19.2091 14.7899 21 16.999 21C19.2082 21 20.999 19.2091 20.999 17C20.999 14.7909 19.2082 13 16.999 13ZM14.999 17C14.999 15.8954 15.8945 15 16.999 15C18.1036 15 18.999 15.8954 18.999 17C18.999 18.1046 18.1036 19 16.999 19C15.8945 19 14.999 18.1046 14.999 17Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>

