<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8ZM10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C10.3427 0 9 1.34272 9 3V3.52257C8.70132 3.62812 8.40987 3.7489 8.12639 3.88418L7.75711 3.51489C6.58558 2.34337 4.68642 2.34337 3.51489 3.51489C2.34337 4.68642 2.34337 6.58558 3.51489 7.75711L3.88418 8.12639C3.7489 8.40987 3.62812 8.70132 3.52257 9H3C1.34404 9 0 10.3424 0 12C0 13.6573 1.34272 15 3 15H3.52257C3.62812 15.2987 3.7489 15.5901 3.88418 15.8736L3.51489 16.2429C2.34337 17.4144 2.34337 19.3136 3.51489 20.4851C4.68642 21.6566 6.58558 21.6566 7.75711 20.4851L8.12625 20.116C8.40976 20.2513 8.70132 20.372 9 20.4775V21C9 22.656 10.3424 24 12 24C13.6573 24 15 22.6573 15 21V20.4774C15.2987 20.3719 15.5901 20.2511 15.8736 20.1158L16.2429 20.4851C17.4144 21.6566 19.3136 21.6566 20.4851 20.4851C21.6566 19.3136 21.6566 17.4144 20.4851 16.2429L20.116 15.8738C20.2513 15.5902 20.372 15.2987 20.4775 15H21C22.656 15 24 13.6576 24 12C24 10.3427 22.6573 9 21 9H20.4774C20.3719 8.70132 20.2511 8.40986 20.1158 8.12639L20.4851 7.75711C21.6566 6.58558 21.6566 4.68642 20.4851 3.51489C19.3136 2.34337 17.4144 2.34337 16.2429 3.51489L15.8736 3.88418C15.5901 3.7489 15.2987 3.62812 15 3.52257V3C15 1.34404 13.6576 0 12 0ZM11 3C11 2.44728 11.4473 2 12 2C12.5524 2 13 2.44796 13 3V5.0366L13.75 5.23025C14.3908 5.39569 14.994 5.64755 15.5501 5.97541L16.2174 6.36885L17.6571 4.92911C18.0476 4.53863 18.6804 4.53863 19.0709 4.92911C19.4614 5.31958 19.4614 5.95242 19.0709 6.34289L17.6311 7.78264L18.0246 8.44991C18.3525 9.00596 18.6043 9.60922 18.7698 10.25L18.9634 11H21C21.5527 11 22 11.4473 22 12C22 12.5524 21.552 13 21 13H18.9634L18.7698 13.75C18.6042 14.3912 18.3523 14.9952 18.0249 15.5495L17.6308 16.217L19.0709 17.6571C19.4614 18.0476 19.4614 18.6804 19.0709 19.0709C18.6804 19.4614 18.0476 19.4614 17.6571 19.0709L16.2174 17.6311L15.5501 18.0246C14.994 18.3525 14.3908 18.6043 13.75 18.7698L13 18.9634V21C13 21.5527 12.5527 22 12 22C11.4476 22 11 21.552 11 21V18.9634L10.25 18.7698C9.60883 18.6042 9.00484 18.3523 8.4505 18.0249L7.78303 17.6308L6.34289 19.0709C5.95242 19.4614 5.31958 19.4614 4.92911 19.0709C4.53863 18.6804 4.53863 18.0476 4.92911 17.6571L6.36885 16.2174L5.97541 15.5501C5.64755 14.994 5.39569 14.3908 5.23025 13.75L5.0366 13H3C2.44728 13 2 12.5527 2 12C2 11.4476 2.44796 11 3 11H5.0366L5.23025 10.25C5.39569 9.60922 5.64755 9.00596 5.97541 8.44991L6.36885 7.78264L4.92911 6.34289C4.53863 5.95242 4.53863 5.31958 4.92911 4.92911C5.31958 4.53863 5.95242 4.53863 6.34289 4.92911L7.78264 6.36885L8.44991 5.97541C9.00596 5.64755 9.60922 5.39569 10.25 5.23025L11 5.0366V3Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
