<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 13.5858V1H13V13.5858L18 8.58578L19.4142 10L12 17.4142L4.58582 10L6.00003 8.58578L11 13.5858Z"/>
        <path d="M3 15V21H21V15H23V23H1V15H3Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
