<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 12.5858L5.00003 5.58578L3.58582 7L12 15.4142L20.4142 7L19 5.58578L12 12.5858Z"/>
        <path d="M8.41424 15L5.00003 18.4142L3.58582 17L7.00003 13.5858L8.41424 15Z"/>
        <path d="M20.4142 17L17 13.5858L15.5858 15L19 18.4142L20.4142 17Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 2C1.34315 2 0 3.34315 0 5V19C0 20.6569 1.34315 22 3 22H21C22.6569 22 24 20.6569 24 19V5C24 3.34315 22.6569 2 21 2H3ZM2 5C2 4.44772 2.44772 4 3 4H21C21.5523 4 22 4.44772 22 5V19C22 19.5523 21.5523 20 21 20H3C2.44772 20 2 19.5523 2 19V5Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
