<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.99927 9C5.99927 8.17157 6.67084 7.5 7.49927 7.5H16.4998C17.3282 7.5 17.9998 8.17157 17.9998 9C17.9998 9.82843 17.3282 10.5 16.4998 10.5H7.49927C6.67084 10.5 5.99927 9.82843 5.99927 9Z"/>
        <path d="M5.99927 15C5.99927 14.1716 6.67084 13.5 7.49927 13.5H16.4998C17.3282 13.5 17.9998 14.1716 17.9998 15C17.9998 15.8284 17.3282 16.5 16.4998 16.5H7.49927C6.67084 16.5 5.99927 15.8284 5.99927 15Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>

