<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4C8 1.79072 9.79072 0 12 0C14.2093 0 16 1.79072 16 4C16 6.20928 14.2093 8 12 8C9.79072 8 8 6.20928 8 4ZM12 2C10.8953 2 10 2.89528 10 4C10 5.10472 10.8953 6 12 6C13.1047 6 14 5.10472 14 4C14 2.89528 13.1047 2 12 2Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2C2.34272 2 1 3.34272 1 5C1 6.65728 2.34272 8 4 8C5.65728 8 7 6.65728 7 5C7 3.34272 5.65728 2 4 2ZM3 5C3 4.44728 3.44728 4 4 4C4.55272 4 5 4.44728 5 5C5 5.55272 4.55272 6 4 6C3.44728 6 3 5.55272 3 5Z"/>
        <path d="M2 12C2 11.4473 2.44728 11 3 11H5V9H3C1.34272 9 0 10.3427 0 12V18H2V22H7V20H4V16H2V12Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 5C17 3.34272 18.3427 2 20 2C21.6573 2 23 3.34272 23 5C23 6.65728 21.6573 8 20 8C18.3427 8 17 6.65728 17 5ZM20 4C19.4473 4 19 4.44728 19 5C19 5.55272 19.4473 6 20 6C20.5527 6 21 5.55272 21 5C21 4.44728 20.5527 4 20 4Z"/>
        <path d="M24 12C24 10.3427 22.6573 9 21 9H19V11H21C21.5527 11 22 11.4473 22 12V16H20V20H17V22H22V18H24V12Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 19H16V24H8V18H6V12C6 10.3427 7.34272 9 9 9H15C16.6573 9 18 10.3427 18 12V19ZM8 12C8 11.4473 8.44728 11 9 11H15C15.5527 11 16 11.4473 16 12V17H14V22H10V16H8V12Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>



