<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0418 11.9798L13.041 12.0208C15.947 12.14 18.5918 12.7549 20.5461 13.7219C22.428 14.6531 24 16.0946 24 17.9999C24 20.0137 22.2496 21.5103 20.1919 22.4457C18.0439 23.4221 15.1467 23.9999 12 23.9999C8.85333 23.9999 5.95608 23.4221 3.80805 22.4457C1.75035 21.5103 0 20.0137 0 17.9999C0 16.864 0.573516 15.8833 1.39755 15.1056C2.21894 14.3305 3.34842 13.6947 4.64858 13.2067L5.5848 12.8553L6.28764 14.7277L5.35142 15.0792C4.20858 15.5081 3.33806 16.0244 2.7702 16.5602C2.20498 17.0936 2 17.5829 2 17.9999C2 18.7471 2.71215 19.7506 4.6357 20.625C6.46892 21.4583 9.07167 21.9999 12 21.9999C14.9283 21.9999 17.5311 21.4583 19.3643 20.625C21.2879 19.7506 22 18.7471 22 17.9999C22 17.2972 21.3755 16.3638 19.6591 15.5145C18.0152 14.701 15.66 14.1299 12.959 14.0191L11.9599 13.9781L12.0418 11.9798Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0.483398L18.5386 4.99994L10 8.65933V17.9999H8V0.483398ZM10 6.4834L13.4614 4.99994L10 3.51648V6.4834Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
