<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0.719238L23 9.51924V23.9999H14V16.9999H10V23.9999H1V9.51924L12 0.719238ZM3 10.4805V21.9999H8V14.9999H16V21.9999H21V10.4805L12 3.28049L3 10.4805Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
