<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.1067 4.20711C15.7162 2.59763 18.183 2.59763 19.7925 4.20711C21.3997 5.8143 21.402 8.27641 19.7993 9.88603L16.5857 12.9711L17.9708 14.4139L21.1995 11.3143L21.2067 11.3071C23.5972 8.91658 23.5972 5.18342 21.2067 2.79289C18.8162 0.402369 15.083 0.402369 12.6925 2.79289L9.8925 5.59289C7.50198 7.98342 7.50198 11.7166 9.8925 14.1071L10.5996 14.8142L12.0138 13.4L11.3067 12.6929C9.69724 11.0834 9.69724 8.61658 11.3067 7.00711L14.1067 4.20711Z"/>
        <path d="M14.1071 9.89265L13.4 9.18555L11.9858 10.5998L12.6929 11.3069C14.3024 12.9163 14.3024 15.3832 12.6929 16.9927L9.89289 19.7927C8.28342 21.4021 5.81658 21.4021 4.20711 19.7927C2.59991 18.1855 2.59763 15.7233 4.20027 14.1137L7.41392 11.0286L6.02886 9.58584L2.80011 12.6854L2.79289 12.6927C0.402369 15.0832 0.402369 18.8163 2.79289 21.2069C5.18342 23.5974 8.91658 23.5974 11.3071 21.2069L14.1071 18.4069C16.4976 16.0163 16.4976 12.2832 14.1071 9.89265Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>



