<template>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M20 0H4V24H20V19H18V22H6V2H18V5H20V0ZM17.0002 6.58569L22.4144 11.9999L17.0002 17.4141L15.5859 15.9999L18.5858 13H9V11H18.586L15.5859 7.99991L17.0002 6.58569Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
