<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M23 13H1C0.4 13 0 12.6 0 12C0 11.4 0.4 11 1 11H23C23.6 11 24 11.4 24 12C24 12.6 23.6 13 23 13Z"/>
        <path d="M23 6H1C0.4 6 0 5.6 0 5C0 4.4 0.4 4 1 4H23C23.6 4 24 4.4 24 5C24 5.6 23.6 6 23 6Z"/>
        <path d="M23 20H1C0.4 20 0 19.6 0 19C0 18.4 0.4 18 1 18H23C23.6 18 24 18.4 24 19C24 19.6 23.6 20 23 20Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
