<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C9.87827 0 7.84344 0.842855 6.34315 2.34315C4.84285 3.84344 4 5.87827 4 8V11C4 12.2852 3.44291 13.0783 2.75016 13.8634C2.67006 13.9542 2.58201 14.0511 2.48998 14.1524C2.21136 14.4591 1.8963 14.806 1.65502 15.1438C1.30795 15.6297 1 16.2382 1 17C1 17.8482 1.49396 18.508 2.08816 18.9733C2.68256 19.4387 3.48843 19.8056 4.41697 20.0928C6.28423 20.6705 8.89309 21 12 21C15.1069 21 17.7158 20.6705 19.583 20.0928C20.5116 19.8056 21.3174 19.4387 21.9118 18.9733C22.506 18.508 23 17.8482 23 17C23 16.2382 22.6921 15.6297 22.345 15.1438C22.1037 14.806 21.7886 14.4591 21.51 14.1524C21.418 14.0511 21.3299 13.9542 21.2498 13.8634C20.5571 13.0783 20 12.2852 20 11V8C20 5.87827 19.1571 3.84344 17.6569 2.34315C16.1566 0.842855 14.1217 0 12 0ZM7.75736 3.75736C8.88258 2.63214 10.4087 2 12 2C13.5913 2 15.1174 2.63214 16.2426 3.75736C17.3679 4.88258 18 6.4087 18 8V11C18 13.0148 18.9429 14.2717 19.7502 15.1866C19.88 15.3338 19.998 15.4637 20.1061 15.5827C20.3536 15.8553 20.5494 16.0709 20.7175 16.3062C20.9329 16.6078 21 16.8118 21 17C21.0001 17.0046 21.003 17.1447 20.6788 17.3986C20.3513 17.655 19.8009 17.9319 18.992 18.1822C17.3842 18.6795 14.9931 19 12 19C9.00691 19 6.61577 18.6795 5.00803 18.1822C4.19907 17.9319 3.64869 17.655 3.32121 17.3986C2.99696 17.1447 2.9999 17.0047 3 17.0001C3 16.8119 3.06705 16.6078 3.28248 16.3062C3.4506 16.0709 3.64631 15.8554 3.89388 15.5828C4.00197 15.4637 4.11995 15.3338 4.24984 15.1866C5.05709 14.2717 6 13.0148 6 11V8C6 6.4087 6.63214 4.88258 7.75736 3.75736Z"/>
        <path d="M9.14453 21.8999C10.0385 21.9659 10.9885 21.9999 11.9995 21.9999C13.0105 21.9999 13.9605 21.9659 14.8545 21.8999C14.6639 22.5079 14.2842 23.0391 13.7707 23.4163C13.2572 23.7935 12.6367 23.9969 11.9995 23.9969C11.3624 23.9969 10.7419 23.7935 10.2283 23.4163C9.71483 23.0391 9.33512 22.5079 9.14453 21.8999Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
