<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_673_442)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.00064 23.4141L23.4149 1.99985L22.0006 0.585632L17.2962 5.29009C16.6544 4.68747 15.9208 4.18725 15.1207 3.80933C13.9883 3.27441 12.7512 2.99786 11.4988 2.9997L11.4953 2.99972C9.32315 3.01051 7.23656 3.84752 5.65914 5.34081C4.24737 6.67729 3.33815 8.44979 3.06978 10.3617C2.17769 10.7368 1.40804 11.3644 0.860017 12.1743C0.177381 13.1832 -0.114723 14.406 0.0382486 15.6145C0.19122 16.823 0.77881 17.9345 1.6913 18.7414C2.08626 19.0907 2.5304 19.3726 3.00593 19.5803L0.586426 21.9998L2.00064 23.4141ZM4.61323 17.973C4.02319 17.894 3.46654 17.6415 3.01622 17.2432C2.46764 16.7581 2.11438 16.0899 2.02242 15.3633C1.93045 14.6368 2.10606 13.9016 2.51646 13.2951C2.92686 12.6886 3.54398 12.2522 4.25261 12.0673L4.95509 11.8841L4.99844 11.1594C5.09781 9.4983 5.82562 7.93725 7.03409 6.79323C8.24215 5.6496 9.84001 5.00841 11.5035 4.9997C12.4589 4.99856 13.4026 5.20965 14.2665 5.61772C14.8582 5.89721 15.4022 6.26431 15.8811 6.70522L4.61323 17.973Z"/>
            <path d="M19.4226 8.27362L19.6955 9.23565C19.7744 9.51362 19.8392 9.79519 19.8898 10.0793C20.8855 10.2593 21.8107 10.7387 22.536 11.4641C23.4737 12.4018 24.0005 13.6735 24.0005 14.9996C24.0005 16.3257 23.4737 17.5975 22.536 18.5351C21.5983 19.4728 20.3266 19.9996 19.0005 19.9996H9.00049V17.9996H19.0005C19.7961 17.9996 20.5592 17.6835 21.1218 17.1209C21.6844 16.5583 22.0005 15.7953 22.0005 14.9996C22.0005 14.204 21.6844 13.4409 21.1218 12.8783C20.5592 12.3157 19.7961 11.9996 19.0005 11.9996H18.0755L18.0035 11.0775C17.9693 10.6389 17.8915 10.2048 17.7715 9.78156L17.4985 8.81953L19.4226 8.27362Z"/>
        </g>
        <defs>
            <clipPath id="clip0_673_442">
                <rect width="24" height="24"/>
            </clipPath>
        </defs>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>

