<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.19719 0.13147L24 12L6.19719 23.8685V0.13147ZM8.19719 3.8685V20.1315L20.3944 12L8.19719 3.8685Z"/>
        <path d="M2.99084 23.8685V0.13147H0.990845V23.8685H2.99084Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
