<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.1753 2.382L11.9993 0L10.8233 2.382L8.19531 2.764L10.0973 4.618L9.64831 7.236L11.9993 6L14.3503 7.236L13.9013 4.618L15.8033 2.764L13.1753 2.382Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 10H17V16H24V24H0V13H7V10ZM15 22H9V12H15V22ZM17 18V22H22V18H17ZM7 15V22H2V15H7Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
