<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 4H7V7H4V4Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 11H11V0H0V11ZM9 9H2V2H9V9Z"/>
        <path d="M20 4H17V7H20V4Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13 11H24V0H13V11ZM22 9H15V2H22V9Z"/>
        <path d="M4 17H7V20H4V17Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11 24H0V13H11V24ZM2 22H9V15H2V22Z"/>
        <path d="M22 20H24V13H18V16H16V13H14V18H20V15H22V20Z"/>
        <path d="M24 24H14V20H16V22H24V24Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>







