<template>
    <svg-icon type="mdi" :path="iconPath"></svg-icon>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import { mdiFormatQuoteOpen } from '@mdi/js';

export default {
    components: {
        SvgIcon: defineAsyncComponent(() => import('@jamescoyle/vue-icon'))
    },
    data() {
        return {
            iconPath: mdiFormatQuoteOpen
        };
    }
};
</script>
