<template>
    <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
        <path d="M21.6669 -0.0811768L23.2165 9.21653L13.9188 7.66691L17.0422 4.54356C15.6035 3.56878 13.8685 3 12 3C7.02928 3 3 7.02928 3 12C3 16.9707 7.02928 21 12 21C15.6894 21 18.862 18.7805 20.2516 15.5997L22.0844 16.4003C20.388 20.2835 16.5126 23 12 23C5.92472 23 1 18.0753 1 12C1 5.92472 5.92472 1 12 1C14.4208 1 16.6606 1.78301 18.4774 3.1083L21.6669 -0.0811768Z" />
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
