<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.357 1.91188C15.6876 -0.637293 8.31237 -0.637293 1.64297 1.91188L1 2.15763V9.39652L2.37052 8.8498C8.55328 6.3834 15.4467 6.3834 21.6295 8.8498L23 9.39652V2.15763L22.357 1.91188ZM3 6.48644V3.5436C8.8231 1.48547 15.1769 1.48547 21 3.5436V6.48644C15.1644 4.50452 8.83557 4.50452 3 6.48644Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9 13C9 11.3431 10.3431 10 12 10C13.6569 10 15 11.3431 15 13C15 14.6569 13.6569 16 12 16C10.3431 16 9 14.6569 9 13ZM12 12C11.4477 12 11 12.4477 11 13C11 13.5523 11.4477 14 12 14C12.5523 14 13 13.5523 13 13C13 12.4477 12.5523 12 12 12Z"/>
        <path d="M1.89143 10.5898L9.36982 16.9999H14.63L22.1084 10.5898L23.4099 12.1084L16 18.4597V24H14V18.9999H10V24H8V18.4599L0.589844 12.1084L1.89143 10.5898Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
