<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.848 7.47C12.482 6.885 11.518 6.885 11.152 7.47L6.15197 15.47C5.95997 15.778 5.94897 16.167 6.12597 16.485C6.30297 16.803 6.63597 17 6.99997 17H17C17.364 17 17.698 16.803 17.875 16.485C18.052 16.167 18.041 15.778 17.849 15.47L12.848 7.47Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>

