<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.152 16.53C11.518 17.115 12.482 17.115 12.848 16.53L17.848 8.53C18.04 8.222 18.051 7.833 17.874 7.515C17.697 7.197 17.364 7 17 7L7.00003 7C6.63603 7 6.30203 7.197 6.12503 7.515C5.94803 7.833 5.95903 8.222 6.15103 8.53L11.152 16.53Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>

