<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 0H23V6C23 7.06087 22.5786 8.07828 21.8284 8.82843C21.0783 9.57857 20.0609 10 19 10H18.9282C18.7137 11.4868 18.0245 12.875 16.9497 13.9497C15.875 15.0245 14.4868 15.7137 13 15.9282V18H14C15.3261 18 16.5979 18.5268 17.5355 19.4645C18.4732 20.4021 19 21.6739 19 23V24H5V23C5 21.6739 5.52678 20.4021 6.46447 19.4645C7.40215 18.5268 8.67392 18 10 18H11V15.9282C9.51321 15.7137 8.12499 15.0245 7.05025 13.9497C5.97552 12.875 5.28635 11.4868 5.07177 10H5C3.93913 10 2.92172 9.57857 2.17157 8.82843C1.42143 8.07828 1 7.06087 1 6V0ZM3 2H5V8C4.46957 8 3.96086 7.78929 3.58579 7.41421C3.21071 7.03914 3 6.53043 3 6V2ZM19 8V2H21V6C21 6.53043 20.7893 7.03914 20.4142 7.41421C20.0391 7.78929 19.5304 8 19 8Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
