<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0ZM2 12C2 6.47715 6.47715 2 12 2C14.4011 2 16.6045 2.84622 18.3283 4.25669L4.25669 18.3283C2.84622 16.6045 2 14.4011 2 12ZM5.67083 19.7426C7.39476 21.1535 9.59853 22 12 22C17.5228 22 22 17.5228 22 12C22 9.59853 21.1535 7.39476 19.7426 5.67083L5.67083 19.7426Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
