<template>
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7ZM9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C9.10624 3 6.62978 4.28128 4.71524 5.78743C2.79861 7.29522 1.37305 9.08366 0.556238 10.2401L0.553589 10.2438C0.193496 10.7587 0.000366211 11.3717 0.000366211 12C0.000366211 12.6283 0.193496 13.2413 0.553589 13.7562L0.556238 13.7599C1.37305 14.9163 2.79861 16.7048 4.71524 18.2126C6.62978 19.7187 9.10624 21 12 21C14.8938 21 17.3703 19.7187 19.2848 18.2126C21.2015 16.7048 22.627 14.9163 23.4438 13.7599L23.4465 13.7562C23.8066 13.2413 23.9997 12.6283 23.9997 12C23.9997 11.3717 23.8066 10.7587 23.4465 10.2438L23.4438 10.2401C22.627 9.08366 21.2015 7.29522 19.2848 5.78743C17.3703 4.28128 14.8938 3 12 3ZM2.00037 12C2.00037 11.7825 2.06703 11.5702 2.19134 11.3918C2.94775 10.3212 4.2446 8.70238 5.95183 7.35932C7.66229 6.01372 9.71283 5 12 5C14.2872 5 16.3378 6.01372 18.0482 7.35932C19.7555 8.70238 21.0523 10.3212 21.8087 11.3918C21.933 11.5702 21.9997 11.7825 21.9997 12C21.9997 12.2175 21.933 12.4298 21.8087 12.6083C21.0523 13.6789 19.7554 15.2976 18.0482 16.6407C16.3378 17.9863 14.2872 19 12 19C9.71283 19 7.66229 17.9863 5.95183 16.6407C4.24462 15.2976 2.94777 13.6789 2.19137 12.6082C2.06703 12.4298 2.00037 12.2175 2.00037 12Z"/>
    </svg>
</template>

<style scoped lang="scss">
    path {
        fill: currentColor;
    }
    svg {
        width: 1em;
        height: 1em;
    }
</style>
