<template>
    <div class="avatar" :class="[extraClass, avatarFormat]" >
        <img v-if="extraClass.indexOf('fancy-border') >= 0" class="border" :alt="showDisplayName(user)" :src="getAvatarURL()" />
        <img class="main" :alt="showDisplayName(user)" :src="getAvatarURL()" />
    </div>
</template>

<script>
import showDisplayName from '../../../../shared/js/Helpers/formatUserDisplayName';

export default {
    props: {
        user: Object,
        extraClass: {
            type: String,
            default: 'outline'
        },
        avatarFormat: {
            type: String,
            default: function() {
                return 'round';
            },
            validator: function(value) {
                return ['square', 'round'].includes(value);
            }
        }
    },
    methods: {
        showDisplayName,
        getAvatarURL() {
            if(this.user && this.user.avatar && Array.isArray(this.user.avatar) && this.user.avatar.length > 0 && this.user.avatar[0].sizes) {
                return this.user.avatar[0].sizes.thumb;
            } else {
                return '/assets/images/avatar.svg';
            }
        }
    }
};

</script>

<style scoped lang="scss">

.avatar {
    position: relative;
    overflow: hidden;
    display: block;
    box-shadow: var(--box-shadow);
    img {
        vertical-align: middle;
        max-width: 100%;
        height: calc(var(--top-bar-height) - var(--global-spacing-half) * 2);
    }
    .main {
        z-index: 3;
        position: relative;
    }
    .border {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.round {
        border-radius: 50%;
        img {
            border-radius: 50%;
        }
    }
    &.rounded {
        border-radius: 32px;
        .main {
            border-radius: 32px;
        }
    }

    &.square {
        flex-grow: 0;
        flex-shrink: 2;
        flex-basis: var(--image-size);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: var(--global-spacing-half);
        border-radius: var(--global-radius-small);

        .main {
            width: var(--image-size);
            height: auto;
            border-radius: var(--global-radius-small);
            object-fit: cover;
        }
    }

    &.outline {
        .main {
            border: 1px solid var(--color-medium-tint-700);
        }
    }
    &.fancy-border {
        padding: 6px;
        box-shadow: none;
        img {
            width: 100%;
            max-width: none;
            height: auto;
        }

        .main {
            border-radius: 26px;
        }

        &:after {
            border-radius: 32px;
            overflow: hidden;
            content: "";
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            backdrop-filter: blur(10px);
            background: linear-gradient(0deg, rgba(214, 184, 94, 0), rgba(214, 184, 94, 0)),radial-gradient(100% 100% at 100% 100%, rgba(180, 143, 58, 0.6) 0%, rgba(180, 143, 58, 0) 100%), radial-gradient(100% 100% at 0% 0%, rgba(255, 251, 164, 0.6) 0%, rgba(255, 251, 164, 0) 100%);
        }
    }
}

</style>
