<template>
    <img :src="getFlagUrl()" :alt="$i18n.get('users.flag')" :class="size"/>
</template>

<script>
export default {
    props: {
        user: Object,
        size: {
            type: String,
            default: function() {
                return 'default';
            },
            validator: function(value) {
                return ['default', 'small'].includes(value);
            }
        },
    },
    methods: {
        getFlagUrl() {
            if(this.user) {
                if(this.user.country_code) {
                    return '/assets/flags/'+this.user.country_code+'.svg';
                } else {
                    // TODO: Maybe do unknown flag instead
                    return 'US';
                }
            }
        }
    }
};
</script>

<style scoped lang="scss">
    .default {
        width: 32px;
        height: 32px;
    }
    .small {
        width: 16px;
        height: 16px;
    }
</style>
