<template>
    <div id="app-header">
        <div class="header-wrapper">
            <div id="header-content">
                <page-title :title="pageTitle" :pre-title="preTitle" :sub-title="subTitle" size="big"></page-title>
            </div>

            <div class="toolbar">
                <div id="logged-in-user" v-if="auth.user">
                    <div class="icon">
                        <user-icon class="icon-2x"/>
                    </div>
                    <div class="user">
                        <span class="username">{{ auth.user.first_name }} {{ auth.user.last_name }}</span>
                        <div class="role">{{ $i18n.get('roles.' + auth.user.roles[0].name) }}</div>
                    </div>
                </div>

                <div class="logout">
                    <button type="button" class="btn small normal" :title="$i18n.get('auth.logout')" @click="logout">
                        <logout-icon class="icon-1-5x" :title="$i18n.get('auth.logout')"/> {{ $i18n.get('auth.logout') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import {envMixin} from '../Mixins/envMixin';
import useAuthStore from '../Stores/auth';

export default {
    mixins: [envMixin],
    components: {
        UserIcon: defineAsyncComponent(() => import('../Icons/AccountOutline')),
        LogoutIcon: defineAsyncComponent(() => import('../Icons/Logout')),
        PageTitle: defineAsyncComponent(() => import('./PageTitle'))
    },

    props: {
        pageTitle: String,
        preTitle: String,
        subTitle: String,
    },

    setup() {
        const auth = useAuthStore();
        return {
            auth
        };
    },

    data() {
        return {
            user: null
        };
    },

    methods: {
        logout() {
            this.auth.logOut();
        }
    }
};
</script>

<style scoped lang="scss">
    #app-header {
        visibility: hidden;
        width: 100%;
        display: none;
        margin-bottom: calc(var(--global-spacing) * 2);
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .toolbar {
        display: flex;
        align-items: center;
        padding: var(--global-spacing);
        border: 2px solid var(--color-medium-tint);
        border-radius: var(--global-radius);
    }

    #logged-in-user {
        display: flex;
        align-items: center;
        color: var(--color-dark);

        .icon {
            background-color: var(--color-medium-tint);
            display: flex;
            padding: 5px;
            border-radius: 100px;
            margin-right: var(--global-spacing);
        }

        .user {
            line-height: 1.3;

            .username {
                font-size: var(--font-size-base);
                font-weight: bold;
                display: block;
            }

            .role {
                display: block;
                font-size: calc(var(--font-size-base) / 1.1);
                color: var(--color-medium-txt);
            }
        }
    }

    .logout {
        margin-left: var(--global-spacing);

        button {
            display: flex;
            align-items: center;

            &:hover {
                .logout-icon {
                    color: var(--color-danger);
                }
            }
        }
    }
</style>
