<template>
    <transition appear name="image-viewer">
        <div class="image-viewer-mask">
            <div class="image-viewer-wrapper">
                <div class="image-viewer-container">
                    <div class="image-viewer-inner box">
                        <button v-if="showCloseBtn" type="button" class="image-viewer-close-button" @click="$emit('close')">
                            <close-icon class="icon-2x"></close-icon>
                        </button>

                        <button type="button" class="prev-button" v-if="currentIndex !== 0" @click="prevImage(currentIndex)">
                            <prev-icon class="icon-3x"/>
                        </button>

                        <div class="image-viewer-body">
                            <img v-if="currentImage && currentImage.src" :src="currentImage.src">
                        </div>

                        <button type="button" class="next-button" v-if="(currentIndex + 1) < images.length" @click="nextImage(currentIndex)">
                            <next-icon class="icon-3x"/>
                        </button>

                        <div class="image-viewer-caption" v-if="currentImage && currentImage.caption">
                            {{ currentImage.caption }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import { defineAsyncComponent } from 'vue';

export default {
    props: {
        images: Array,
        showCloseBtn: {
            type: Boolean,
            default: function() {
                return true;
            }
        }
    },

    emits: [
        'close'
    ],

    components: {
        CloseIcon: defineAsyncComponent(() => import('../Icons/Close')),
        PrevIcon: defineAsyncComponent(() => import('../Icons/ChevronLeft')),
        NextIcon: defineAsyncComponent(() => import('../Icons/ChevronRight'))
    },

    mounted()
    {
        this.currentIndex = 0;
    },

    data() {
        return {
            currentIndex: 0
        };
    },

    computed: {
        currentImage() {
            return this.images[this.currentIndex];
        }
    },

    watch: {
        images: {
            handler(val) {
                this.currentIndex = 0;
            },
            deep: true
        }
    },

    methods: {
        prevImage(index) {
            if ((index - 1) >= 0) {
                this.currentIndex--;
            }
        },

        nextImage(index) {
            if ((index + 1) < this.images.length) {
                this.currentIndex++;
            }
        }
    }
};
</script>

<style scoped lang="scss">
    .image-viewer-mask {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(4px);
        display: table;
        transition: opacity .3s ease, backdrop-filter .3s ease;

        @media (max-height: 820px) {
            display: block;
            overflow-y: auto;
        }
    }

    .image-viewer-wrapper {
        display: table-cell;
        vertical-align: middle;
        padding: calc(var(--global-spacing) * 2);

        @media (max-width: 629px) {
            padding: 5px;
        }
    }

    .image-viewer-close-button {
        background: none;
        border: none;
        position: absolute;
        right: var(--global-spacing);
        top: var(--global-spacing);
        z-index: 1;

        &:hover {
            color: var(--color-danger);
        }
    }

    .prev-button,
    .next-button {
        background: none;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        outline: none;

        &:hover {
            color: var(--color-primary);
        }
    }

    .next-button {
        right: var(--global-spacing);
    }

    .prev-button {
        left: var(--global-spacing);
    }

    .image-viewer-container {
        width: 100%;
        max-height: calc(100vh - 60px);
        margin: 0 auto;
        transition: all .3s ease;
        max-width: 100vw;
        display: flex;
        justify-content: center;

        .image-viewer-inner {
            border-radius: var(--global-radius);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            position: relative;
            overflow: hidden;
        }

        .image-viewer-body {
            img {
                display: block;
            }
        }

        .image-viewer-caption {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            background-color: rgba(0,0,0,0.8);
            color: var(--color-light-txt);
            padding: var(--global-spacing);
            z-index: 1;
        }
    }

    /**
     * Transition styles
     */
    .image-viewer-enter-from {
        opacity: 0;
    }

    .image-viewer-leave-active {
        opacity: 0;
    }

    .image-viewer-enter-from .image-viewer-container,
    .image-viewer-leave-active .image-viewer-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
