<template>
    <modal
        v-if="showModal"
        class="import-modal"
        :title="modalTitle"
        size="medium"
        @close="showModal = false">
        <template v-slot:body>
            <p>{{ $i18n.get('generic.import.info') }}</p>

            <a :href="templateUrl()" download>{{ $i18n.get('generic.import.download_example') }}</a>

            <file-upload-field
                id="import-file"
                :field="{
                    required: true,
                    extra_data: {
                        multiple: false,
                        mime_types: ['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet']
                    }
                }"
                v-model:model-value="importFile"
                v-model:invalid="uploadInvalid"/>

            <div class="import-errors" v-if="Object.keys(errors).length">
                <h4 class="danger-txt-color">{{ $i18n.get('generic.import.import_failed') }}</h4>
                <p>{{ $i18n.get('generic.import.import_failed_info') }}</p>
                <table>
                    <thead class="table-header">
                        <tr>
                            <th class="column">{{ $i18n.get('generic.import.row_number') }}</th>
                            <th class="column">{{ $i18n.get('generic.import.error_message') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(rowErrors, rowIndex) in errors">
                            <template v-for="errorFields in rowErrors">
                                <tr v-for="(error, errorIndex) in errorFields" :key="errorIndex" class="table-row">
                                    <td class="column">{{ rowIndex }}</td>
                                    <td class="column">{{ error }}</td>
                                </tr>
                            </template>
                        </template>
                    </tbody>
                </table>
            </div>
        </template>
        <template v-slot:footer>
            <button type="button" class="btn primary expand" :disabled="uploadInvalid" @click="onSubmit">{{ $i18n.get('actions.proceed') }}</button>
        </template>
    </modal>
</template>

<script>
import axios from 'axios';
import { defineAsyncComponent } from 'vue';

export default {
    components: {
        Modal: defineAsyncComponent(() => import('./Modal')),
        FileUploadField: defineAsyncComponent(() => import('./Fields/FileUploadField'))
    },

    props: {
        modalTitle: String,
        templateEndpoint: String,
        importEndpoint: String
    },

    emits: [
        'updated'
    ],

    data() {
        return {
            showModal: false,
            importFile: null,
            uploadInvalid: true,
            errors: {}
        };
    },

    methods: {
        show() {
            this.showModal = true;
        },

        hide() {
            this.showModal = false;
        },

        templateUrl() {
            return axios.defaults.baseURL + 'v1/' + this.templateEndpoint;
        },

        async onSubmit() {
            this.$loading.show();

            const file = this.importFile[0];

            this.$http.post(this.importEndpoint, {
                data: {
                    name: file.name,
                    base64: file.base64
                }
            }).then(response => {
                this.$emit('updated', []);
                this.importFile = null;
                this.hide();
                this.$loading.hide();
            }).catch(error => {
                if (
                    error.response &&
                    error.response.status === 422 &&
                    error.response.data.error_info.validation_errors &&
                    Object.keys(error.response.data.error_info.validation_errors).length
                ) {
                    this.errors = error.response.data.error_info.validation_errors;
                } else {
                    console.error(error);
                    this.$modal.show('error');
                }

                this.importFile = null;
                this.$loading.hide();
            });
        }
    }
};
</script>

<style scoped lang="scss">
    .import-errors {
        border-top: 5px solid var(--color-danger);
        margin-top: calc(var(--global-spacing) * 2);

        h4 {
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
            margin-bottom: var(--global-spacing);
        }
    }
</style>
