<template>
    <div class="infinite-scroll" ref="inifiteScroll">
        <div class="infinite-scroll-content">
            <slot name="content"></slot>
        </div>
        <div class="infinite-scroll-loader">
            <slot name="loader">
                <inline-loader v-if="isLoading"></inline-loader>
            </slot>
        </div>
    </div>
</template>

<script>
import InlineLoader from './InlineLoader';

export default {
    components: {
        InlineLoader
    },

    props: {
        disabled: Boolean,
        threshold: {
            type: String,
            default: () => '15%'
        },
        scrollElementSelector: {
            type: String,
            default: () => '#app'
        }
    },

    /**
     * The element to attach event listener to
     * @var {HTMLElement|null} scrollEl
     */
    scrollEl: null,

    emits: [
        'onInfinite'
    ],

    data() {
        return {
            didFire: false,
            isLoading: false,
            thrPx: 0,
            thrPc: 0
        };
    },

    watch: {
        'disabled': function (val, oldVal) {
            if (val && !oldVal) {
                this.disableScrollEvents();
            } else if (!val && oldVal) {
                this.enableScrollEvents(this.scrollElementSelector);
            }
        },

        'threshold': function (val) {
            this.setThreshold(val);
        }
    },

    mounted() {
        this.setThreshold(this.threshold);

        if (!this.disabled) {
            this.enableScrollEvents(this.scrollElementSelector);
        }
    },

    beforeUnmount()
    {
        this.disableScrollEvents();
    },

    methods: {
        enableScrollEvents(scrollElementSelector) {
            if (!scrollElementSelector) {
                console.error('InfiniteScroll: No scrollElementSelector defined');
                return;
            }

            this.$options.scrollEl = document.querySelector(scrollElementSelector);
            this.$options.scrollEl.addEventListener('scroll', this.onScroll);
        },

        disableScrollEvents() {
            if (this.$options.scrollEl) {
                this.$options.scrollEl.removeEventListener('scroll', this.onScroll);
            }

            this.$options.scrollEl = null;
        },

        setThreshold(val) {
            if (val.lastIndexOf('%') > -1) {
                this.thrPx = 0;
                this.thrPc = (parseFloat(val) / 100);
            } else {
                this.thrPx = parseFloat(val);
                this.thrPc = 0;
            }
        },

        canStart () {
            return (
                !this.disabled &&
                !!this.scrollElementSelector &&
                !this.isLoading
            );
        },

        onScroll(event) {
            const scrollEl = this.$options.scrollEl;
            if (!scrollEl || !this.canStart()) {
                return 1;
            }

            const infiniteHeight = this.$refs.inifiteScroll.offsetHeight;
            if (infiniteHeight === 0) {
                // if there is no height of this element then do nothing
                return 2;
            }

            const scrollTop = scrollEl.scrollTop;
            const height = scrollEl.offsetHeight;
            const threshold = this.thrPc !== 0 ? (height * this.thrPc) : this.thrPx;

            const distanceFromInfinite = infiniteHeight - scrollTop - threshold - height;

            if (distanceFromInfinite < 0) {
                if (!this.didFire) {
                    this.isLoading = true;
                    this.didFire = true;

                    this.$emit('onInfinite', {
                        complete: (function () {
                            this.onComplete();
                        }).bind(this)
                    });
                    return 3;
                }
            } else {
                this.didFire = false;
            }

            return 4;
        },

        onComplete() {
            this.isLoading = false;
        }
    }
};
</script>

<style scoped lang="scss">
.infinite-scroll {
    width: 100%;
}

.inline-loader-wrapper {
    margin-inline: auto;
}
</style>
