<template>
    <transition appear name="loader">
        <div class="inline-loader-wrapper">
            <div class="inline-loader-inner">
                <div class="loader"></div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
    .loader-mask {
        width: 100%;
        height: 100%;
        display: table;
        opacity: 1;
        transition: opacity .3s ease;
    }

    .loader-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .inline-loader-inner {
        min-height: 5em;
    }

    .loader {
        color: var(--spinner-color, var(--color-primary));
        font-size: 20px;
        width: 1em;
        height: 1em;
        position: relative;
        background: radial-gradient(farthest-side,var(--spinner-color, var(--color-primary)) 80%,#0000) 50% 0em/0.3em 0.3em no-repeat,
        radial-gradient(farthest-side,#0000 calc(100% - 0.3em),rgba(var(--spinner-color-rgb, var(--color-primary-rgb)) ,0.2) 0);
        animation: load5 1s infinite linear;
        border-radius: 50%;
        margin: 0 auto;
    }
    @keyframes load5 {
        0% { transform: rotate(0deg) }
        100% { transform: rotate(360deg) }
    }

    /**
     * Component transition styles
     */
    .loader-enter-from,
    .loader-leave-to {
        opacity: 0;
    }

    //.loader-leave-active {
    //    opacity: 0;
    //}

    .loader-enter-from .loader-wrapper,
    .loader-leave-active .loader-wrapper {
    }
</style>
