<template>
    <transition appear name="loader">
        <div class="loader-mask" v-if="isLoading">
            <div class="loader-wrapper">
                <div class="loader"></div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    beforeMount() {
        this.$loading.events.on('loading', this.onLoading);
    },

    data() {
        return {
            loadingCount: 0,
            isLoading: false
        };
    },

    methods: {
        onLoading(loading) {
            if (loading === true) {
                this.loadingCount++;

                if (this.loadingCount === 1) {
                    return this.show();
                }

            } else if (this.loadingCount > 0) {
                this.loadingCount--;

                if (this.loadingCount === 0) {
                    return this.hide();
                }
            }
        },

        show() {
            this.isLoading = true;
        },

        hide() {
            this.isLoading = false;
        }
    }
};
</script>

<style scoped lang="scss">
    .loader-mask {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        opacity: 1;
        transition: opacity .3s ease;
    }

    .loader-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .loader {
        color: var(--spinner-color, var(--color-primary));
        font-size: 30px;
        width: 1em;
        height: 1em;
        position: relative;
        background: radial-gradient(farthest-side,var(--spinner-color, var(--color-primary)) 80%,#0000) 50% 0em/0.3em 0.3em no-repeat,
        radial-gradient(farthest-side,#0000 calc(100% - 0.3em),rgba(var(--spinner-color-rgb, var(--color-primary-rgb)) ,0.1) 0);
        animation: load5 1s infinite linear;
        border-radius: 50%;
        margin: 0 auto;
    }

    @keyframes load5 {
        0% { transform: rotate(0deg) }
        100% { transform: rotate(360deg) }
    }

    /**
     * Component transition styles
     */
    .loader-enter-from,
    .loader-leave-to {
        opacity: 0;
    }

    //.loader-enter-active,
    //.loader-leave-active {
    //    opacity: 0;
    //}

    .loader-enter-from .loader-wrapper,
    .loader-leave-active .loader-wrapper {
    }
</style>
