<template>
    <transition appear name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container box" v-bind:class="[{'has-footer': $slots.footer}, size, type, customClass]">
                    <div class="modal-header">
                        <slot name="header">
                            <div class="default-header">
                                <page-title v-if="title" :title="title" :pre-title="preTitle" :title-style="titleStyle"></page-title>

                                <button v-if="showCloseBtn" type="button" class="modal-close-button" @click="$emit('close')">
                                    <close-icon class="icon-2x"></close-icon>
                                </button>
                            </div>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>

                    <div class="modal-footer" v-if="$slots.footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import { defineAsyncComponent } from 'vue';

export default {
    props: {
        title: String,
        preTitle: String,
        titleStyle: {
            type: String,
            default: function() {
                return 'normal';
            },
            validator: function(value) {
                return ['normal', 'primary', 'danger', 'warning'].includes(value);
            }
        },
        type: {
            type: String,
            default: function() {
                return 'normal';
            },
            validator: function(value) {
                return ['normal', 'danger', 'warning'].includes(value);
            }
        },
        size: {
            type: String,
            default: function() {
                return 'medium';
            },
            validator: function(value) {
                return ['small', 'medium', 'large', 'huge'].includes(value);
            }
        },
        showCloseBtn: {
            type: Boolean,
            default: function() {
                return true;
            }
        },
        customClass: String
    },

    emits: [
        'close'
    ],

    components: {
        CloseIcon: defineAsyncComponent(() => import('../Icons/Close')),
        PageTitle: defineAsyncComponent(() => import('./PageTitle'))
    }
};
</script>

<style scoped lang="scss">
    .modal-mask {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(4px);
        display: table;
        transition: opacity .3s ease, backdrop-filter .3s ease;

        @media (max-height: 820px) {
            display: block;
            overflow-y: auto;
        }
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
        padding: var(--global-spacing-double);

        @media (max-width: 629px) {
            padding: 5px;
        }

        @media (max-height: 820px) {
            display: block;
        }
    }

    .modal-container {
        width: 100%;
        max-height: calc(100vh - 60px);
        // max-height: 100%;
        margin: 0 auto;
        border-radius: var(--global-radius);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        background-color: var(--color-content-bg);
        transition: all .3s ease;
        display: flex;
        flex-direction: column;

        @media (max-height: 820px) {
            max-height: none;
        }

        &.small {
            max-width: 350px;
        }

        &.medium {
            max-width: 600px;
        }

        &.large {
            max-width: 1000px;
        }

        &.huge {
            max-width: 1200px;
        }

        .modal-header {
            flex-shrink: 1;
            flex-basis: auto;
            padding: var(--global-spacing-double);
            padding-bottom: var(--global-spacing);

            @media (max-width: 629px) {
                padding: var(--global-spacing);
            }

            .default-header {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                button {
                    flex-shrink: 1;
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    outline: none;
                }
            }
        }

        .modal-body {
            flex-grow: 1;
            flex-basis: auto;
            padding: var(--global-spacing-double);
            padding-top: 0;
            overflow: auto;

            @media (max-width: 629px) {
                padding: var(--global-spacing);
                padding-top: 0;
            }
        }

        /*
        &.has-footer {
            .modal-body {
                padding-bottom: 0;
            }
        }
        */

        .modal-footer {
            flex-shrink: 1;
            flex-basis: auto;
            padding: var(--global-spacing);
            padding-top: 0;
        }
    }

    /**
     * Transition styles
     */
    .modal-enter-from,
    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter-from .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
