<template>
    <div class="model-form" v-if="orderedFieldGroups">
        <template v-for="fieldRootGroup in orderedFieldGroups">
            <template v-if="fieldRootGroup.tabbed">
                <segment v-bind:key="'segment-' + fieldRootGroup.key" :segments="fieldRootGroup.field_groups" v-model:model-value="activeTabs[fieldRootGroup.tabbed]"></segment>
            </template>

            <template v-for="fieldGroup in fieldRootGroup.field_groups" :key="fieldGroup.key">
                <div
                    v-if="!fieldGroup.tabbed || activeTabs[fieldRootGroup.tabbed] === fieldGroup.key"
                    v-bind:key="fieldGroup.key"
                    class="field-group"
                    :class="['field-group-' + fieldGroup.key, (fieldGroup.tabbed) ? 'tabbed' : '']">
                    <slot name="fieldgroup-start" v-bind:fieldGroup="fieldGroup"></slot>

                    <slot name="field-group-header" v-bind:fieldGroup="fieldGroup">
                        <template v-if="!fieldGroup.tabbed">
                            <h4 class="field-group-header" v-if="fieldGroup.label">{{ fieldGroup.label }}</h4>
                            <p class="field-group-description" v-if="fieldGroup.description">{{ fieldGroup.description }}</p>
                        </template>
                    </slot>

                    <template v-for="field in fieldGroup.fields">
                        <slot
                            name="before-field"
                            v-bind:field="field"
                            v-bind:id="id + '-' + field.name"
                            v-bind:value="model[field.name]">
                        </slot>

                        <slot
                            name="field"
                            v-bind:field="field"
                            v-bind:id="id + '-' + field.name"
                            v-bind:value="model[field.name]">
                            <component
                                v-if="
                                    field.input_type !== 'nested-fields' &&
                                    field.input_type !== 'repeatable-nested-fields' &&
                                    field.input_type !== 'relation-list' &&
                                    !field.hidden && (!field.hidden_on || !field.hidden_on.includes(mode))
                                "
                                :is="field.input_type + '-field'"
                                :id="id + '-' + field.name"
                                :model-id="model.id"
                                :full-model="model"
                                :field="field"
                                v-model:invalid="invalidFields[field.name]"
                                :errors="errors[field.name]"
                                v-model:uploading="uploading[field.name]"
                                v-model:model-value="model[field.name]">
                            </component>
                            <component
                                v-else-if="
                                    (field.input_type === 'nested-fields' || field.input_type === 'repeatable-nested-fields') &&
                                    field.input_type !== 'relation-list' &&
                                    !field.hidden && (!field.hidden_on || !field.hidden_on.includes(mode))
                                "
                                :is="field.input_type + '-field'"
                                :id="id + '-' + field.name"
                                :model-id="model.id"
                                :full-model="model"
                                :field="field"
                                v-model:invalid="invalidFields[field.name]"
                                :errors="errors"
                                v-model:model-value="model[field.name]">
                            </component>
                        </slot>

                        <slot
                            name="after-field"
                            v-bind:field="field"
                            v-bind:id="id + '-' + field.name"
                            v-bind:value="model[field.name]">
                        </slot>
                    </template>

                    <slot name="fieldgroup-end" v-bind:fieldGroup="fieldGroup"></slot>
                </div>
            </template>
        </template>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import orderBy from 'lodash/orderBy';
import some from 'lodash/some';
import find from 'lodash/find';

export default {
    props: {
        definition: {
            type: Object,
            validator: function(value) {
                return value.hasOwnProperty('field_groups');
            }
        },
        mode: {
            type: String,
            default: function() {
                return 'add';
            },
            validator: function(value) {
                return ['view', 'add', 'edit'].includes(value);
            }
        },
        model: {
            type: Object,
            default: function() {
                return {};
            }
        },
        id: {
            type: String,
            default: function() {
                return Date.now().toString();
            }
        },
        errors: {
            type: Object,
            default: function() {
                return {};
            }
        },
        uploading: {
            type: Object,
            default: function() {
                return {};
            }
        }
    },

    emits: [
        'update:invalidFields',
        'update:invalid',
        'update:uploading'
    ],

    components: {
        TextField: defineAsyncComponent(() => import('./Fields/TextField')),
        DateField: defineAsyncComponent(() => import('./Fields/DateField')),
        TelField: defineAsyncComponent(() => import('./Fields/TelField')),
        TextareaField: defineAsyncComponent(() => import('./Fields/TextareaField')),
        WysiwygField: defineAsyncComponent(() => import('./Fields/WysiwygField')),
        EmailField: defineAsyncComponent(() => import('./Fields/EmailField')),
        BooleanField: defineAsyncComponent(() => import('./Fields/BooleanField')),
        RadioField: defineAsyncComponent(() => import('./Fields/RadioField')),
        CheckboxField: defineAsyncComponent(() => import('./Fields/CheckboxField')),
        SelectField: defineAsyncComponent(() => import('./Fields/SelectField')),
        NumberField: defineAsyncComponent(() => import('./Fields/NumberField')),
        ImageUploadField: defineAsyncComponent(() => import('./Fields/ImageUploadField')),
        FileUploadField: defineAsyncComponent(() => import('./Fields/FileUploadField')),
        ModelSearchField: defineAsyncComponent(() => import('./Fields/ModelSearchField')),
        NestedFieldsField: defineAsyncComponent(() => import('./Fields/NestedFieldsField')),
        RepeatableNestedFieldsField: defineAsyncComponent(() => import('./Fields/RepeatableNestedFieldsField')),
        Segment: defineAsyncComponent(() => import('./Segment'))
    },

    data() {
        return {
            invalid: null,
            invalidFields: {},
            activeTabs: {}
        };
    },

    computed: {
        orderedFieldGroups: function() {
            const flatGroups = (this.definition) ? orderBy(this.definition.field_groups, ['order', 'tabbed'], 'asc') : null;
            const formatted = [];

            // To avoid looping multiple times having duplicate code in the template,
            // we want to make the structue are similar as possible for both tabbed groups and normal ones.
            // So we'll loop the same way for both in the template
            if (flatGroups) {
                for (const group of flatGroups) {
                    if (group.key === 'relations') {
                        continue;
                    }

                    if (group.tabbed) {
                        const tabGroup = find(formatted, ['tabbed', group.tabbed]);
                        if (!tabGroup) {
                            formatted.push({
                                key: group.tabbed,
                                tabbed: group.tabbed,
                                order: group.order,
                                field_groups: [
                                    group
                                ]
                            });
                        } else {
                            tabGroup.field_groups.push(group);
                        }
                    } else {
                        formatted.push({
                            key: group.key,
                            tabbed: false,
                            order: group.order,
                            field_groups: [
                                group
                            ]
                        });
                    }
                }
            }

            return formatted;
        }
    },

    watch: {
        invalidFields: {
            deep: true,
            handler: function(newVal) {
                this.invalid = some(newVal);
                this.$emit('update:invalidFields', newVal);
            }
        },

        invalid: function(newVal) {
            this.$emit('update:invalid', newVal);
        },

        uploading: function(newVal) {
            this.$emit('update:uploading', newVal);
        }
    }

};
</script>

<style scoped lang="scss">

</style>
