<template>
    <div class="model-list">
        <inline-loader v-if="isLoadingInitial"></inline-loader>

        <template v-else-if="rows && rows.length">
            <table class="model-list-inner">
                <thead>
                    <tr class="header table-header">
                        <th
                            v-for="(title, column) in columns"
                            :key="column"
                            :id="column + '-header'"
                            class="header-column column"
                            :class="{'sortable': (typeof title === 'string' || !title.hasOwnProperty('sortable') || title.sortable)}"
                            @click="order(column)">

                            <div class="header-column-inner">
                                <template v-if="typeof title === 'string'">
                                    {{ title }}
                                </template>
                                <template v-else>
                                    {{ title.label }}
                                </template>

                                <template v-if="orderBy[column] === 'asc'">
                                    <chevron-down-icon class="icon-2x"></chevron-down-icon>
                                </template>
                                <template v-else-if="orderBy[column] === 'desc'">
                                    <chevron-up-icon class="icon-2x"></chevron-up-icon>
                                </template>
                            </div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <template v-for="row in rows" :key="row.id">
                        <slot name="before-row" v-bind:row="row"></slot>
                        <slot name="row" v-bind:row="row">
                            <tr class="row table-row" :key="row.id">
                                <td class="column" v-for="(title, column) in columns" :key="column" :class="[column + '-column']" @click="$emit('columnClick', row, column, title)">
                                    <slot name="before-column-value" v-bind:row="row" v-bind:column="column" v-bind:rawValue="row[column]"></slot>
                                    <slot name="column" v-bind:row="row" v-bind:column="column" v-bind:rawValue="row[column]" v-bind:columnFormattedValue="formatColumn(row[column], title)">
                                        {{ formatColumn(row[column], title) }}
                                    </slot>
                                </td>

                                <td class="column actions" v-if="$slots.actions">
                                    <slot name="actions" v-bind:row="row"></slot>
                                </td>
                            </tr>
                        </slot>
                        <slot name="after-row" v-bind:row="row"></slot>
                    </template>
                </tbody>
            </table>

            <slot name="pagination" v-bind:pagination="pagination">
                <div class="pagination" v-if="pagination.lastPage > 1">
                    <template v-if="appendPages">
                        <inline-loader v-if="isLoadingInline"></inline-loader>

                        <button
                            class="btn primary"
                            type="button"
                            v-if="!isLoadingInline && pagination.lastPage > pagination.currentPage"
                            @click="loadPage(pagination.currentPage + 1, true)">
                            {{ $i18n.get('actions.load_more') }}
                        </button>
                    </template>
                    <template v-else-if="!appendPages">
                        <button v-if="pagination.lastPage > 4" class="btn hollow" :title="$i18n.get('pagination.first')" :disabled="pagination.currentPage === 1" type="button" @click="loadPage(1)">
                            <page-first-icon></page-first-icon>
                        </button>
                        <button type="button" class="btn hollow" :title="$i18n.get('pagination.previous')" :disabled="pagination.currentPage === 1" @click="loadPage(pagination.currentPage - 1)">
                            <chevron-double-left-icon :title="$i18n.get('pagination.previous')"></chevron-double-left-icon>
                        </button>

                        <span v-if="pages[0] > 1">...</span>

                        <button v-for="page in pages" :key="page" type="button" class="page btn" :class="[(page === pagination.currentPage) ? 'current primary' : 'hollow']" @click="loadPage(page)">
                            {{ page }}
                        </button>

                        <span v-if="pages.slice(-1)[0] < pagination.lastPage">...</span>

                        <button type="button" class="btn hollow" :title="$i18n.get('pagination.next')" :disabled="pagination.currentPage === pagination.lastPage" @click="loadPage(pagination.currentPage + 1)">
                            <chevron-double-right-icon :title="$i18n.get('pagination.next')"></chevron-double-right-icon>
                        </button>
                        <button v-if="pagination.lastPage > 4" class="btn hollow" :title="$i18n.get('pagination.last')" :disabled="pagination.currentPage === pagination.lastPage" type="button" @click="loadPage(pagination.lastPage)">
                            <page-last-icon></page-last-icon>
                        </button>
                    </template>
                </div>
            </slot>
        </template>

        <div class="no-result" v-else>
            {{ $i18n.get('generic.no_result') }}
        </div>
    </div>
</template>

<script>
import {modelListMixin} from '../Mixins/modelListMixin';

export default {
    mixins: [modelListMixin]
};
</script>

<style scoped lang="scss">
</style>
