<template>
    <div class="page-title" :class="{
        'has-pre-title': (preTitle),
        'has-sub-title': (subTitle)
    }">
        <template v-if="size === 'small'">
            <h5 class="pre-title" v-if="preTitle">{{ preTitle }}</h5>
            <h3 class="stylized main-title" :class="[
                titleStyle,
                {
                    'has-pre-title': (preTitle),
                    'has-sub-title': (subTitle)
                }
            ]">{{ title }}</h3>
        </template>
        <template v-else-if="size === 'big'">
            <h4 class="pre-title" v-if="preTitle">{{ preTitle }}</h4>
            <h2 class="stylized main-title" :class="[
                titleStyle,
                {
                    'has-pre-title': (preTitle),
                    'has-sub-title': (subTitle)
                }
            ]">{{ title }}</h2>
        </template>

        <em v-if="subTitle">{{ subTitle }}</em>
    </div>
</template>

<script>
export default {
    props: {
        title: String,
        preTitle: String,
        subTitle: String,
        titleStyle: {
            type: String,
            default: function() {
                return 'normal';
            },
            validator: function(value) {
                return ['normal', 'primary', 'danger', 'warning'].includes(value);
            }
        },
        size: {
            type: String,
            default: function() {
                return 'small';
            },
            validator: function(value) {
                return ['small', 'big'].includes(value);
            }
        }
    },
};
</script>

<style scoped lang="scss">
    .pre-title,
    .main-title {
        margin: 0;
    }

    .pre-title {
        font-weight: normal;
    }

    .has-pre-title {
        h2.main-title {
            max-width: var(--max-content-width);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    em {
        color: var(--color-medium);
    }
</style>
