<template>
    <div class="relation-list">
        <div class="toolbar">
            <div class="field-wrap search">
                <input type="text" class="field" v-model="search" :placeholder="$i18n.get('actions.search')">
            </div>

            <div class="field-wrap">
                <button class="add-row btn hollow-primary" @click="openAdd">
                    {{ $i18n.get('actions.add') }}
                </button>
            </div>
        </div>

        <model-list
            ref="modelList"
            :endpoint="endpoint"
            :custom-params="customParams"
            :columns="listColumns"
            :search-query="search"
            :search-columns="searchColumns">
            <template v-slot:actions="{row}">
                <button class="btn action edit" :title="$i18n.get('actions.edit')" @click="openEdit(row)" v-if="actions.edit">
                    <pencil-icon class="icon-1-5x" :title="$i18n.get('actions.edit')"/>
                </button>
                <button class="btn action delete" :title="$i18n.get('actions.remove')" @click="submitDelete(row)" v-if="actions.delete">
                    <delete-icon class="icon-1-5x" :title="$i18n.get('actions.remove')"/>
                </button>
            </template>
        </model-list>

        <modal v-if="showForm" :title="modalTitle" size="large" @close="showForm = false">
            <template v-slot:body>
                <div class="modal-form">
                    <form @submit.prevent="onSubmit($event)">
                        <model-form
                            :definition="definition"
                            :model="model"
                            :errors="errors"
                            v-model:invalid="invalid">
                        </model-form>
                    </form>
                </div>
            </template>

            <template v-slot:footer>
                <div class="button-toolbar">
                    <button v-if="model.id && actions.delete" type="button" class="btn hollow-danger" @click="submitDelete(model)">{{ $i18n.get('actions.remove') }}</button>
                    <button v-else type="button" class="btn hollow" @click="showForm = false">{{ $i18n.get('actions.cancel') }}</button>
                    <button type="button" class="btn primary" @click="onSubmit($event)">{{ $i18n.get('actions.save') }}</button>
                </div>
            </template>
        </modal>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
import { addOrEditMixin } from '../Mixins/addOrEditMixin';
import i18n from '../Helpers/i18n';
import cloneDeep from 'lodash/cloneDeep';

export default {
    mixins: [addOrEditMixin],

    components: {
        Modal: defineAsyncComponent(() => import('./Modal')),
        ModelForm: defineAsyncComponent(() => import('./ModelForm')),
        ModelList: defineAsyncComponent(() => import('./ModelList')),
        DeleteIcon: defineAsyncComponent(() => import('../Icons/Delete')),
        PencilIcon: defineAsyncComponent(() => import('../Icons/Pencil'))
    },

    props: {
        defaultModelData: {
            type: Object,
            default: function() {
                return {};
            }
        },
        listColumns: {
            type: Object,
            default: function() {
                return {
                    name: i18n.get('fields.name')
                };
            }
        },
        searchColumns: String,
        customParams: Object,
        actions: {
            type: Object,
            default: function() {
                return {
                    edit: true,
                    delete: true
                };
            }
        },
        onBeforeDefinitionSet: {
            type: Function,
            default: function (definition) {
                return definition;
            }
        },
        onBeforeModelSet: {
            type: Function,
            default: function (data) {
                return data;
            }
        }
    },

    data() {
        return {
            model: cloneDeep(this.defaultModelData),
            search: '',
            showForm: false,
            modalTitle: ''
        };
    },

    methods: {
        openAdd() {
            this.modalTitle = this.$i18n.get('actions.create_attr', {
                attribute: this.modelNameSingular.toLowerCase()
            });
            this.model = cloneDeep(this.defaultModelData);
            this.showForm = true;
        },

        async openEdit(row) {
            this.$loading.show();
            await this.load(row.id);
            this.modalTitle = this.$i18n.get('actions.edit_attr', {
                attribute: this.modelNameSingular.toLowerCase()
            });
            this.showForm = true;
            this.$loading.hide();
        },

        async onAdd() {
            this.$loading.show();
            this.showForm = false;
            await this.$refs.modelList.load();
            this.$loading.hide();
        },

        async onEdit() {
            this.$loading.show();
            this.showForm = false;
            await this.$refs.modelList.load();
            this.$loading.hide();
        },

        async onDelete() {
            this.$loading.show();
            this.showForm = false;
            await this.$refs.modelList.load();
            this.$loading.hide();
        },

        beforeDefinitionSet(definition) {
            return this.onBeforeDefinitionSet(definition);
        },

        beforeModelSet(data) {
            return this.onBeforeModelSet(data);
        },
    }
};
</script>

<style scoped lang="scss">
    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .relation-list :deep(.modal-container .modal-body) {
        overflow: visible;
    }

    .model-list {
        padding-top: var(--global-spacing);
        background-color: var(--color-content-bg);
        border-radius: var(--global-radius);
        box-shadow: var(--global-shadow);
        overflow: hidden;
    }
</style>
