<template>
    <div class="segment">
        <div class="option" v-for="segment in segments" :key="segment.key" @click="selected = segment.key" :class="{'selected': selected === segment.key}">
            {{ segment.label }}
        </div>
    </div>
</template>

<script>
export default {
    props: {
        segments: {
            type: Array,
            default: function() {
                return [];
            }
        },
        modelValue: String
    },

    emits: [
        'update:modelValue'
    ],

    data() {
        return {
            selected: null
        };
    },

    mounted() {
        if (this.segments) {
            this.selected = (this.modelValue) ? this.modelValue : this.segments[0].key;
        }
    },

    watch: {
        selected: function(val) {
            this.$emit('update:modelValue', val);
        }
    }
};
</script>

<style scoped lang="scss">
    .segment {
        display: flex;
        align-items: center;
        justify-content: stretch;
        width: 100%;
        margin-bottom: calc(var(--global-spacing) * 2);
    }

    .option {
        display: block;
        width: 100%;
        cursor: pointer;
        text-align: left;
        padding: calc(var(--global-spacing) / 2) var(--global-spacing) calc(var(--global-spacing) / 2) 0;
        border-bottom: 2px solid var(--color-medium);
        user-select: none;

        &.selected {
            border-color: var(--color-primary);
            font-weight: bold;
        }
    }
</style>
