<template>
    <div id="toasts">
        <transition-group name="slide-fade" mode="out-in" tag="div">
            <div v-for="toast in toasts" class="toast" :class="[toast.type]" :key="toast.id">
                <span class="toast-title" v-if="toast.title">
                    {{ toast.title }}
                </span>
                <span class="toast-message" v-if="toast.message">
                    {{ toast.message }}
                </span>
            </div>
        </transition-group>
    </div>
</template>

<script>
export default {
    data() {
        return {
            toasts: []
        };
    },

    beforeMount() {
        this.$toast.events.on('show', (event) => {
            this.show(...Object.values(event));
        });
    },

    methods: {
        show(title, message, type = 'normal', duration = 5000) {
            const toast = {
                id: Date.now() + Math.floor(Math.random() * Math.floor(500)),
                type: type,
                title: title,
                message: message
            };

            this.toasts.push(toast);

            setTimeout(() => {
                // safety measure if the node has been disconnected
                try {
                    if (
                        this.toasts &&
                        this.toasts.length &&
                        toast
                    ) {
                        this.toasts = this.toasts.filter(existingToast => existingToast.id !== toast.id);
                    }
                } catch (err) {
                    // no message
                }
            }, duration);
        }
    }
};
</script>

<style scoped lang="scss">
    #toasts {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;

        .toast {
            background-color: #fff;
            border-left: 2px solid var(--color-dark);
            border-top: 2px solid var(--color-dark);
            border-bottom: 2px solid var(--color-dark);
            padding: var(--global-spacing);
            color: var(--color-dark);
            display: block;
            width: 300px;
            margin-bottom: var(--global-spacing);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            border-top-left-radius: var(--global-radius);
            border-bottom-left-radius: var(--global-radius);

            .toast-title {
                font-weight: bold;
                display: block;
            }

            .toast-message {
                display: block;
            }

            &.success {
                border-color: var(--color-primary);
            }

            &.error {
                border-color: var(--color-danger);
            }
        }
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter-from, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(50px);
        opacity: 0;
    }
</style>
